<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the asset_billing_details_init() hook (in hooks/asset_billing_details.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="asset_billing_details-asset_biling_details_id-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-asset_biling_details_id text-right"><%%SELECT%%><%%VALUE(asset_biling_details_id)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-asset_lookup-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-asset_lookup"><%%SELECT%%><%%VALUE(asset_lookup)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-po_no-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-po_no"><%%SELECT%%><%%VALUE(po_no)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-po_date-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-po_date"><%%SELECT%%><%%VALUE(po_date)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-particulars_of_supplier-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-particulars_of_supplier"><%%SELECT%%><%%VALUE(particulars_of_supplier)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-item_description-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-item_description"><%%SELECT%%><%%VALUE(item_description)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-bill_no-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-bill_no"><%%SELECT%%><%%VALUE(bill_no)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-bill_date-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-bill_date"><%%SELECT%%><%%VALUE(bill_date)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-quantity-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-quantity"><%%SELECT%%><%%VALUE(quantity)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-total_invoice_value-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-total_invoice_value"><%%SELECT%%><%%VALUE(total_invoice_value)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-cost_of_the_asset-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-cost_of_the_asset"><%%SELECT%%><%%VALUE(cost_of_the_asset)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-image-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-image"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(image)%%>" data-lightbox="asset_billing_details-image"><img src="thumbnail.php?i=<%%VALUE(image)%%>&t=asset_billing_details&f=image&v=tv" class="img-thumbnail"></a></td>
		<td id="asset_billing_details-created_by-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-created_at-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-last_updated_by-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></td>
		<td id="asset_billing_details-last_updated_at-<%%VALUE(asset_biling_details_id)%%>" class="asset_billing_details-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></td>
