<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the asset_table_init() hook (in hooks/asset_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="asset_table-id-<%%VALUE(id)%%>" class="asset_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="asset_table-Date-<%%VALUE(id)%%>" class="asset_table-Date text-bold"><%%VALUE(Date)%%></td>
		<td id="asset_table-ClassificationofAssest-<%%VALUE(id)%%>" class="asset_table-ClassificationofAssest text-bold"><%%VALUE(ClassificationofAssest)%%></td>
		<td id="asset_table-SubCategory-<%%VALUE(id)%%>" class="asset_table-SubCategory text-bold"><%%VALUE(SubCategory)%%></td>
		<td id="asset_table-AssetSerialNo-<%%VALUE(id)%%>" class="asset_table-AssetSerialNo text-bold"><%%VALUE(AssetSerialNo)%%></td>
		<td id="asset_table-QRBarCode-<%%VALUE(id)%%>" class="asset_table-QRBarCode text-bold"><%%VALUE(QRBarCode)%%></td>
		<td id="asset_table-AssetNo-<%%VALUE(id)%%>" class="asset_table-AssetNo text-bold"><%%VALUE(AssetNo)%%></td>
		<td id="asset_table-PONO-<%%VALUE(id)%%>" class="asset_table-PONO text-bold"><%%VALUE(PONO)%%></td>
		<td id="asset_table-PODATE-<%%VALUE(id)%%>" class="asset_table-PODATE text-bold"><%%VALUE(PODATE)%%></td>
		<td id="asset_table-PARTICULARSOFSUPPLIERVENDORNAMEANDADDRESS-<%%VALUE(id)%%>" class="asset_table-PARTICULARSOFSUPPLIERVENDORNAMEANDADDRESS text-bold"><%%VALUE(PARTICULARSOFSUPPLIERVENDORNAMEANDADDRESS)%%></td>
		<td id="asset_table-ItemDescription-<%%VALUE(id)%%>" class="asset_table-ItemDescription text-bold"><%%VALUE(ItemDescription)%%></td>
		<td id="asset_table-BillNo-<%%VALUE(id)%%>" class="asset_table-BillNo text-bold"><%%VALUE(BillNo)%%></td>
		<td id="asset_table-BillDate-<%%VALUE(id)%%>" class="asset_table-BillDate text-bold"><%%VALUE(BillDate)%%></td>
		<td id="asset_table-QUANTITY-<%%VALUE(id)%%>" class="asset_table-QUANTITY text-bold"><%%VALUE(QUANTITY)%%></td>
		<td id="asset_table-CostoftheAsset-<%%VALUE(id)%%>" class="asset_table-CostoftheAsset text-bold"><%%VALUE(CostoftheAsset)%%></td>
		<td id="asset_table-image-<%%VALUE(id)%%>" class="asset_table-image text-bold"><%%VALUE(image)%%></td>
		<td id="asset_table-TotalInvoiceValue-<%%VALUE(id)%%>" class="asset_table-TotalInvoiceValue text-bold"><%%VALUE(TotalInvoiceValue)%%></td>
		<td id="asset_table-CustodyDepartment-<%%VALUE(id)%%>" class="asset_table-CustodyDepartment text-bold"><%%VALUE(CustodyDepartment)%%></td>
		<td id="asset_table-Custodian-<%%VALUE(id)%%>" class="asset_table-Custodian text-bold"><%%VALUE(Custodian)%%></td>
		<td id="asset_table-CustodianSignature-<%%VALUE(id)%%>" class="asset_table-CustodianSignature text-bold"><%%VALUE(CustodianSignature)%%></td>
		<td id="asset_table-noofyearsUsefulLifeofAssets-<%%VALUE(id)%%>" class="asset_table-noofyearsUsefulLifeofAssets text-bold"><%%VALUE(noofyearsUsefulLifeofAssets)%%></td>
		<td id="asset_table-DateofusefullifeofAssetsends-<%%VALUE(id)%%>" class="asset_table-DateofusefullifeofAssetsends text-bold"><%%VALUE(DateofusefullifeofAssetsends)%%></td>
		<td id="asset_table-PVStatus-<%%VALUE(id)%%>" class="asset_table-PVStatus text-bold"><%%VALUE(PVStatus)%%></td>
		<td id="asset_table-Remarks-<%%VALUE(id)%%>" class="asset_table-Remarks text-bold"><%%VALUE(Remarks)%%></td>
		<td id="asset_table-created_by-<%%VALUE(id)%%>" class="asset_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="asset_table-created_at-<%%VALUE(id)%%>" class="asset_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="asset_table-last_updated_by-<%%VALUE(id)%%>" class="asset_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="asset_table-last_updated_at-<%%VALUE(id)%%>" class="asset_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
