<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the sdp_participants_college_details_table_init() hook (in hooks/sdp_participants_college_details_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="sdp_participants_college_details_table-id-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="sdp_participants_college_details_table-participants_type-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-participants_type text-bold"><%%VALUE(participants_type)%%></td>
		<td id="sdp_participants_college_details_table-school_college_name-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-school_college_name text-bold"><%%VALUE(school_college_name)%%></td>
		<td id="sdp_participants_college_details_table-location-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-location text-bold"><%%VALUE(location)%%></td>
		<td id="sdp_participants_college_details_table-latitude-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-latitude text-bold"><%%VALUE(latitude)%%></td>
		<td id="sdp_participants_college_details_table-longitude-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-longitude text-bold"><%%VALUE(longitude)%%></td>
		<td id="sdp_participants_college_details_table-number_of_participants-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-number_of_participants text-bold"><%%VALUE(number_of_participants)%%></td>
		<td id="sdp_participants_college_details_table-start_date-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-start_date text-bold"><%%VALUE(start_date)%%></td>
		<td id="sdp_participants_college_details_table-end_date-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-end_date text-bold"><%%VALUE(end_date)%%></td>
		<td id="sdp_participants_college_details_table-state-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-state text-bold"><%%VALUE(state)%%></td>
		<td id="sdp_participants_college_details_table-created_by-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="sdp_participants_college_details_table-created_at-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="sdp_participants_college_details_table-last_updated_by-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="sdp_participants_college_details_table-last_updated_at-<%%VALUE(id)%%>" class="sdp_participants_college_details_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
