<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the action_actor_init() hook (in hooks/action_actor.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="action_actor-actor_ID-<%%VALUE(actor_ID)%%>" class="action_actor-actor_ID text-bold"><%%VALUE(actor_ID)%%></td>
		<td id="action_actor-action_str-<%%VALUE(actor_ID)%%>" class="action_actor-action_str text-bold"><%%VALUE(action_str)%%></td>
		<td id="action_actor-actor-<%%VALUE(actor_ID)%%>" class="action_actor-actor text-bold"><%%VALUE(actor)%%></td>
		<td id="action_actor-action_status-<%%VALUE(actor_ID)%%>" class="action_actor-action_status text-bold"><%%VALUE(action_status)%%></td>
		<td id="action_actor-created_by-<%%VALUE(actor_ID)%%>" class="action_actor-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="action_actor-created_at-<%%VALUE(actor_ID)%%>" class="action_actor-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="action_actor-last_updated_by-<%%VALUE(actor_ID)%%>" class="action_actor-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="action_actor-last_updated_at-<%%VALUE(actor_ID)%%>" class="action_actor-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
