		<td colspan="9" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="action_actor-actor_ID-caption field-caption-tv">ID</dt>
					<dd id="action_actor-actor_ID-<%%VALUE(actor_ID)%%>" class="action_actor-actor_ID text-bold"><%%VALUE(actor_ID)%%></dd>

					<dt class="action_actor-actor-caption field-caption-tv">Actor</dt>
					<dd id="action_actor-actor-<%%VALUE(actor_ID)%%>" class="action_actor-actor text-bold"><%%VALUE(actor)%%></dd>

					<dt class="action_actor-action_status-caption field-caption-tv">Action status</dt>
					<dd id="action_actor-action_status-<%%VALUE(actor_ID)%%>" class="action_actor-action_status text-bold"><%%VALUE(action_status)%%></dd>

					<dt class="action_actor-created_by-caption field-caption-tv">Created By</dt>
					<dd id="action_actor-created_by-<%%VALUE(actor_ID)%%>" class="action_actor-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="action_actor-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="action_actor-last_updated_by-<%%VALUE(actor_ID)%%>" class="action_actor-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="action_actor-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="action_actor-created_by_username-<%%VALUE(actor_ID)%%>" class="action_actor-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="action_actor-created_at-caption field-caption-tv">Created At</dt>
					<dd id="action_actor-created_at-<%%VALUE(actor_ID)%%>" class="action_actor-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="action_actor-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="action_actor-last_updated_by_username-<%%VALUE(actor_ID)%%>" class="action_actor-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="action_actor-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="action_actor-last_updated_at-<%%VALUE(actor_ID)%%>" class="action_actor-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
