		<td colspan="9" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="agenda_table-agenda_id-caption field-caption-tv">ID</dt>
					<dd id="agenda_table-agenda_id-<%%VALUE(agenda_id)%%>" class="agenda_table-agenda_id text-right text-bold"><%%VALUE(agenda_id)%%></dd>

					<dt class="agenda_table-meeting_lookup-caption field-caption-tv">Meeting</dt>
					<dd id="agenda_table-meeting_lookup-<%%VALUE(agenda_id)%%>" class="agenda_table-meeting_lookup text-bold"><%%VALUE(meeting_lookup)%%></dd>

					<dt class="agenda_table-agenda_description-caption field-caption-tv">Agenda description</dt>
					<dd id="agenda_table-agenda_description-<%%VALUE(agenda_id)%%>" class="agenda_table-agenda_description text-bold"><%%VALUE(agenda_description)%%></dd>

					<dt class="agenda_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="agenda_table-created_by-<%%VALUE(agenda_id)%%>" class="agenda_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="agenda_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="agenda_table-last_updated_by-<%%VALUE(agenda_id)%%>" class="agenda_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="agenda_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="agenda_table-created_by_username-<%%VALUE(agenda_id)%%>" class="agenda_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="agenda_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="agenda_table-created_at-<%%VALUE(agenda_id)%%>" class="agenda_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="agenda_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="agenda_table-last_updated_by_username-<%%VALUE(agenda_id)%%>" class="agenda_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="agenda_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="agenda_table-last_updated_at-<%%VALUE(agenda_id)%%>" class="agenda_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
