		<td colspan="20" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="all_bank_account_statement_table-all_bank_account_statement_id-caption field-caption-tv">ID</dt>
					<dd id="all_bank_account_statement_table-all_bank_account_statement_id-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-all_bank_account_statement_id text-right text-bold"><%%VALUE(all_bank_account_statement_id)%%></dd>

					<dt class="all_bank_account_statement_table-statement_type-caption field-caption-tv">Select statement type</dt>
					<dd id="all_bank_account_statement_table-statement_type-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-statement_type text-bold"><%%VALUE(statement_type)%%></dd>

					<dt class="all_bank_account_statement_table-txn_date-caption field-caption-tv">Txn date</dt>
					<dd id="all_bank_account_statement_table-txn_date-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-txn_date text-bold"><%%VALUE(txn_date)%%></dd>

					<dt class="all_bank_account_statement_table-value_date-caption field-caption-tv">Value date</dt>
					<dd id="all_bank_account_statement_table-value_date-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-value_date text-bold"><%%VALUE(value_date)%%></dd>

					<dt class="all_bank_account_statement_table-description-caption field-caption-tv">Description</dt>
					<dd id="all_bank_account_statement_table-description-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-description text-bold"><%%VALUE(description)%%></dd>

					<dt class="all_bank_account_statement_table-ref_no_or_cheque_no-caption field-caption-tv">Ref No. / Cheque No.</dt>
					<dd id="all_bank_account_statement_table-ref_no_or_cheque_no-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-ref_no_or_cheque_no text-bold"><%%VALUE(ref_no_or_cheque_no)%%></dd>

					<dt class="all_bank_account_statement_table-branch_code-caption field-caption-tv">Branch code</dt>
					<dd id="all_bank_account_statement_table-branch_code-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-branch_code text-bold"><%%VALUE(branch_code)%%></dd>

					<dt class="all_bank_account_statement_table-debit-caption field-caption-tv">Debit</dt>
					<dd id="all_bank_account_statement_table-debit-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-debit text-bold"><%%VALUE(debit)%%></dd>

					<dt class="all_bank_account_statement_table-credit-caption field-caption-tv">Credit</dt>
					<dd id="all_bank_account_statement_table-credit-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-credit text-bold"><%%VALUE(credit)%%></dd>

					<dt class="all_bank_account_statement_table-balance_1-caption field-caption-tv">Balance 1</dt>
					<dd id="all_bank_account_statement_table-balance_1-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-balance_1 text-bold"><%%VALUE(balance_1)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="all_bank_account_statement_table-balance_2-caption field-caption-tv">Balance 2</dt>
					<dd id="all_bank_account_statement_table-balance_2-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-balance_2 text-bold"><%%VALUE(balance_2)%%></dd>

					<dt class="all_bank_account_statement_table-remarks_1-caption field-caption-tv">Remarks 1</dt>
					<dd id="all_bank_account_statement_table-remarks_1-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-remarks_1 text-bold"><%%VALUE(remarks_1)%%></dd>

					<dt class="all_bank_account_statement_table-remarks_2-caption field-caption-tv">Remarks 2</dt>
					<dd id="all_bank_account_statement_table-remarks_2-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-remarks_2 text-bold"><%%VALUE(remarks_2)%%></dd>

					<dt class="all_bank_account_statement_table-category-caption field-caption-tv">Category</dt>
					<dd id="all_bank_account_statement_table-category-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-category text-bold"><%%VALUE(category)%%></dd>

					<dt class="all_bank_account_statement_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="all_bank_account_statement_table-created_by-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="all_bank_account_statement_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="all_bank_account_statement_table-created_at-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="all_bank_account_statement_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="all_bank_account_statement_table-last_updated_by-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="all_bank_account_statement_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="all_bank_account_statement_table-last_updated_at-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="all_bank_account_statement_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="all_bank_account_statement_table-created_by_username-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="all_bank_account_statement_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="all_bank_account_statement_table-last_updated_by_username-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
