		<td colspan="20" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="all_bank_account_statement_table-all_bank_account_statement_id-caption field-caption-tv">ID</dt>
					<dd id="all_bank_account_statement_table-all_bank_account_statement_id-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-all_bank_account_statement_id text-right"><%%SELECT%%><%%VALUE(all_bank_account_statement_id)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-statement_type-caption field-caption-tv">Select statement type</dt>
					<dd id="all_bank_account_statement_table-statement_type-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-statement_type"><%%SELECT%%><%%VALUE(statement_type)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-txn_date-caption field-caption-tv">Txn date</dt>
					<dd id="all_bank_account_statement_table-txn_date-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-txn_date"><%%SELECT%%><%%VALUE(txn_date)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-value_date-caption field-caption-tv">Value date</dt>
					<dd id="all_bank_account_statement_table-value_date-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-value_date"><%%SELECT%%><%%VALUE(value_date)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-description-caption field-caption-tv">Description</dt>
					<dd id="all_bank_account_statement_table-description-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-ref_no_or_cheque_no-caption field-caption-tv">Ref No. / Cheque No.</dt>
					<dd id="all_bank_account_statement_table-ref_no_or_cheque_no-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-ref_no_or_cheque_no"><%%SELECT%%><%%VALUE(ref_no_or_cheque_no)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-branch_code-caption field-caption-tv">Branch code</dt>
					<dd id="all_bank_account_statement_table-branch_code-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-branch_code"><%%SELECT%%><%%VALUE(branch_code)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-debit-caption field-caption-tv">Debit</dt>
					<dd id="all_bank_account_statement_table-debit-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-debit"><%%SELECT%%><%%VALUE(debit)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-credit-caption field-caption-tv">Credit</dt>
					<dd id="all_bank_account_statement_table-credit-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-credit"><%%SELECT%%><%%VALUE(credit)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-balance_1-caption field-caption-tv">Balance 1</dt>
					<dd id="all_bank_account_statement_table-balance_1-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-balance_1"><%%SELECT%%><%%VALUE(balance_1)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="all_bank_account_statement_table-balance_2-caption field-caption-tv">Balance 2</dt>
					<dd id="all_bank_account_statement_table-balance_2-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-balance_2"><%%SELECT%%><%%VALUE(balance_2)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-remarks_1-caption field-caption-tv">Remarks 1</dt>
					<dd id="all_bank_account_statement_table-remarks_1-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-remarks_1"><%%SELECT%%><%%VALUE(remarks_1)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-remarks_2-caption field-caption-tv">Remarks 2</dt>
					<dd id="all_bank_account_statement_table-remarks_2-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-remarks_2"><%%SELECT%%><%%VALUE(remarks_2)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-category-caption field-caption-tv">Category</dt>
					<dd id="all_bank_account_statement_table-category-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-category"><%%SELECT%%><%%VALUE(category)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="all_bank_account_statement_table-created_by-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="all_bank_account_statement_table-created_at-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="all_bank_account_statement_table-last_updated_by-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="all_bank_account_statement_table-last_updated_at-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="all_bank_account_statement_table-created_by_username-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="all_bank_account_statement_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="all_bank_account_statement_table-last_updated_by_username-<%%VALUE(all_bank_account_statement_id)%%>" class="all_bank_account_statement_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
