		<td colspan="17" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="approval_table-id-caption field-caption-tv">ID</dt>
					<dd id="approval_table-id-<%%VALUE(id)%%>" class="approval_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-type-caption field-caption-tv">Approval Type</dt>
					<dd id="approval_table-type-<%%VALUE(id)%%>" class="approval_table-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-description-caption field-caption-tv">Description</dt>
					<dd id="approval_table-description-<%%VALUE(id)%%>" class="approval_table-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-quantity-caption field-caption-tv">Quantity</dt>
					<dd id="approval_table-quantity-<%%VALUE(id)%%>" class="approval_table-quantity"><%%SELECT%%><%%VALUE(quantity)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-full_est_value-caption field-caption-tv">Full Estimated Value</dt>
					<dd id="approval_table-full_est_value-<%%VALUE(id)%%>" class="approval_table-full_est_value"><%%SELECT%%><%%VALUE(full_est_value)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-name_of_vendor-caption field-caption-tv">Name of Vendor</dt>
					<dd id="approval_table-name_of_vendor-<%%VALUE(id)%%>" class="approval_table-name_of_vendor"><%%SELECT%%><%%VALUE(name_of_vendor)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-purpose-caption field-caption-tv">Purpose</dt>
					<dd id="approval_table-purpose-<%%VALUE(id)%%>" class="approval_table-purpose"><%%SELECT%%><%%VALUE(purpose)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-requested_department-caption field-caption-tv">Requested Department/Appointment</dt>
					<dd id="approval_table-requested_department-<%%VALUE(id)%%>" class="approval_table-requested_department"><%%SELECT%%><%%VALUE(requested_department)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-person_responsbility-caption field-caption-tv">Person Responsbility</dt>
					<dd id="approval_table-person_responsbility-<%%VALUE(id)%%>" class="approval_table-person_responsbility"><%%SELECT%%><%%VALUE(person_responsbility)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="approval_table-mode_of_purchase-caption field-caption-tv">Mode of Purchase</dt>
					<dd id="approval_table-mode_of_purchase-<%%VALUE(id)%%>" class="approval_table-mode_of_purchase"><%%SELECT%%><%%VALUE(mode_of_purchase)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-approval_status-caption field-caption-tv">Approval Status</dt>
					<dd id="approval_table-approval_status-<%%VALUE(id)%%>" class="approval_table-approval_status"><%%SELECT%%><%%VALUE(approval_status)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-image-caption field-caption-tv">Upload Image if Any (Optional)</dt>
					<dd id="approval_table-image-<%%VALUE(id)%%>" class="approval_table-image"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(image)%%>" data-lightbox="approval_table-image"><img src="thumbnail.php?i=<%%VALUE(image)%%>&t=approval_table&f=image&v=tv" class="img-thumbnail"></a></dd>

					<dt class="approval_table-other_file-caption field-caption-tv">Upload Other File if Any (Optional)</dt>
					<dd id="approval_table-other_file-<%%VALUE(id)%%>" class="approval_table-other_file"><a href="link.php?t=approval_table&f=other_file&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(other_file)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="approval_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="approval_table-created_by-<%%VALUE(id)%%>" class="approval_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="approval_table-created_at-<%%VALUE(id)%%>" class="approval_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="approval_table-last_updated_by-<%%VALUE(id)%%>" class="approval_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="approval_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="approval_table-last_updated_at-<%%VALUE(id)%%>" class="approval_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_other_file = '<%%VALUE(other_file)%%>'; if(e_other_file == '' || e_other_file == '&nbsp;') $j(/*<*/ '#approval_table-other_file-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
