<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the approval_billing_table_init() hook (in hooks/approval_billing_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="approval_billing_table-id-<%%VALUE(id)%%>" class="approval_billing_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-approval_lookup-<%%VALUE(id)%%>" class="approval_billing_table-approval_lookup"><%%SELECT%%><%%VALUE(approval_lookup)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-date_of_purchase-<%%VALUE(id)%%>" class="approval_billing_table-date_of_purchase"><%%SELECT%%><%%VALUE(date_of_purchase)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-total_amount_of_bill-<%%VALUE(id)%%>" class="approval_billing_table-total_amount_of_bill"><%%SELECT%%><%%VALUE(total_amount_of_bill)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-items_list-<%%VALUE(id)%%>" class="approval_billing_table-items_list"><%%SELECT%%><%%VALUE(items_list)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-paid_by-<%%VALUE(id)%%>" class="approval_billing_table-paid_by"><%%SELECT%%><%%VALUE(paid_by)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-attach_bill_1-<%%VALUE(id)%%>" class="approval_billing_table-attach_bill_1"><%%SELECT%%><%%VALUE(attach_bill_1)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-attach_bill_2-<%%VALUE(id)%%>" class="approval_billing_table-attach_bill_2"><%%SELECT%%><%%VALUE(attach_bill_2)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-attach_bill_3-<%%VALUE(id)%%>" class="approval_billing_table-attach_bill_3"><%%SELECT%%><%%VALUE(attach_bill_3)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-created_by-<%%VALUE(id)%%>" class="approval_billing_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-created_at-<%%VALUE(id)%%>" class="approval_billing_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-last_updated_by-<%%VALUE(id)%%>" class="approval_billing_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-last_updated_at-<%%VALUE(id)%%>" class="approval_billing_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-created_by_username-<%%VALUE(id)%%>" class="approval_billing_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></td>
		<td id="approval_billing_table-last_updated_by_username-<%%VALUE(id)%%>" class="approval_billing_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></td>
