<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the approval_billing_table_init() hook (in hooks/approval_billing_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="approval_billing_table-id-<%%VALUE(id)%%>" class="approval_billing_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="approval_billing_table-approval_lookup-<%%VALUE(id)%%>" class="approval_billing_table-approval_lookup text-bold"><%%VALUE(approval_lookup)%%></td>
		<td id="approval_billing_table-date_of_purchase-<%%VALUE(id)%%>" class="approval_billing_table-date_of_purchase text-bold"><%%VALUE(date_of_purchase)%%></td>
		<td id="approval_billing_table-total_amount_of_bill-<%%VALUE(id)%%>" class="approval_billing_table-total_amount_of_bill text-bold"><%%VALUE(total_amount_of_bill)%%></td>
		<td id="approval_billing_table-items_list-<%%VALUE(id)%%>" class="approval_billing_table-items_list text-bold"><%%VALUE(items_list)%%></td>
		<td id="approval_billing_table-paid_by-<%%VALUE(id)%%>" class="approval_billing_table-paid_by text-bold"><%%VALUE(paid_by)%%></td>
		<td id="approval_billing_table-attach_bill_1-<%%VALUE(id)%%>" class="approval_billing_table-attach_bill_1 text-bold"><%%VALUE(attach_bill_1)%%></td>
		<td id="approval_billing_table-attach_bill_2-<%%VALUE(id)%%>" class="approval_billing_table-attach_bill_2 text-bold"><%%VALUE(attach_bill_2)%%></td>
		<td id="approval_billing_table-attach_bill_3-<%%VALUE(id)%%>" class="approval_billing_table-attach_bill_3 text-bold"><%%VALUE(attach_bill_3)%%></td>
		<td id="approval_billing_table-created_by-<%%VALUE(id)%%>" class="approval_billing_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="approval_billing_table-created_at-<%%VALUE(id)%%>" class="approval_billing_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="approval_billing_table-last_updated_by-<%%VALUE(id)%%>" class="approval_billing_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="approval_billing_table-last_updated_at-<%%VALUE(id)%%>" class="approval_billing_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
		<td id="approval_billing_table-created_by_username-<%%VALUE(id)%%>" class="approval_billing_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></td>
		<td id="approval_billing_table-last_updated_by_username-<%%VALUE(id)%%>" class="approval_billing_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></td>
