<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the approval_table_init() hook (in hooks/approval_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="approval_table-id-<%%VALUE(id)%%>" class="approval_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="approval_table-approval_from-<%%VALUE(id)%%>" class="approval_table-approval_from"><%%SELECT%%><%%VALUE(approval_from)%%><%%ENDSELECT%%></td>
		<td id="approval_table-type-<%%VALUE(id)%%>" class="approval_table-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></td>
		<td id="approval_table-description-<%%VALUE(id)%%>" class="approval_table-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
		<td id="approval_table-full_est_value-<%%VALUE(id)%%>" class="approval_table-full_est_value"><%%SELECT%%><%%VALUE(full_est_value)%%><%%ENDSELECT%%></td>
		<td id="approval_table-approval_status-<%%VALUE(id)%%>" class="approval_table-approval_status"><%%SELECT%%><%%VALUE(approval_status)%%><%%ENDSELECT%%></td>
		<td id="approval_table-remarks_for_approval-<%%VALUE(id)%%>" class="approval_table-remarks_for_approval"><%%SELECT%%><%%VALUE(remarks_for_approval)%%><%%ENDSELECT%%></td>
		<td id="approval_table-created_by_username-<%%VALUE(id)%%>" class="approval_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></td>
