<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the asset_app_init() hook (in hooks/asset_app.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="asset_app-asset_id-<%%VALUE(asset_id)%%>" class="asset_app-asset_id text-right"><%%SELECT%%><%%VALUE(asset_id)%%><%%ENDSELECT%%></td>
		<td id="asset_app-date-<%%VALUE(asset_id)%%>" class="asset_app-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
		<td id="asset_app-classification_of_asset-<%%VALUE(asset_id)%%>" class="asset_app-classification_of_asset"><%%SELECT%%><%%VALUE(classification_of_asset)%%><%%ENDSELECT%%></td>
		<td id="asset_app-sub_category-<%%VALUE(asset_id)%%>" class="asset_app-sub_category"><%%SELECT%%><%%VALUE(sub_category)%%><%%ENDSELECT%%></td>
		<td id="asset_app-asset_serial_number-<%%VALUE(asset_id)%%>" class="asset_app-asset_serial_number"><%%SELECT%%><%%VALUE(asset_serial_number)%%><%%ENDSELECT%%></td>
		<td id="asset_app-qr_and_bar_code-<%%VALUE(asset_id)%%>" class="asset_app-qr_and_bar_code"><%%SELECT%%><%%VALUE(qr_and_bar_code)%%><%%ENDSELECT%%></td>
		<td id="asset_app-custody_department-<%%VALUE(asset_id)%%>" class="asset_app-custody_department"><%%SELECT%%><%%VALUE(custody_department)%%><%%ENDSELECT%%></td>
		<td id="asset_app-custodian-<%%VALUE(asset_id)%%>" class="asset_app-custodian"><%%SELECT%%><%%VALUE(custodian)%%><%%ENDSELECT%%></td>
		<td id="asset_app-custodian_signature-<%%VALUE(asset_id)%%>" class="asset_app-custodian_signature"><%%SELECT%%><img src="thumbnail.php?i=<%%VALUE(custodian_signature)%%>&t=asset_app&f=custodian_signature&v=tv" class="img-thumbnail"><%%ENDSELECT%%></td>
		<td id="asset_app-no_of_years_useful_life_of_assets-<%%VALUE(asset_id)%%>" class="asset_app-no_of_years_useful_life_of_assets"><%%SELECT%%><%%VALUE(no_of_years_useful_life_of_assets)%%><%%ENDSELECT%%></td>
		<td id="asset_app-date_of_useful_life_of_assets_ends-<%%VALUE(asset_id)%%>" class="asset_app-date_of_useful_life_of_assets_ends"><%%SELECT%%><%%VALUE(date_of_useful_life_of_assets_ends)%%><%%ENDSELECT%%></td>
		<td id="asset_app-remarks-<%%VALUE(asset_id)%%>" class="asset_app-remarks"><%%SELECT%%><%%VALUE(remarks)%%><%%ENDSELECT%%></td>
		<td id="asset_app-sactioned_by-<%%VALUE(asset_id)%%>" class="asset_app-sactioned_by"><%%SELECT%%><%%VALUE(sactioned_by)%%><%%ENDSELECT%%></td>
		<td id="asset_app-asset_str-<%%VALUE(asset_id)%%>" class="asset_app-asset_str"><%%SELECT%%><%%VALUE(asset_str)%%><%%ENDSELECT%%></td>
		<td id="asset_app-created_by-<%%VALUE(asset_id)%%>" class="asset_app-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></td>
		<td id="asset_app-created_at-<%%VALUE(asset_id)%%>" class="asset_app-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="asset_app-last_updated_by-<%%VALUE(asset_id)%%>" class="asset_app-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></td>
		<td id="asset_app-last_updated_at-<%%VALUE(asset_id)%%>" class="asset_app-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></td>
