		<td colspan="26" class="row">
			<div id="asset_table-id-<%%VALUE(id)%%>" class="asset_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="asset_table-Date-caption field-caption-tv">Date</dt>
					<dd id="asset_table-Date-<%%VALUE(id)%%>" class="asset_table-Date text-bold"><%%VALUE(Date)%%></dd>

					<dt class="asset_table-ClassificationofAssest-caption field-caption-tv">Classification of Assest</dt>
					<dd id="asset_table-ClassificationofAssest-<%%VALUE(id)%%>" class="asset_table-ClassificationofAssest text-bold"><%%VALUE(ClassificationofAssest)%%></dd>

					<dt class="asset_table-SubCategory-caption field-caption-tv">Sub Category</dt>
					<dd id="asset_table-SubCategory-<%%VALUE(id)%%>" class="asset_table-SubCategory text-bold"><%%VALUE(SubCategory)%%></dd>

					<dt class="asset_table-AssetSerialNo-caption field-caption-tv">Asset Serial No</dt>
					<dd id="asset_table-AssetSerialNo-<%%VALUE(id)%%>" class="asset_table-AssetSerialNo text-bold"><%%VALUE(AssetSerialNo)%%></dd>

					<dt class="asset_table-QRBarCode-caption field-caption-tv">QR & Bar Code</dt>
					<dd id="asset_table-QRBarCode-<%%VALUE(id)%%>" class="asset_table-QRBarCode text-bold"><%%VALUE(QRBarCode)%%></dd>

					<dt class="asset_table-AssetNo-caption field-caption-tv">Asset No</dt>
					<dd id="asset_table-AssetNo-<%%VALUE(id)%%>" class="asset_table-AssetNo text-bold"><%%VALUE(AssetNo)%%></dd>

					<dt class="asset_table-PONO-caption field-caption-tv">PO. NO.</dt>
					<dd id="asset_table-PONO-<%%VALUE(id)%%>" class="asset_table-PONO text-bold"><%%VALUE(PONO)%%></dd>

					<dt class="asset_table-PODATE-caption field-caption-tv">P/O Date</dt>
					<dd id="asset_table-PODATE-<%%VALUE(id)%%>" class="asset_table-PODATE text-bold"><%%VALUE(PODATE)%%></dd>

					<dt class="asset_table-particulars_of_supplier_name_address-caption field-caption-tv">Partculars of Supplier Vendor Name & Address</dt>
					<dd id="asset_table-particulars_of_supplier_name_address-<%%VALUE(id)%%>" class="asset_table-particulars_of_supplier_name_address text-bold"><%%VALUE(particulars_of_supplier_name_address)%%></dd>

					<dt class="asset_table-ItemDescription-caption field-caption-tv">Item Description</dt>
					<dd id="asset_table-ItemDescription-<%%VALUE(id)%%>" class="asset_table-ItemDescription text-bold"><%%VALUE(ItemDescription)%%></dd>

					<dt class="asset_table-BillNo-caption field-caption-tv">Bill No.</dt>
					<dd id="asset_table-BillNo-<%%VALUE(id)%%>" class="asset_table-BillNo text-bold"><%%VALUE(BillNo)%%></dd>

					<dt class="asset_table-BillDate-caption field-caption-tv">Bill Date</dt>
					<dd id="asset_table-BillDate-<%%VALUE(id)%%>" class="asset_table-BillDate text-bold"><%%VALUE(BillDate)%%></dd>

					<dt class="asset_table-QUANTITY-caption field-caption-tv">Quantity</dt>
					<dd id="asset_table-QUANTITY-<%%VALUE(id)%%>" class="asset_table-QUANTITY text-bold"><%%VALUE(QUANTITY)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="asset_table-CostoftheAssetinINR-caption field-caption-tv">Cost of the Asset (in INR)</dt>
					<dd id="asset_table-CostoftheAssetinINR-<%%VALUE(id)%%>" class="asset_table-CostoftheAssetinINR text-bold"><%%VALUE(CostoftheAssetinINR)%%></dd>

					<dt class="asset_table-TotalInvoiceValueinINR-caption field-caption-tv">Total Invoice Value (in INR)</dt>
					<dd id="asset_table-TotalInvoiceValueinINR-<%%VALUE(id)%%>" class="asset_table-TotalInvoiceValueinINR text-bold"><%%VALUE(TotalInvoiceValueinINR)%%></dd>

					<dt class="asset_table-CustodyDepartment-caption field-caption-tv">Custody Department</dt>
					<dd id="asset_table-CustodyDepartment-<%%VALUE(id)%%>" class="asset_table-CustodyDepartment text-bold"><%%VALUE(CustodyDepartment)%%></dd>

					<dt class="asset_table-custodian-caption field-caption-tv">Custodian</dt>
					<dd id="asset_table-custodian-<%%VALUE(id)%%>" class="asset_table-custodian text-bold"><%%VALUE(custodian)%%></dd>

					<dt class="asset_table-CustodianSignature-caption field-caption-tv">Custodian Signature</dt>
					<dd id="asset_table-CustodianSignature-<%%VALUE(id)%%>" class="asset_table-CustodianSignature text-bold"><%%VALUE(CustodianSignature)%%></dd>

					<dt class="asset_table-remarks-caption field-caption-tv">Remarks</dt>
					<dd id="asset_table-remarks-<%%VALUE(id)%%>" class="asset_table-remarks text-bold"><%%VALUE(remarks)%%></dd>

					<dt class="asset_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="asset_table-last_updated_by-<%%VALUE(id)%%>" class="asset_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="asset_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="asset_table-last_updated_at-<%%VALUE(id)%%>" class="asset_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="asset_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="asset_table-created_by-<%%VALUE(id)%%>" class="asset_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="asset_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="asset_table-created_by_username-<%%VALUE(id)%%>" class="asset_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="asset_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="asset_table-created_at-<%%VALUE(id)%%>" class="asset_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="asset_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="asset_table-last_updated_by_username-<%%VALUE(id)%%>" class="asset_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
