		<td colspan="18" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="asset_app-asset_id-caption field-caption-tv">ID</dt>
					<dd id="asset_app-asset_id-<%%VALUE(asset_id)%%>" class="asset_app-asset_id text-right text-bold"><%%VALUE(asset_id)%%></dd>

					<dt class="asset_app-date-caption field-caption-tv">Date</dt>
					<dd id="asset_app-date-<%%VALUE(asset_id)%%>" class="asset_app-date text-bold"><%%VALUE(date)%%></dd>

					<dt class="asset_app-classification_of_asset-caption field-caption-tv">Classification of asset</dt>
					<dd id="asset_app-classification_of_asset-<%%VALUE(asset_id)%%>" class="asset_app-classification_of_asset text-bold"><%%VALUE(classification_of_asset)%%></dd>

					<dt class="asset_app-sub_category-caption field-caption-tv">Sub category</dt>
					<dd id="asset_app-sub_category-<%%VALUE(asset_id)%%>" class="asset_app-sub_category text-bold"><%%VALUE(sub_category)%%></dd>

					<dt class="asset_app-asset_serial_number-caption field-caption-tv">Asset serial number</dt>
					<dd id="asset_app-asset_serial_number-<%%VALUE(asset_id)%%>" class="asset_app-asset_serial_number text-bold"><%%VALUE(asset_serial_number)%%></dd>

					<dt class="asset_app-qr_and_bar_code-caption field-caption-tv">Qr and bar code</dt>
					<dd id="asset_app-qr_and_bar_code-<%%VALUE(asset_id)%%>" class="asset_app-qr_and_bar_code text-bold"><%%VALUE(qr_and_bar_code)%%></dd>

					<dt class="asset_app-custody_department-caption field-caption-tv">Custody department</dt>
					<dd id="asset_app-custody_department-<%%VALUE(asset_id)%%>" class="asset_app-custody_department text-bold"><%%VALUE(custody_department)%%></dd>

					<dt class="asset_app-custodian-caption field-caption-tv">Custodian</dt>
					<dd id="asset_app-custodian-<%%VALUE(asset_id)%%>" class="asset_app-custodian text-bold"><%%VALUE(custodian)%%></dd>

					<dt class="asset_app-custodian_signature-caption field-caption-tv">Custodian signature</dt>
					<dd id="asset_app-custodian_signature-<%%VALUE(asset_id)%%>" class="asset_app-custodian_signature text-bold"><img src="thumbnail.php?i=<%%VALUE(custodian_signature)%%>&t=asset_app&f=custodian_signature&v=tv" class="img-thumbnail"></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="asset_app-no_of_years_useful_life_of_assets-caption field-caption-tv">Number of years useful life of assets</dt>
					<dd id="asset_app-no_of_years_useful_life_of_assets-<%%VALUE(asset_id)%%>" class="asset_app-no_of_years_useful_life_of_assets text-bold"><%%VALUE(no_of_years_useful_life_of_assets)%%></dd>

					<dt class="asset_app-date_of_useful_life_of_assets_ends-caption field-caption-tv">Date of useful life of assets ends</dt>
					<dd id="asset_app-date_of_useful_life_of_assets_ends-<%%VALUE(asset_id)%%>" class="asset_app-date_of_useful_life_of_assets_ends text-bold"><%%VALUE(date_of_useful_life_of_assets_ends)%%></dd>

					<dt class="asset_app-remarks-caption field-caption-tv">Remarks</dt>
					<dd id="asset_app-remarks-<%%VALUE(asset_id)%%>" class="asset_app-remarks text-bold"><%%VALUE(remarks)%%></dd>

					<dt class="asset_app-sactioned_by-caption field-caption-tv">Sactioned by</dt>
					<dd id="asset_app-sactioned_by-<%%VALUE(asset_id)%%>" class="asset_app-sactioned_by text-bold"><%%VALUE(sactioned_by)%%></dd>

					<dt class="asset_app-asset_str-caption field-caption-tv">Asset str</dt>
					<dd id="asset_app-asset_str-<%%VALUE(asset_id)%%>" class="asset_app-asset_str text-bold"><%%VALUE(asset_str)%%></dd>

					<dt class="asset_app-created_by-caption field-caption-tv">Created by</dt>
					<dd id="asset_app-created_by-<%%VALUE(asset_id)%%>" class="asset_app-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="asset_app-created_at-caption field-caption-tv">Created at</dt>
					<dd id="asset_app-created_at-<%%VALUE(asset_id)%%>" class="asset_app-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="asset_app-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="asset_app-last_updated_by-<%%VALUE(asset_id)%%>" class="asset_app-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="asset_app-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="asset_app-last_updated_at-<%%VALUE(asset_id)%%>" class="asset_app-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
