		<td colspan="26" class="row">
			<div id="asset_table-id-<%%VALUE(id)%%>" class="asset_table-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="asset_table-Date-caption field-caption-tv">Date</dt>
					<dd id="asset_table-Date-<%%VALUE(id)%%>" class="asset_table-Date"><%%SELECT%%><%%VALUE(Date)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-ClassificationofAssest-caption field-caption-tv">Classification of Assest</dt>
					<dd id="asset_table-ClassificationofAssest-<%%VALUE(id)%%>" class="asset_table-ClassificationofAssest"><%%SELECT%%><%%VALUE(ClassificationofAssest)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-SubCategory-caption field-caption-tv">Sub Category</dt>
					<dd id="asset_table-SubCategory-<%%VALUE(id)%%>" class="asset_table-SubCategory"><%%SELECT%%><%%VALUE(SubCategory)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-AssetSerialNo-caption field-caption-tv">Asset Serial No</dt>
					<dd id="asset_table-AssetSerialNo-<%%VALUE(id)%%>" class="asset_table-AssetSerialNo"><%%SELECT%%><%%VALUE(AssetSerialNo)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-QRBarCode-caption field-caption-tv">QR & Bar Code</dt>
					<dd id="asset_table-QRBarCode-<%%VALUE(id)%%>" class="asset_table-QRBarCode"><%%SELECT%%><%%VALUE(QRBarCode)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-AssetNo-caption field-caption-tv">Asset No</dt>
					<dd id="asset_table-AssetNo-<%%VALUE(id)%%>" class="asset_table-AssetNo"><%%SELECT%%><%%VALUE(AssetNo)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-PONO-caption field-caption-tv">PO. NO.</dt>
					<dd id="asset_table-PONO-<%%VALUE(id)%%>" class="asset_table-PONO"><%%SELECT%%><%%VALUE(PONO)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-PODATE-caption field-caption-tv">P/O Date</dt>
					<dd id="asset_table-PODATE-<%%VALUE(id)%%>" class="asset_table-PODATE"><%%SELECT%%><%%VALUE(PODATE)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-particulars_of_supplier_name_address-caption field-caption-tv">Partculars of Supplier Vendor Name & Address</dt>
					<dd id="asset_table-particulars_of_supplier_name_address-<%%VALUE(id)%%>" class="asset_table-particulars_of_supplier_name_address"><%%SELECT%%><%%VALUE(particulars_of_supplier_name_address)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-ItemDescription-caption field-caption-tv">Item Description</dt>
					<dd id="asset_table-ItemDescription-<%%VALUE(id)%%>" class="asset_table-ItemDescription"><%%SELECT%%><%%VALUE(ItemDescription)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-BillNo-caption field-caption-tv">Bill No.</dt>
					<dd id="asset_table-BillNo-<%%VALUE(id)%%>" class="asset_table-BillNo"><%%SELECT%%><%%VALUE(BillNo)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-BillDate-caption field-caption-tv">Bill Date</dt>
					<dd id="asset_table-BillDate-<%%VALUE(id)%%>" class="asset_table-BillDate"><%%SELECT%%><%%VALUE(BillDate)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-QUANTITY-caption field-caption-tv">Quantity</dt>
					<dd id="asset_table-QUANTITY-<%%VALUE(id)%%>" class="asset_table-QUANTITY"><%%SELECT%%><%%VALUE(QUANTITY)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="asset_table-CostoftheAssetinINR-caption field-caption-tv">Cost of the Asset (in INR)</dt>
					<dd id="asset_table-CostoftheAssetinINR-<%%VALUE(id)%%>" class="asset_table-CostoftheAssetinINR"><%%SELECT%%><%%VALUE(CostoftheAssetinINR)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-TotalInvoiceValueinINR-caption field-caption-tv">Total Invoice Value (in INR)</dt>
					<dd id="asset_table-TotalInvoiceValueinINR-<%%VALUE(id)%%>" class="asset_table-TotalInvoiceValueinINR"><%%SELECT%%><%%VALUE(TotalInvoiceValueinINR)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-CustodyDepartment-caption field-caption-tv">Custody Department</dt>
					<dd id="asset_table-CustodyDepartment-<%%VALUE(id)%%>" class="asset_table-CustodyDepartment"><%%SELECT%%><%%VALUE(CustodyDepartment)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-custodian-caption field-caption-tv">Custodian</dt>
					<dd id="asset_table-custodian-<%%VALUE(id)%%>" class="asset_table-custodian"><%%SELECT%%><%%VALUE(custodian)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-CustodianSignature-caption field-caption-tv">Custodian Signature</dt>
					<dd id="asset_table-CustodianSignature-<%%VALUE(id)%%>" class="asset_table-CustodianSignature"><%%SELECT%%><%%VALUE(CustodianSignature)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-remarks-caption field-caption-tv">Remarks</dt>
					<dd id="asset_table-remarks-<%%VALUE(id)%%>" class="asset_table-remarks"><%%SELECT%%><%%VALUE(remarks)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="asset_table-last_updated_by-<%%VALUE(id)%%>" class="asset_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="asset_table-last_updated_at-<%%VALUE(id)%%>" class="asset_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="asset_table-created_by-<%%VALUE(id)%%>" class="asset_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="asset_table-created_by_username-<%%VALUE(id)%%>" class="asset_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="asset_table-created_at-<%%VALUE(id)%%>" class="asset_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="asset_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="asset_table-last_updated_by_username-<%%VALUE(id)%%>" class="asset_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
