<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Approval From -->
		<div class="form-group beyond_working_hours_table-approval_from" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval From</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(approval_from)%%></div>
			</div>
		</div>
		<!-- Field: Days Remark (Mention Day Names like SUN,MON,TUE,WED,THU,FRI,SAT) & Name of Holiday as in TIH Calendar -->
		<div class="form-group beyond_working_hours_table-days_remark" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Days Remark (Mention Day Names like SUN,MON,TUE,WED,THU,FRI,SAT) & Name of Holiday as in TIH Calendar</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(days_remark)%%></div>
			</div>
		</div>
		<!-- Field: Start Date & Time -->
		<div class="form-group beyond_working_hours_table-start_datetime" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Start Date & Time</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(start_datetime)%%></div>
			</div>
		</div>
		<!-- Field: End Date & Time -->
		<div class="form-group beyond_working_hours_table-end_datetime" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">End Date & Time</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(end_datetime)%%></div>
			</div>
		</div>
		<!-- Field: Reason for Overtime -->
		<div class="form-group beyond_working_hours_table-reason_for_overtime" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reason for Overtime</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reason_for_overtime)%%></div>
			</div>
		</div>
		<!-- Field: Details of Work Planned/Done (Justify Why Beyond Working Hours was Necessary Indiacating Project Urgency or Orders of Superiors(Designation of Superior) ) -->
		<div class="form-group beyond_working_hours_table-details_of_work_done" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Details of Work Planned/Done (Justify Why Beyond Working Hours was Necessary Indiacating Project Urgency or Orders of Superiors(Designation of Superior) )</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(details_of_work_done)%%></div>
			</div>
		</div>
		<!-- Field: Approval Status -->
		<div class="form-group beyond_working_hours_table-approval_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval Status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(approval_status)%%></div>
			</div>
		</div>
		<!-- Field: Approval Remarks -->
		<div class="form-group beyond_working_hours_table-approval_remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval Remarks</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(approval_remarks)%%></div>
			</div>
		</div>
		<!-- Field: Created by Username -->
		<div class="form-group beyond_working_hours_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated By Username -->
		<div class="form-group beyond_working_hours_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
