		<td colspan="13" class="row">
			<div id="beyond_workingHours_table-id-<%%VALUE(id)%%>" class="beyond_workingHours_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="beyond_workingHours_table-username-caption field-caption-tv">Username</dt>
					<dd id="beyond_workingHours_table-username-<%%VALUE(id)%%>" class="beyond_workingHours_table-username text-bold"><%%VALUE(username)%%></dd>

					<dt class="beyond_workingHours_table-reson_for_overtime-caption field-caption-tv">Reson for overtime</dt>
					<dd id="beyond_workingHours_table-reson_for_overtime-<%%VALUE(id)%%>" class="beyond_workingHours_table-reson_for_overtime text-bold"><%%VALUE(reson_for_overtime)%%></dd>

					<dt class="beyond_workingHours_table-start_datetime-caption field-caption-tv">Start Date & Time</dt>
					<dd id="beyond_workingHours_table-start_datetime-<%%VALUE(id)%%>" class="beyond_workingHours_table-start_datetime text-bold"><%%VALUE(start_datetime)%%></dd>

					<dt class="beyond_workingHours_table-end_datetime-caption field-caption-tv">End Date & Time</dt>
					<dd id="beyond_workingHours_table-end_datetime-<%%VALUE(id)%%>" class="beyond_workingHours_table-end_datetime text-bold"><%%VALUE(end_datetime)%%></dd>

					<dt class="beyond_workingHours_table-number_of_hours-caption field-caption-tv">Number of hours</dt>
					<dd id="beyond_workingHours_table-number_of_hours-<%%VALUE(id)%%>" class="beyond_workingHours_table-number_of_hours text-bold"><%%VALUE(number_of_hours)%%></dd>

					<dt class="beyond_workingHours_table-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="beyond_workingHours_table-approval_status-<%%VALUE(id)%%>" class="beyond_workingHours_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="beyond_workingHours_table-approval_remarks-caption field-caption-tv">Approval remarks</dt>
					<dd id="beyond_workingHours_table-approval_remarks-<%%VALUE(id)%%>" class="beyond_workingHours_table-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></dd>

					<dt class="beyond_workingHours_table-approved_by-caption field-caption-tv">Approved by</dt>
					<dd id="beyond_workingHours_table-approved_by-<%%VALUE(id)%%>" class="beyond_workingHours_table-approved_by text-bold"><%%VALUE(approved_by)%%></dd>

					<dt class="beyond_workingHours_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="beyond_workingHours_table-created_by-<%%VALUE(id)%%>" class="beyond_workingHours_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="beyond_workingHours_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="beyond_workingHours_table-created_at-<%%VALUE(id)%%>" class="beyond_workingHours_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="beyond_workingHours_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="beyond_workingHours_table-last_updated_by-<%%VALUE(id)%%>" class="beyond_workingHours_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="beyond_workingHours_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="beyond_workingHours_table-last_updated_at-<%%VALUE(id)%%>" class="beyond_workingHours_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
