		<td colspan="16" class="row">
			<div id="beyond_working_hours_table-id-<%%VALUE(id)%%>" class="beyond_working_hours_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="beyond_working_hours_table-approval_from-caption field-caption-tv">Approval From</dt>
					<dd id="beyond_working_hours_table-approval_from-<%%VALUE(id)%%>" class="beyond_working_hours_table-approval_from text-bold"><%%VALUE(approval_from)%%></dd>

					<dt class="beyond_working_hours_table-days_remark-caption field-caption-tv">Days Remark (Mention Day Names like SUN,MON,TUE,WED,THU,FRI,SAT) & Name of Holiday as in TIH Calendar</dt>
					<dd id="beyond_working_hours_table-days_remark-<%%VALUE(id)%%>" class="beyond_working_hours_table-days_remark text-bold"><%%VALUE(days_remark)%%></dd>

					<dt class="beyond_working_hours_table-start_datetime-caption field-caption-tv">Start Date & Time</dt>
					<dd id="beyond_working_hours_table-start_datetime-<%%VALUE(id)%%>" class="beyond_working_hours_table-start_datetime text-bold"><%%VALUE(start_datetime)%%></dd>

					<dt class="beyond_working_hours_table-end_datetime-caption field-caption-tv">End Date & Time</dt>
					<dd id="beyond_working_hours_table-end_datetime-<%%VALUE(id)%%>" class="beyond_working_hours_table-end_datetime text-bold"><%%VALUE(end_datetime)%%></dd>

					<dt class="beyond_working_hours_table-reason_for_overtime-caption field-caption-tv">Reason for Overtime</dt>
					<dd id="beyond_working_hours_table-reason_for_overtime-<%%VALUE(id)%%>" class="beyond_working_hours_table-reason_for_overtime text-bold"><%%VALUE(reason_for_overtime)%%></dd>

					<dt class="beyond_working_hours_table-details_of_work_done-caption field-caption-tv">Details of Work Planned/Done (Justify Why Beyond Working Hours was Necessary Indiacating Project Urgency or Orders of Superiors(Designation of Superior) )</dt>
					<dd id="beyond_working_hours_table-details_of_work_done-<%%VALUE(id)%%>" class="beyond_working_hours_table-details_of_work_done text-bold"><%%VALUE(details_of_work_done)%%></dd>

					<dt class="beyond_working_hours_table-number_of_hours-caption field-caption-tv">Number of Hours</dt>
					<dd id="beyond_working_hours_table-number_of_hours-<%%VALUE(id)%%>" class="beyond_working_hours_table-number_of_hours text-bold"><%%VALUE(number_of_hours)%%></dd>

					<dt class="beyond_working_hours_table-approval_status-caption field-caption-tv">Approval Status</dt>
					<dd id="beyond_working_hours_table-approval_status-<%%VALUE(id)%%>" class="beyond_working_hours_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="beyond_working_hours_table-approval_remarks-caption field-caption-tv">Approval Remarks</dt>
					<dd id="beyond_working_hours_table-approval_remarks-<%%VALUE(id)%%>" class="beyond_working_hours_table-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></dd>

					<dt class="beyond_working_hours_table-created_by_username-caption field-caption-tv">Created by Username</dt>
					<dd id="beyond_working_hours_table-created_by_username-<%%VALUE(id)%%>" class="beyond_working_hours_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="beyond_working_hours_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="beyond_working_hours_table-created_by-<%%VALUE(id)%%>" class="beyond_working_hours_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="beyond_working_hours_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="beyond_working_hours_table-created_at-<%%VALUE(id)%%>" class="beyond_working_hours_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="beyond_working_hours_table-last_updated_by_username-caption field-caption-tv">Last Updated By Username</dt>
					<dd id="beyond_working_hours_table-last_updated_by_username-<%%VALUE(id)%%>" class="beyond_working_hours_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="beyond_working_hours_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="beyond_working_hours_table-last_updated_by-<%%VALUE(id)%%>" class="beyond_working_hours_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="beyond_working_hours_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="beyond_working_hours_table-last_updated_at-<%%VALUE(id)%%>" class="beyond_working_hours_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
