<!-- To change the layout of the detail view form, we recommend using JS code in hooks/beyond_working_hours_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="beyond_working_hours_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="beyond_working_hours_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="beyond_working_hours_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Approval From -->
				<div class="form-group beyond_working_hours_table-approval_from">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="approval_from">Approval From</label>
					<div class="col-lg-9">
						<%%COMBO(approval_from)%%>
					</div>
				</div>

				<!-- Field: Days Remark (Mention Day Names like SUN,MON,TUE,WED,THU,FRI,SAT) & Name of Holiday as in TIH Calendar -->
				<div class="form-group beyond_working_hours_table-days_remark">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="days_remark">Days Remark (Mention Day Names like SUN,MON,TUE,WED,THU,FRI,SAT) & Name of Holiday as in TIH Calendar</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(days_remark)%%>
					</div>
				</div>

				<!-- Field: Start Date & Time -->
				<div class="form-group beyond_working_hours_table-start_datetime">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="start_datetime">Start Date & Time<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input maxlength="22" type="text" class="form-control" name="start_datetime" id="start_datetime" value="<%%VALUE(start_datetime)%%>" required><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: End Date & Time -->
				<div class="form-group beyond_working_hours_table-end_datetime">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="end_datetime">End Date & Time<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input maxlength="22" type="text" class="form-control" name="end_datetime" id="end_datetime" value="<%%VALUE(end_datetime)%%>" required><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: Reason for Overtime -->
				<div class="form-group beyond_working_hours_table-reason_for_overtime">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="reason_for_overtime">Reason for Overtime</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(reason_for_overtime)%%>
					</div>
				</div>

				<!-- Field: Details of Work Planned/Done (Justify Why Beyond Working Hours was Necessary Indiacating Project Urgency or Orders of Superiors(Designation of Superior) ) -->
				<div class="form-group beyond_working_hours_table-details_of_work_done">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="details_of_work_done">Details of Work Planned/Done (Justify Why Beyond Working Hours was Necessary Indiacating Project Urgency or Orders of Superiors(Designation of Superior) )</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(details_of_work_done)%%>
					</div>
				</div>

				<!-- Field: Approval Status -->
				<div class="form-group beyond_working_hours_table-approval_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="approval_status">Approval Status</label>
					<div class="col-lg-9">
						<%%COMBO(approval_status)%%>
					</div>
				</div>

				<!-- Field: Approval Remarks -->
				<div class="form-group beyond_working_hours_table-approval_remarks">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="approval_remarks">Approval Remarks</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(approval_remarks)%%>
					</div>
				</div>

				<!-- Field: Created by Username -->
				<div class="form-group beyond_working_hours_table-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated By Username -->
				<div class="form-group beyond_working_hours_table-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="beyond_working_hours_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#days_remark').length) new nicEditor({ fullPanel : true }).panelInstance('days_remark');
					if($j('textarea#reason_for_overtime').length) new nicEditor({ fullPanel : true }).panelInstance('reason_for_overtime');
					if($j('textarea#details_of_work_done').length) new nicEditor({ fullPanel : true }).panelInstance('details_of_work_done');
					if($j('textarea#approval_remarks').length) new nicEditor({ fullPanel : true }).panelInstance('approval_remarks');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.beyond_working_hours_table-approval_from')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#beyond_working_hours_table_dv_container-loading').addClass('hidden');
						$j('#beyond_working_hours_table_dv_container').removeClass('hidden');
						AppGini.focusFormElement('beyond_working_hours_table', 'approval_from');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#beyond_working_hours_table_dv_container-loading').addClass('hidden');
				$j('#beyond_working_hours_table_dv_container').removeClass('hidden');
			}

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			beyond_working_hours_tableUniqueFields.forEach(fieldName => enforce_uniqueness('beyond_working_hours_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=beyond_working_hours_table&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=beyond_working_hours_table&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var beyond_working_hours_tableUniqueFields = [
		];
	</script>