		<td colspan="20" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="budget_table_tdp-id-caption field-caption-tv">ID</dt>
					<dd id="budget_table_tdp-id-<%%VALUE(id)%%>" class="budget_table_tdp-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-project_id-caption field-caption-tv">Project ID::Title</dt>
					<dd id="budget_table_tdp-project_id-<%%VALUE(id)%%>" class="budget_table_tdp-project_id"><%%SELECT%%><%%VALUE(project_id)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-title_of_the_project-caption field-caption-tv">Title of the project</dt>
					<dd id="budget_table_tdp-title_of_the_project-<%%VALUE(id)%%>" class="budget_table_tdp-title_of_the_project"><%%SELECT%%><%%VALUE(title_of_the_project)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-name_of_pi-caption field-caption-tv">Name of PI</dt>
					<dd id="budget_table_tdp-name_of_pi-<%%VALUE(id)%%>" class="budget_table_tdp-name_of_pi"><%%SELECT%%><%%VALUE(name_of_pi)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-institute-caption field-caption-tv">Institute</dt>
					<dd id="budget_table_tdp-institute-<%%VALUE(id)%%>" class="budget_table_tdp-institute"><%%SELECT%%><%%VALUE(institute)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-date_of_presentation-caption field-caption-tv">Date of presentation</dt>
					<dd id="budget_table_tdp-date_of_presentation-<%%VALUE(id)%%>" class="budget_table_tdp-date_of_presentation"><%%SELECT%%><%%VALUE(date_of_presentation)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-manpower-caption field-caption-tv">Manpower</dt>
					<dd id="budget_table_tdp-manpower-<%%VALUE(id)%%>" class="budget_table_tdp-manpower"><%%SELECT%%><%%VALUE(manpower)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-travel-caption field-caption-tv">Travel</dt>
					<dd id="budget_table_tdp-travel-<%%VALUE(id)%%>" class="budget_table_tdp-travel"><%%SELECT%%><%%VALUE(travel)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-infrastructure-caption field-caption-tv">Infrastructure / Equipment</dt>
					<dd id="budget_table_tdp-infrastructure-<%%VALUE(id)%%>" class="budget_table_tdp-infrastructure"><%%SELECT%%><%%VALUE(infrastructure)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-consumables-caption field-caption-tv">Consumables</dt>
					<dd id="budget_table_tdp-consumables-<%%VALUE(id)%%>" class="budget_table_tdp-consumables"><%%SELECT%%><%%VALUE(consumables)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="budget_table_tdp-contigency-caption field-caption-tv">Contigency</dt>
					<dd id="budget_table_tdp-contigency-<%%VALUE(id)%%>" class="budget_table_tdp-contigency"><%%SELECT%%><%%VALUE(contigency)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-overhead-caption field-caption-tv">Overhead</dt>
					<dd id="budget_table_tdp-overhead-<%%VALUE(id)%%>" class="budget_table_tdp-overhead"><%%SELECT%%><%%VALUE(overhead)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-any_other-caption field-caption-tv">Any other</dt>
					<dd id="budget_table_tdp-any_other-<%%VALUE(id)%%>" class="budget_table_tdp-any_other"><%%SELECT%%><%%VALUE(any_other)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-total_budget-caption field-caption-tv">Total budget in Rs.</dt>
					<dd id="budget_table_tdp-total_budget-<%%VALUE(id)%%>" class="budget_table_tdp-total_budget"><%%SELECT%%><%%VALUE(total_budget)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-created_by-caption field-caption-tv">Created by</dt>
					<dd id="budget_table_tdp-created_by-<%%VALUE(id)%%>" class="budget_table_tdp-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-created_at-caption field-caption-tv">Created at</dt>
					<dd id="budget_table_tdp-created_at-<%%VALUE(id)%%>" class="budget_table_tdp-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="budget_table_tdp-last_updated_by-<%%VALUE(id)%%>" class="budget_table_tdp-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="budget_table_tdp-last_updated_at-<%%VALUE(id)%%>" class="budget_table_tdp-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="budget_table_tdp-created_by_username-<%%VALUE(id)%%>" class="budget_table_tdp-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="budget_table_tdp-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="budget_table_tdp-last_updated_by_username-<%%VALUE(id)%%>" class="budget_table_tdp-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
