		<td colspan="19" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="car_table-id-caption field-caption-tv">ID</dt>
					<dd id="car_table-id-<%%VALUE(id)%%>" class="car_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="car_table-car_number-caption field-caption-tv">Car number</dt>
					<dd id="car_table-car_number-<%%VALUE(id)%%>" class="car_table-car_number text-bold"><%%VALUE(car_number)%%></dd>

					<dt class="car_table-registration_number-caption field-caption-tv">Registration number</dt>
					<dd id="car_table-registration_number-<%%VALUE(id)%%>" class="car_table-registration_number text-bold"><%%VALUE(registration_number)%%></dd>

					<dt class="car_table-car_model-caption field-caption-tv">Car model</dt>
					<dd id="car_table-car_model-<%%VALUE(id)%%>" class="car_table-car_model text-bold"><%%VALUE(car_model)%%></dd>

					<dt class="car_table-car_vin-caption field-caption-tv">Car Vehicle Identification Number</dt>
					<dd id="car_table-car_vin-<%%VALUE(id)%%>" class="car_table-car_vin text-bold"><%%VALUE(car_vin)%%></dd>

					<dt class="car_table-fuel_type-caption field-caption-tv">Fuel type</dt>
					<dd id="car_table-fuel_type-<%%VALUE(id)%%>" class="car_table-fuel_type text-bold"><%%VALUE(fuel_type)%%></dd>

					<dt class="car_table-seating_capacity-caption field-caption-tv">Seating capacity</dt>
					<dd id="car_table-seating_capacity-<%%VALUE(id)%%>" class="car_table-seating_capacity text-bold"><%%VALUE(seating_capacity)%%></dd>

					<dt class="car_table-car_color-caption field-caption-tv">Car color</dt>
					<dd id="car_table-car_color-<%%VALUE(id)%%>" class="car_table-car_color text-bold"><%%VALUE(car_color)%%></dd>

					<dt class="car_table-rental_company_name-caption field-caption-tv">Rental company name</dt>
					<dd id="car_table-rental_company_name-<%%VALUE(id)%%>" class="car_table-rental_company_name text-bold"><%%VALUE(rental_company_name)%%></dd>

					<dt class="car_table-contact_person-caption field-caption-tv">Contact person</dt>
					<dd id="car_table-contact_person-<%%VALUE(id)%%>" class="car_table-contact_person text-bold"><%%VALUE(contact_person)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="car_table-contact_number_of_person-caption field-caption-tv">Contact number of person</dt>
					<dd id="car_table-contact_number_of_person-<%%VALUE(id)%%>" class="car_table-contact_number_of_person text-bold"><%%VALUE(contact_number_of_person)%%></dd>

					<dt class="car_table-rental_rate-caption field-caption-tv">Rental rate (In INR)</dt>
					<dd id="car_table-rental_rate-<%%VALUE(id)%%>" class="car_table-rental_rate text-bold"><%%VALUE(rental_rate)%%></dd>

					<dt class="car_table-rental_start_date-caption field-caption-tv">Rental start date</dt>
					<dd id="car_table-rental_start_date-<%%VALUE(id)%%>" class="car_table-rental_start_date text-bold"><%%VALUE(rental_start_date)%%></dd>

					<dt class="car_table-rental_end_date-caption field-caption-tv">Rental end date</dt>
					<dd id="car_table-rental_end_date-<%%VALUE(id)%%>" class="car_table-rental_end_date text-bold"><%%VALUE(rental_end_date)%%></dd>

					<dt class="car_table-purpose-caption field-caption-tv">Purpose</dt>
					<dd id="car_table-purpose-<%%VALUE(id)%%>" class="car_table-purpose text-bold"><%%VALUE(purpose)%%></dd>

					<dt class="car_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="car_table-created_by_username-<%%VALUE(id)%%>" class="car_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="car_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="car_table-created_at-<%%VALUE(id)%%>" class="car_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="car_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="car_table-last_updated_by_username-<%%VALUE(id)%%>" class="car_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="car_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="car_table-last_updated_at-<%%VALUE(id)%%>" class="car_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
