		<td colspan="9" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="car_usage_table-car_usage_id-caption field-caption-tv">ID</dt>
					<dd id="car_usage_table-car_usage_id-<%%VALUE(car_usage_id)%%>" class="car_usage_table-car_usage_id text-right text-bold"><%%VALUE(car_usage_id)%%></dd>

					<dt class="car_usage_table-car_lookup-caption field-caption-tv">Select Car</dt>
					<dd id="car_usage_table-car_lookup-<%%VALUE(car_usage_id)%%>" class="car_usage_table-car_lookup text-bold"><%%VALUE(car_lookup)%%></dd>

					<dt class="car_usage_table-used_by-caption field-caption-tv">Used by</dt>
					<dd id="car_usage_table-used_by-<%%VALUE(car_usage_id)%%>" class="car_usage_table-used_by text-bold"><%%VALUE(used_by)%%></dd>

					<dt class="car_usage_table-datetime_from-caption field-caption-tv">Date and time from</dt>
					<dd id="car_usage_table-datetime_from-<%%VALUE(car_usage_id)%%>" class="car_usage_table-datetime_from text-bold"><%%VALUE(datetime_from)%%></dd>

					<dt class="car_usage_table-datetime_to-caption field-caption-tv">Date and time to</dt>
					<dd id="car_usage_table-datetime_to-<%%VALUE(car_usage_id)%%>" class="car_usage_table-datetime_to text-bold"><%%VALUE(datetime_to)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="car_usage_table-total_distance_run-caption field-caption-tv">Total distance run (In KM)</dt>
					<dd id="car_usage_table-total_distance_run-<%%VALUE(car_usage_id)%%>" class="car_usage_table-total_distance_run text-bold"><%%VALUE(total_distance_run)%%></dd>

					<dt class="car_usage_table-purpose-caption field-caption-tv">Purpose</dt>
					<dd id="car_usage_table-purpose-<%%VALUE(car_usage_id)%%>" class="car_usage_table-purpose text-bold"><%%VALUE(purpose)%%></dd>

					<dt class="car_usage_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="car_usage_table-created_by-<%%VALUE(car_usage_id)%%>" class="car_usage_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="car_usage_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="car_usage_table-last_updated_by-<%%VALUE(car_usage_id)%%>" class="car_usage_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

				</dl>
			</div>
		</td>
