		<td colspan="11" class="row">
			<div id="coffee_table-id-<%%VALUE(id)%%>" class="coffee_table-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="coffee_table-cup_type-caption field-caption-tv">Cup Type</dt>
					<dd id="coffee_table-cup_type-<%%VALUE(id)%%>" class="coffee_table-cup_type"><%%SELECT%%><%%VALUE(cup_type)%%><%%ENDSELECT%%></dd>

					<dt class="coffee_table-time-caption field-caption-tv">Time</dt>
					<dd id="coffee_table-time-<%%VALUE(id)%%>" class="coffee_table-time"><%%SELECT%%><%%VALUE(time)%%><%%ENDSELECT%%></dd>

					<dt class="coffee_table-date-caption field-caption-tv">Date</dt>
					<dd id="coffee_table-date-<%%VALUE(id)%%>" class="coffee_table-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></dd>

					<dt class="coffee_table-remarks-caption field-caption-tv">Remarks (Optional)</dt>
					<dd id="coffee_table-remarks-<%%VALUE(id)%%>" class="coffee_table-remarks"><%%SELECT%%><%%VALUE(remarks)%%><%%ENDSELECT%%></dd>

					<dt class="coffee_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="coffee_table-created_by-<%%VALUE(id)%%>" class="coffee_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="coffee_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="coffee_table-last_updated_by-<%%VALUE(id)%%>" class="coffee_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="coffee_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="coffee_table-created_by_username-<%%VALUE(id)%%>" class="coffee_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="coffee_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="coffee_table-created_at-<%%VALUE(id)%%>" class="coffee_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="coffee_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="coffee_table-last_updated_by_username-<%%VALUE(id)%%>" class="coffee_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="coffee_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="coffee_table-last_updated_at-<%%VALUE(id)%%>" class="coffee_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
