		<td colspan="11" class="row">
			<div id="coffee_table-id-<%%VALUE(id)%%>" class="coffee_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="coffee_table-cup_type-caption field-caption-tv">Cup Type</dt>
					<dd id="coffee_table-cup_type-<%%VALUE(id)%%>" class="coffee_table-cup_type text-bold"><%%VALUE(cup_type)%%></dd>

					<dt class="coffee_table-time-caption field-caption-tv">Time</dt>
					<dd id="coffee_table-time-<%%VALUE(id)%%>" class="coffee_table-time text-bold"><%%VALUE(time)%%></dd>

					<dt class="coffee_table-date-caption field-caption-tv">Date</dt>
					<dd id="coffee_table-date-<%%VALUE(id)%%>" class="coffee_table-date text-bold"><%%VALUE(date)%%></dd>

					<dt class="coffee_table-remarks-caption field-caption-tv">Remarks (Optional)</dt>
					<dd id="coffee_table-remarks-<%%VALUE(id)%%>" class="coffee_table-remarks text-bold"><%%VALUE(remarks)%%></dd>

					<dt class="coffee_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="coffee_table-created_by-<%%VALUE(id)%%>" class="coffee_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="coffee_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="coffee_table-last_updated_by-<%%VALUE(id)%%>" class="coffee_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="coffee_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="coffee_table-created_by_username-<%%VALUE(id)%%>" class="coffee_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="coffee_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="coffee_table-created_at-<%%VALUE(id)%%>" class="coffee_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="coffee_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="coffee_table-last_updated_by_username-<%%VALUE(id)%%>" class="coffee_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="coffee_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="coffee_table-last_updated_at-<%%VALUE(id)%%>" class="coffee_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
