<!-- To change the layout of the detail view form, we recommend using JS code in hooks/computer_allotment_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="computer_allotment_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="computer_allotment_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="computer_allotment_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: PC ID -->
				<div class="form-group computer_allotment_table-pc_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="pc_id" data-parent_link="view_parent_modal">PC ID</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(pc_id)%%><%%PLINK(pc_id)%%><%%ADDNEW(computer_details_table)%%></div>
					</div>
				</div>

				<!-- Field: Name of user -->
				<div class="form-group computer_allotment_table-name_of_user">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="name_of_user">Name of user</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="name_of_user" id="name_of_user" value="<%%VALUE(name_of_user)%%>">
					</div>
				</div>

				<!-- Field: Role -->
				<div class="form-group computer_allotment_table-role">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="role">Role</label>
					<div class="col-lg-9">
						<%%COMBO(role)%%>
					</div>
				</div>

				<!-- Field: From date -->
				<div class="form-group computer_allotment_table-from_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="from_date">From date</label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input maxlength="22" type="text" class="form-control" name="from_date" id="from_date" value="<%%VALUE(from_date)%%>"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: To date -->
				<div class="form-group computer_allotment_table-to_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="to_date">To date</label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input maxlength="22" type="text" class="form-control" name="to_date" id="to_date" value="<%%VALUE(to_date)%%>"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: Purpose -->
				<div class="form-group computer_allotment_table-purpose">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="purpose">Purpose</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="purpose" id="purpose" value="<%%VALUE(purpose)%%>">
					</div>
				</div>

				<!-- Field: Email ID -->
				<div class="form-group computer_allotment_table-email_d">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email_d">Email ID</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="email_d" id="email_d" value="<%%VALUE(email_d)%%>">
					</div>
				</div>

				<!-- Field: Mobile number -->
				<div class="form-group computer_allotment_table-mobile_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="mobile_number">Mobile number</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="mobile_number" id="mobile_number" value="<%%VALUE(mobile_number)%%>">
					</div>
				</div>

				<!-- Field: Emp details -->
				<div class="form-group computer_allotment_table-emp_details">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="emp_details">Emp details</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="emp_details" id="emp_details" value="<%%VALUE(emp_details)%%>">
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group computer_allotment_table-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group computer_allotment_table-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="computer_allotment_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.computer_allotment_table-pc_id')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#computer_allotment_table_dv_container-loading').addClass('hidden');
						$j('#computer_allotment_table_dv_container').removeClass('hidden');
						AppGini.focusFormElement('computer_allotment_table', 'pc_id');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#computer_allotment_table_dv_container-loading').addClass('hidden');
				$j('#computer_allotment_table_dv_container').removeClass('hidden');
			}

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			computer_allotment_tableUniqueFields.forEach(fieldName => enforce_uniqueness('computer_allotment_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=computer_allotment_table&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=computer_allotment_table&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var computer_allotment_tableUniqueFields = [
		];
	</script>