<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the computer_user_details_init() hook (in hooks/computer_user_details.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="computer_user_details-id-<%%VALUE(id)%%>" class="computer_user_details-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-pc_id-<%%VALUE(id)%%>" class="computer_user_details-pc_id"><%%SELECT%%><%%VALUE(pc_id)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-entry_time-<%%VALUE(id)%%>" class="computer_user_details-entry_time"><%%SELECT%%><%%VALUE(entry_time)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-exit_time-<%%VALUE(id)%%>" class="computer_user_details-exit_time"><%%SELECT%%><%%VALUE(exit_time)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-date-<%%VALUE(id)%%>" class="computer_user_details-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-created_by-<%%VALUE(id)%%>" class="computer_user_details-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-last_updated_by-<%%VALUE(id)%%>" class="computer_user_details-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-created_by_username-<%%VALUE(id)%%>" class="computer_user_details-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-created_at-<%%VALUE(id)%%>" class="computer_user_details-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-last_updated_by_username-<%%VALUE(id)%%>" class="computer_user_details-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></td>
		<td id="computer_user_details-last_updated_at-<%%VALUE(id)%%>" class="computer_user_details-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></td>
