<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: PC ID -->
		<div class="form-group computer_allotment_table-pc_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PC ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="pc_id<%%RND1%%>"><%%COMBOTEXT(pc_id)%%></span></div>
			</div>
		</div>
		<!-- Field: Name of user -->
		<div class="form-group computer_allotment_table-name_of_user" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name of user</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(name_of_user)%%></div>
			</div>
		</div>
		<!-- Field: Role -->
		<div class="form-group computer_allotment_table-role" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Role</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(role)%%></div>
			</div>
		</div>
		<!-- Field: From date -->
		<div class="form-group computer_allotment_table-from_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">From date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(from_date)%%></div>
			</div>
		</div>
		<!-- Field: To date -->
		<div class="form-group computer_allotment_table-to_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">To date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(to_date)%%></div>
			</div>
		</div>
		<!-- Field: Purpose -->
		<div class="form-group computer_allotment_table-purpose" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Purpose</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(purpose)%%></div>
			</div>
		</div>
		<!-- Field: Email ID -->
		<div class="form-group computer_allotment_table-email_d" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(email_d)%%></div>
			</div>
		</div>
		<!-- Field: Mobile number -->
		<div class="form-group computer_allotment_table-mobile_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Mobile number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(mobile_number)%%></div>
			</div>
		</div>
		<!-- Field: Emp details -->
		<div class="form-group computer_allotment_table-emp_details" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Emp details</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(emp_details)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group computer_allotment_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group computer_allotment_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
