		<td colspan="15" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="computer_details_table-id-caption field-caption-tv">ID</dt>
					<dd id="computer_details_table-id-<%%VALUE(id)%%>" class="computer_details_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="computer_details_table-pc_number-caption field-caption-tv">PC number</dt>
					<dd id="computer_details_table-pc_number-<%%VALUE(id)%%>" class="computer_details_table-pc_number text-bold"><%%VALUE(pc_number)%%></dd>

					<dt class="computer_details_table-pc_hostname-caption field-caption-tv">PC hostname</dt>
					<dd id="computer_details_table-pc_hostname-<%%VALUE(id)%%>" class="computer_details_table-pc_hostname text-bold"><%%VALUE(pc_hostname)%%></dd>

					<dt class="computer_details_table-pc_mac_address-caption field-caption-tv">PC MAC Address</dt>
					<dd id="computer_details_table-pc_mac_address-<%%VALUE(id)%%>" class="computer_details_table-pc_mac_address text-bold"><%%VALUE(pc_mac_address)%%></dd>

					<dt class="computer_details_table-pc_static_ip-caption field-caption-tv">PC Static IP</dt>
					<dd id="computer_details_table-pc_static_ip-<%%VALUE(id)%%>" class="computer_details_table-pc_static_ip text-bold"><%%VALUE(pc_static_ip)%%></dd>

					<dt class="computer_details_table-room_number-caption field-caption-tv">Room number</dt>
					<dd id="computer_details_table-room_number-<%%VALUE(id)%%>" class="computer_details_table-room_number text-bold"><%%VALUE(room_number)%%></dd>

					<dt class="computer_details_table-maintained_by-caption field-caption-tv">Maintained by</dt>
					<dd id="computer_details_table-maintained_by-<%%VALUE(id)%%>" class="computer_details_table-maintained_by text-bold"><%%VALUE(maintained_by)%%></dd>

					<dt class="computer_details_table-assigned_to_user-caption field-caption-tv">Assigned to user</dt>
					<dd id="computer_details_table-assigned_to_user-<%%VALUE(id)%%>" class="computer_details_table-assigned_to_user text-bold"><%%VALUE(assigned_to_user)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="computer_details_table-remote_access-caption field-caption-tv">Remote access</dt>
					<dd id="computer_details_table-remote_access-<%%VALUE(id)%%>" class="computer_details_table-remote_access text-bold"><%%VALUE(remote_access)%%></dd>

					<dt class="computer_details_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="computer_details_table-created_by-<%%VALUE(id)%%>" class="computer_details_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="computer_details_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="computer_details_table-last_updated_by-<%%VALUE(id)%%>" class="computer_details_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="computer_details_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="computer_details_table-created_by_username-<%%VALUE(id)%%>" class="computer_details_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="computer_details_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="computer_details_table-created_at-<%%VALUE(id)%%>" class="computer_details_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="computer_details_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="computer_details_table-last_updated_by_username-<%%VALUE(id)%%>" class="computer_details_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="computer_details_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="computer_details_table-last_updated_at-<%%VALUE(id)%%>" class="computer_details_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
