<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: PC number -->
		<div class="form-group computer_details_table-pc_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PC number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pc_number)%%></div>
			</div>
		</div>
		<!-- Field: PC hostname -->
		<div class="form-group computer_details_table-pc_hostname" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PC hostname</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pc_hostname)%%></div>
			</div>
		</div>
		<!-- Field: PC MAC Address -->
		<div class="form-group computer_details_table-pc_mac_address" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PC MAC Address</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pc_mac_address)%%></div>
			</div>
		</div>
		<!-- Field: PC Static IP -->
		<div class="form-group computer_details_table-pc_static_ip" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">PC Static IP</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pc_static_ip)%%></div>
			</div>
		</div>
		<!-- Field: Room number -->
		<div class="form-group computer_details_table-room_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Room number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(room_number)%%></div>
			</div>
		</div>
		<!-- Field: Maintained by -->
		<div class="form-group computer_details_table-maintained_by" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Maintained by</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(maintained_by)%%></div>
			</div>
		</div>
		<!-- Field: Assigned to user -->
		<div class="form-group computer_details_table-assigned_to_user" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Assigned to user</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(assigned_to_user)%%></div>
			</div>
		</div>
		<!-- Field: Remote access -->
		<div class="form-group computer_details_table-remote_access" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Remote access</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(remote_access)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group computer_details_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group computer_details_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="computer_details_table-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=computer_details_table-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'computer_details_table',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'computer_details_table-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

