		<td colspan="11" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="cycle_table-id-caption field-caption-tv">ID</dt>
					<dd id="cycle_table-id-<%%VALUE(id)%%>" class="cycle_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-registration_number-caption field-caption-tv">Registration number</dt>
					<dd id="cycle_table-registration_number-<%%VALUE(id)%%>" class="cycle_table-registration_number"><%%SELECT%%><%%VALUE(registration_number)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-cycle_model-caption field-caption-tv">Cycle model</dt>
					<dd id="cycle_table-cycle_model-<%%VALUE(id)%%>" class="cycle_table-cycle_model"><%%SELECT%%><%%VALUE(cycle_model)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-cycle_color-caption field-caption-tv">Cycle color</dt>
					<dd id="cycle_table-cycle_color-<%%VALUE(id)%%>" class="cycle_table-cycle_color"><%%SELECT%%><%%VALUE(cycle_color)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-responsible_contact_person-caption field-caption-tv">Responsible Contact Person</dt>
					<dd id="cycle_table-responsible_contact_person-<%%VALUE(id)%%>" class="cycle_table-responsible_contact_person"><%%SELECT%%><%%VALUE(responsible_contact_person)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-contact_number_of_person-caption field-caption-tv">Contact number of person</dt>
					<dd id="cycle_table-contact_number_of_person-<%%VALUE(id)%%>" class="cycle_table-contact_number_of_person"><%%SELECT%%><%%VALUE(contact_number_of_person)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="cycle_table-purpose-caption field-caption-tv">Purpose</dt>
					<dd id="cycle_table-purpose-<%%VALUE(id)%%>" class="cycle_table-purpose"><%%SELECT%%><%%VALUE(purpose)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="cycle_table-created_by_username-<%%VALUE(id)%%>" class="cycle_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="cycle_table-created_at-<%%VALUE(id)%%>" class="cycle_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="cycle_table-last_updated_by_username-<%%VALUE(id)%%>" class="cycle_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="cycle_table-last_updated_at-<%%VALUE(id)%%>" class="cycle_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
