		<td colspan="11" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="cycle_usage_table-id-caption field-caption-tv">ID</dt>
					<dd id="cycle_usage_table-id-<%%VALUE(id)%%>" class="cycle_usage_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-cycle_lookup-caption field-caption-tv">Cycle Details</dt>
					<dd id="cycle_usage_table-cycle_lookup-<%%VALUE(id)%%>" class="cycle_usage_table-cycle_lookup"><%%SELECT%%><%%VALUE(cycle_lookup)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-used_by-caption field-caption-tv">Used by</dt>
					<dd id="cycle_usage_table-used_by-<%%VALUE(id)%%>" class="cycle_usage_table-used_by"><%%SELECT%%><%%VALUE(used_by)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-datetime_from-caption field-caption-tv">Date and time from</dt>
					<dd id="cycle_usage_table-datetime_from-<%%VALUE(id)%%>" class="cycle_usage_table-datetime_from"><%%SELECT%%><%%VALUE(datetime_from)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-datetime_to-caption field-caption-tv">Date and time to</dt>
					<dd id="cycle_usage_table-datetime_to-<%%VALUE(id)%%>" class="cycle_usage_table-datetime_to"><%%SELECT%%><%%VALUE(datetime_to)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-total_distance_run-caption field-caption-tv">Total distance run (In KM)</dt>
					<dd id="cycle_usage_table-total_distance_run-<%%VALUE(id)%%>" class="cycle_usage_table-total_distance_run"><%%SELECT%%><%%VALUE(total_distance_run)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="cycle_usage_table-remarks-caption field-caption-tv">Remarks (Optional)</dt>
					<dd id="cycle_usage_table-remarks-<%%VALUE(id)%%>" class="cycle_usage_table-remarks"><%%SELECT%%><%%VALUE(remarks)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="cycle_usage_table-created_by_username-<%%VALUE(id)%%>" class="cycle_usage_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="cycle_usage_table-created_at-<%%VALUE(id)%%>" class="cycle_usage_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="cycle_usage_table-last_updated_by_username-<%%VALUE(id)%%>" class="cycle_usage_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="cycle_usage_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="cycle_usage_table-last_updated_at-<%%VALUE(id)%%>" class="cycle_usage_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
