		<td colspan="14" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="decision_table-decision_id-caption field-caption-tv">ID</dt>
					<dd id="decision_table-decision_id-<%%VALUE(decision_id)%%>" class="decision_table-decision_id text-right text-bold"><%%VALUE(decision_id)%%></dd>

					<dt class="decision_table-agenda_lookup-caption field-caption-tv">Agenda of Meeting</dt>
					<dd id="decision_table-agenda_lookup-<%%VALUE(decision_id)%%>" class="decision_table-agenda_lookup text-bold"><%%VALUE(agenda_lookup)%%></dd>

					<dt class="decision_table-decision_description-caption field-caption-tv">Decision description</dt>
					<dd id="decision_table-decision_description-<%%VALUE(decision_id)%%>" class="decision_table-decision_description text-bold"><%%VALUE(decision_description)%%></dd>

					<dt class="decision_table-decision_actor-caption field-caption-tv">Decision actor</dt>
					<dd id="decision_table-decision_actor-<%%VALUE(decision_id)%%>" class="decision_table-decision_actor text-bold"><%%VALUE(decision_actor)%%></dd>

					<dt class="decision_table-action_taken_with_date-caption field-caption-tv">Action taken with date</dt>
					<dd id="decision_table-action_taken_with_date-<%%VALUE(decision_id)%%>" class="decision_table-action_taken_with_date text-bold"><%%VALUE(action_taken_with_date)%%></dd>

					<dt class="decision_table-decision_status-caption field-caption-tv">Decision status</dt>
					<dd id="decision_table-decision_status-<%%VALUE(decision_id)%%>" class="decision_table-decision_status text-bold"><%%VALUE(decision_status)%%></dd>

					<dt class="decision_table-decision_status_update_date-caption field-caption-tv">Decision status update date</dt>
					<dd id="decision_table-decision_status_update_date-<%%VALUE(decision_id)%%>" class="decision_table-decision_status_update_date text-bold"><%%VALUE(decision_status_update_date)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="decision_table-decision_status_remarks_by_superior-caption field-caption-tv">Decision status remarks by superior</dt>
					<dd id="decision_table-decision_status_remarks_by_superior-<%%VALUE(decision_id)%%>" class="decision_table-decision_status_remarks_by_superior text-bold"><%%VALUE(decision_status_remarks_by_superior)%%></dd>

					<dt class="decision_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="decision_table-created_by-<%%VALUE(decision_id)%%>" class="decision_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="decision_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="decision_table-last_updated_by-<%%VALUE(decision_id)%%>" class="decision_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="decision_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="decision_table-created_by_username-<%%VALUE(decision_id)%%>" class="decision_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="decision_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="decision_table-created_at-<%%VALUE(decision_id)%%>" class="decision_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="decision_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="decision_table-last_updated_by_username-<%%VALUE(decision_id)%%>" class="decision_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="decision_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="decision_table-last_updated_at-<%%VALUE(decision_id)%%>" class="decision_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
