<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Year -->
		<div class="form-group ed_eir-year" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Year</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(year)%%></div>
			</div>
		</div>
		<!-- Field: Candidate Name -->
		<div class="form-group ed_eir-name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Candidate Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(name)%%></div>
			</div>
		</div>
		<!-- Field: Select the Candidate's Gender -->
		<div class="form-group ed_eir-gender" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Select the Candidate's Gender</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(gender)%%></div>
			</div>
		</div>
		<!-- Field: Cast Category -->
		<div class="form-group ed_eir-cast_category" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cast Category</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(cast_category)%%></div>
			</div>
		</div>
		<!-- Field: Technology Area -->
		<div class="form-group ed_eir-Technology_Area" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Technology Area</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Technology_Area)%%></div>
			</div>
		</div>
		<!-- Field: Start Date -->
		<div class="form-group ed_eir-Start_Date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Start Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Start_Date)%%></div>
			</div>
		</div>
		<!-- Field: End Date -->
		<div class="form-group ed_eir-End_Date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">End Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(End_Date)%%></div>
			</div>
		</div>
		<!-- Field: Co-funding Agency Type -->
		<div class="form-group ed_eir-Co_funding_Agency_Type" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Co-funding Agency Type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Co_funding_Agency_Type)%%></div>
			</div>
		</div>
		<!-- Field: Co-funding Agency Name -->
		<div class="form-group ed_eir-Co_funding_Agency_Name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Co-funding Agency Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Co_funding_Agency_Name)%%></div>
			</div>
		</div>
		<!-- Field: TRL Level -->
		<div class="form-group ed_eir-trl_level" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">TRL Level</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(trl_level)%%></div>
			</div>
		</div>
		<!-- Field: Status -->
		<div class="form-group ed_eir-status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(status)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group ed_eir-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group ed_eir-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
