<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Year -->
		<div class="form-group ed_job_creation-year" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Year</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(year)%%></div>
			</div>
		</div>
		<!-- Field: Name of the Employee -->
		<div class="form-group ed_job_creation-Name_of_the_Employee" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name of the Employee</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Name_of_the_Employee)%%></div>
			</div>
		</div>
		<!-- Field: Select the Candidate's Gender -->
		<div class="form-group ed_job_creation-gender" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Select the Candidate's Gender</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(gender)%%></div>
			</div>
		</div>
		<!-- Field: Cast Category -->
		<div class="form-group ed_job_creation-cast_category" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cast Category</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(cast_category)%%></div>
			</div>
		</div>
		<!-- Field: Type of Employment -->
		<div class="form-group ed_job_creation-Type_of_Employment" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Type of Employment</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Type_of_Employment)%%></div>
			</div>
		</div>
		<!-- Field: Joining Date -->
		<div class="form-group ed_job_creation-Joining_Date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Joining Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(Joining_Date)%%></div>
			</div>
		</div>
		<!-- Field: Designation -->
		<div class="form-group ed_job_creation-Designation" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Designation</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Designation)%%></div>
			</div>
		</div>
		<!-- Field: Organisation Name -->
		<div class="form-group ed_job_creation-Organisation_Name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Organisation Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Organisation_Name)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group ed_job_creation-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group ed_job_creation-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
