<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ed_startup_companies_init() hook (in hooks/ed_startup_companies.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ed_startup_companies-year-<%%VALUE(id)%%>" class="ed_startup_companies-year text-bold"><%%VALUE(year)%%></td>
		<td id="ed_startup_companies-startup_name-<%%VALUE(id)%%>" class="ed_startup_companies-startup_name text-bold"><%%VALUE(startup_name)%%></td>
		<td id="ed_startup_companies-founder_name-<%%VALUE(id)%%>" class="ed_startup_companies-founder_name text-bold"><%%VALUE(founder_name)%%></td>
		<td id="ed_startup_companies-gender-<%%VALUE(id)%%>" class="ed_startup_companies-gender text-bold"><%%VALUE(gender)%%></td>
		<td id="ed_startup_companies-cast_category-<%%VALUE(id)%%>" class="ed_startup_companies-cast_category text-bold"><%%VALUE(cast_category)%%></td>
		<td id="ed_startup_companies-technology_area-<%%VALUE(id)%%>" class="ed_startup_companies-technology_area text-bold"><%%VALUE(technology_area)%%></td>
		<td id="ed_startup_companies-deep_tech-<%%VALUE(id)%%>" class="ed_startup_companies-deep_tech text-bold"><%%VALUE(deep_tech)%%></td>
		<td id="ed_startup_companies-product_brief-<%%VALUE(id)%%>" class="ed_startup_companies-product_brief text-bold"><%%VALUE(product_brief)%%></td>
		<td id="ed_startup_companies-trl_status-<%%VALUE(id)%%>" class="ed_startup_companies-trl_status text-bold"><%%VALUE(trl_status)%%></td>
		<td id="ed_startup_companies-product_status-<%%VALUE(id)%%>" class="ed_startup_companies-product_status text-bold"><%%VALUE(product_status)%%></td>
		<td id="ed_startup_companies-CommercialisationArea-<%%VALUE(id)%%>" class="ed_startup_companies-CommercialisationArea text-bold"><%%VALUE(CommercialisationArea)%%></td>
		<td id="ed_startup_companies-Is_Commercialized-<%%VALUE(id)%%>" class="ed_startup_companies-Is_Commercialized text-bold"><%%VALUE(Is_Commercialized)%%></td>
		<td id="ed_startup_companies-Customer_Details-<%%VALUE(id)%%>" class="ed_startup_companies-Customer_Details text-bold"><%%VALUE(Customer_Details)%%></td>
		<td id="ed_startup_companies-Total_Approved_Amount-<%%VALUE(id)%%>" class="ed_startup_companies-Total_Approved_Amount text-right text-bold"><%%VALUE(Total_Approved_Amount)%%></td>
		<td id="ed_startup_companies-funding_released_2020-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2020 text-bold"><%%VALUE(funding_released_2020)%%></td>
		<td id="ed_startup_companies-funding_released_2021-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2021 text-bold"><%%VALUE(funding_released_2021)%%></td>
		<td id="ed_startup_companies-funding_released_2022-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2022 text-bold"><%%VALUE(funding_released_2022)%%></td>
		<td id="ed_startup_companies-funding_released_2023-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2023 text-bold"><%%VALUE(funding_released_2023)%%></td>
		<td id="ed_startup_companies-funding_released_2024-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2024 text-bold"><%%VALUE(funding_released_2024)%%></td>
		<td id="ed_startup_companies-funding_released_2025-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2025 text-bold"><%%VALUE(funding_released_2025)%%></td>
		<td id="ed_startup_companies-funding_released_2026-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2026 text-bold"><%%VALUE(funding_released_2026)%%></td>
		<td id="ed_startup_companies-funding_released_2027-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2027 text-bold"><%%VALUE(funding_released_2027)%%></td>
		<td id="ed_startup_companies-total_value_released-<%%VALUE(id)%%>" class="ed_startup_companies-total_value_released text-bold"><%%VALUE(total_value_released)%%></td>
		<td id="ed_startup_companies-external_funding_amount-<%%VALUE(id)%%>" class="ed_startup_companies-external_funding_amount text-bold"><%%VALUE(external_funding_amount)%%></td>
		<td id="ed_startup_companies-Funding_Type-<%%VALUE(id)%%>" class="ed_startup_companies-Funding_Type text-bold"><%%VALUE(Funding_Type)%%></td>
		<td id="ed_startup_companies-Equity_Percentage-<%%VALUE(id)%%>" class="ed_startup_companies-Equity_Percentage text-right text-bold"><%%VALUE(Equity_Percentage)%%></td>
		<td id="ed_startup_companies-valuation-<%%VALUE(id)%%>" class="ed_startup_companies-valuation text-right text-bold"><%%VALUE(valuation)%%></td>
		<td id="ed_startup_companies-Collaboration_Partner_Type-<%%VALUE(id)%%>" class="ed_startup_companies-Collaboration_Partner_Type text-bold"><%%VALUE(Collaboration_Partner_Type)%%></td>
		<td id="ed_startup_companies-Website-<%%VALUE(id)%%>" class="ed_startup_companies-Website text-bold"><%%VALUE(Website)%%></td>
		<td id="ed_startup_companies-CIN_LLP-<%%VALUE(id)%%>" class="ed_startup_companies-CIN_LLP text-bold"><%%VALUE(CIN_LLP)%%></td>
		<td id="ed_startup_companies-state-<%%VALUE(id)%%>" class="ed_startup_companies-state text-bold"><%%VALUE(state)%%></td>
		<td id="ed_startup_companies-district-<%%VALUE(id)%%>" class="ed_startup_companies-district text-bold"><%%VALUE(district)%%></td>
		<td id="ed_startup_companies-remarks-<%%VALUE(id)%%>" class="ed_startup_companies-remarks text-bold"><%%VALUE(remarks)%%></td>
		<td id="ed_startup_companies-Registered_Address-<%%VALUE(id)%%>" class="ed_startup_companies-Registered_Address text-bold"><%%VALUE(Registered_Address)%%></td>
		<td id="ed_startup_companies-created_by_username-<%%VALUE(id)%%>" class="ed_startup_companies-created_by_username text-bold"><%%VALUE(created_by_username)%%></td>
		<td id="ed_startup_companies-created_at-<%%VALUE(id)%%>" class="ed_startup_companies-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="ed_startup_companies-last_updated_by_username-<%%VALUE(id)%%>" class="ed_startup_companies-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></td>
		<td id="ed_startup_companies-last_updated_at-<%%VALUE(id)%%>" class="ed_startup_companies-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
