<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ed_startup_companies_init() hook (in hooks/ed_startup_companies.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ed_startup_companies-year-<%%VALUE(id)%%>" class="ed_startup_companies-year"><%%SELECT%%><%%VALUE(year)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-startup_name-<%%VALUE(id)%%>" class="ed_startup_companies-startup_name"><%%SELECT%%><%%VALUE(startup_name)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-founder_name-<%%VALUE(id)%%>" class="ed_startup_companies-founder_name"><%%SELECT%%><%%VALUE(founder_name)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-gender-<%%VALUE(id)%%>" class="ed_startup_companies-gender"><%%SELECT%%><%%VALUE(gender)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-cast_category-<%%VALUE(id)%%>" class="ed_startup_companies-cast_category"><%%SELECT%%><%%VALUE(cast_category)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-technology_area-<%%VALUE(id)%%>" class="ed_startup_companies-technology_area"><%%SELECT%%><%%VALUE(technology_area)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-deep_tech-<%%VALUE(id)%%>" class="ed_startup_companies-deep_tech"><%%SELECT%%><%%VALUE(deep_tech)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-product_brief-<%%VALUE(id)%%>" class="ed_startup_companies-product_brief"><%%SELECT%%><%%VALUE(product_brief)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-trl_status-<%%VALUE(id)%%>" class="ed_startup_companies-trl_status"><%%SELECT%%><%%VALUE(trl_status)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-product_status-<%%VALUE(id)%%>" class="ed_startup_companies-product_status"><%%SELECT%%><%%VALUE(product_status)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-CommercialisationArea-<%%VALUE(id)%%>" class="ed_startup_companies-CommercialisationArea"><%%SELECT%%><%%VALUE(CommercialisationArea)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-Is_Commercialized-<%%VALUE(id)%%>" class="ed_startup_companies-Is_Commercialized"><%%SELECT%%><%%VALUE(Is_Commercialized)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-Customer_Details-<%%VALUE(id)%%>" class="ed_startup_companies-Customer_Details"><%%SELECT%%><%%VALUE(Customer_Details)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-Total_Approved_Amount-<%%VALUE(id)%%>" class="ed_startup_companies-Total_Approved_Amount text-right"><%%SELECT%%><%%VALUE(Total_Approved_Amount)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-funding_released_2020-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2020"><%%SELECT%%><%%VALUE(funding_released_2020)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-funding_released_2021-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2021"><%%SELECT%%><%%VALUE(funding_released_2021)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-funding_released_2022-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2022"><%%SELECT%%><%%VALUE(funding_released_2022)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-funding_released_2023-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2023"><%%SELECT%%><%%VALUE(funding_released_2023)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-funding_released_2024-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2024"><%%SELECT%%><%%VALUE(funding_released_2024)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-funding_released_2025-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2025"><%%SELECT%%><%%VALUE(funding_released_2025)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-funding_released_2026-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2026"><%%SELECT%%><%%VALUE(funding_released_2026)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-funding_released_2027-<%%VALUE(id)%%>" class="ed_startup_companies-funding_released_2027"><%%SELECT%%><%%VALUE(funding_released_2027)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-total_value_released-<%%VALUE(id)%%>" class="ed_startup_companies-total_value_released"><%%SELECT%%><%%VALUE(total_value_released)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-external_funding_amount-<%%VALUE(id)%%>" class="ed_startup_companies-external_funding_amount"><%%SELECT%%><%%VALUE(external_funding_amount)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-Funding_Type-<%%VALUE(id)%%>" class="ed_startup_companies-Funding_Type"><%%SELECT%%><%%VALUE(Funding_Type)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-Equity_Percentage-<%%VALUE(id)%%>" class="ed_startup_companies-Equity_Percentage text-right"><%%SELECT%%><%%VALUE(Equity_Percentage)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-valuation-<%%VALUE(id)%%>" class="ed_startup_companies-valuation text-right"><%%SELECT%%><%%VALUE(valuation)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-Collaboration_Partner_Type-<%%VALUE(id)%%>" class="ed_startup_companies-Collaboration_Partner_Type"><%%SELECT%%><%%VALUE(Collaboration_Partner_Type)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-Website-<%%VALUE(id)%%>" class="ed_startup_companies-Website"><%%SELECT%%><%%VALUE(Website)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-CIN_LLP-<%%VALUE(id)%%>" class="ed_startup_companies-CIN_LLP"><%%SELECT%%><%%VALUE(CIN_LLP)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-state-<%%VALUE(id)%%>" class="ed_startup_companies-state"><%%SELECT%%><%%VALUE(state)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-district-<%%VALUE(id)%%>" class="ed_startup_companies-district"><%%SELECT%%><%%VALUE(district)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-remarks-<%%VALUE(id)%%>" class="ed_startup_companies-remarks"><%%SELECT%%><%%VALUE(remarks)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-Registered_Address-<%%VALUE(id)%%>" class="ed_startup_companies-Registered_Address"><%%SELECT%%><%%VALUE(Registered_Address)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-created_by_username-<%%VALUE(id)%%>" class="ed_startup_companies-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-created_at-<%%VALUE(id)%%>" class="ed_startup_companies-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-last_updated_by_username-<%%VALUE(id)%%>" class="ed_startup_companies-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></td>
		<td id="ed_startup_companies-last_updated_at-<%%VALUE(id)%%>" class="ed_startup_companies-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></td>
