		<td colspan="14" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="email_id_allocation_table-email_id_allocation_id-caption field-caption-tv">ID</dt>
					<dd id="email_id_allocation_table-email_id_allocation_id-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-email_id_allocation_id text-right text-bold"><%%VALUE(email_id_allocation_id)%%></dd>

					<dt class="email_id_allocation_table-name_of_person-caption field-caption-tv">Name of person</dt>
					<dd id="email_id_allocation_table-name_of_person-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-name_of_person text-bold"><%%VALUE(name_of_person)%%></dd>

					<dt class="email_id_allocation_table-allocated_email_id-caption field-caption-tv">Allocated email id</dt>
					<dd id="email_id_allocation_table-allocated_email_id-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-allocated_email_id text-bold"><%%VALUE(allocated_email_id)%%></dd>

					<dt class="email_id_allocation_table-alternative_email_id-caption field-caption-tv">Alternative email id</dt>
					<dd id="email_id_allocation_table-alternative_email_id-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-alternative_email_id text-bold"><%%VALUE(alternative_email_id)%%></dd>

					<dt class="email_id_allocation_table-date_of_allocation-caption field-caption-tv">Date of allocation</dt>
					<dd id="email_id_allocation_table-date_of_allocation-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-date_of_allocation text-bold"><%%VALUE(date_of_allocation)%%></dd>

					<dt class="email_id_allocation_table-status-caption field-caption-tv">Status</dt>
					<dd id="email_id_allocation_table-status-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-status text-bold"><%%VALUE(status)%%></dd>

					<dt class="email_id_allocation_table-reporting_manager-caption field-caption-tv">Reporting manager</dt>
					<dd id="email_id_allocation_table-reporting_manager-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-reporting_manager text-bold"><%%VALUE(reporting_manager)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="email_id_allocation_table-remarks-caption field-caption-tv">Remarks</dt>
					<dd id="email_id_allocation_table-remarks-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-remarks text-bold"><%%VALUE(remarks)%%></dd>

					<dt class="email_id_allocation_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="email_id_allocation_table-created_by-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="email_id_allocation_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="email_id_allocation_table-created_at-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="email_id_allocation_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="email_id_allocation_table-last_updated_by-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="email_id_allocation_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="email_id_allocation_table-last_updated_at-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="email_id_allocation_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="email_id_allocation_table-created_by_username-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="email_id_allocation_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="email_id_allocation_table-last_updated_by_username-<%%VALUE(email_id_allocation_id)%%>" class="email_id_allocation_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
