<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the employees_reporting_table_init() hook (in hooks/employees_reporting_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="employees_reporting_table-id-<%%VALUE(id)%%>" class="employees_reporting_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="employees_reporting_table-employee_name-<%%VALUE(id)%%>" class="employees_reporting_table-employee_name"><%%SELECT%%><%%VALUE(employee_name)%%><%%ENDSELECT%%></td>
		<td id="employees_reporting_table-designation-<%%VALUE(id)%%>" class="employees_reporting_table-designation"><%%SELECT%%><%%VALUE(designation)%%><%%ENDSELECT%%></td>
		<td id="employees_reporting_table-reporting_officer-<%%VALUE(id)%%>" class="employees_reporting_table-reporting_officer"><%%SELECT%%><%%VALUE(reporting_officer)%%><%%ENDSELECT%%></td>
		<td id="employees_reporting_table-reviewing_officer-<%%VALUE(id)%%>" class="employees_reporting_table-reviewing_officer"><%%SELECT%%><%%VALUE(reviewing_officer)%%><%%ENDSELECT%%></td>
		<td id="employees_reporting_table-created_by-<%%VALUE(id)%%>" class="employees_reporting_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></td>
		<td id="employees_reporting_table-created_at-<%%VALUE(id)%%>" class="employees_reporting_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="employees_reporting_table-last_updated_by-<%%VALUE(id)%%>" class="employees_reporting_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></td>
		<td id="employees_reporting_table-last_updated_at-<%%VALUE(id)%%>" class="employees_reporting_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></td>
