		<td colspan="20" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="employees_personal_data_table-id-caption field-caption-tv">ID</dt>
					<dd id="employees_personal_data_table-id-<%%VALUE(id)%%>" class="employees_personal_data_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="employees_personal_data_table-name-caption field-caption-tv">Name</dt>
					<dd id="employees_personal_data_table-name-<%%VALUE(id)%%>" class="employees_personal_data_table-name text-bold"><%%VALUE(name)%%></dd>

					<dt class="employees_personal_data_table-employee_type-caption field-caption-tv">Employee type</dt>
					<dd id="employees_personal_data_table-employee_type-<%%VALUE(id)%%>" class="employees_personal_data_table-employee_type text-bold"><%%VALUE(employee_type)%%></dd>

					<dt class="employees_personal_data_table-emp_id-caption field-caption-tv">Emp id</dt>
					<dd id="employees_personal_data_table-emp_id-<%%VALUE(id)%%>" class="employees_personal_data_table-emp_id text-bold"><%%VALUE(emp_id)%%></dd>

					<dt class="employees_personal_data_table-date_of_birth-caption field-caption-tv">Date of birth</dt>
					<dd id="employees_personal_data_table-date_of_birth-<%%VALUE(id)%%>" class="employees_personal_data_table-date_of_birth text-bold"><%%VALUE(date_of_birth)%%></dd>

					<dt class="employees_personal_data_table-blood_group-caption field-caption-tv">Blood group</dt>
					<dd id="employees_personal_data_table-blood_group-<%%VALUE(id)%%>" class="employees_personal_data_table-blood_group text-bold"><%%VALUE(blood_group)%%></dd>

					<dt class="employees_personal_data_table-email-caption field-caption-tv">Email</dt>
					<dd id="employees_personal_data_table-email-<%%VALUE(id)%%>" class="employees_personal_data_table-email text-bold"><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></dd>

					<dt class="employees_personal_data_table-phone_number-caption field-caption-tv">Phone number</dt>
					<dd id="employees_personal_data_table-phone_number-<%%VALUE(id)%%>" class="employees_personal_data_table-phone_number text-bold"><%%VALUE(phone_number)%%></dd>

					<dt class="employees_personal_data_table-department-caption field-caption-tv">Department</dt>
					<dd id="employees_personal_data_table-department-<%%VALUE(id)%%>" class="employees_personal_data_table-department text-bold"><%%VALUE(department)%%></dd>

					<dt class="employees_personal_data_table-date_of_joining-caption field-caption-tv">Date of joining</dt>
					<dd id="employees_personal_data_table-date_of_joining-<%%VALUE(id)%%>" class="employees_personal_data_table-date_of_joining text-bold"><%%VALUE(date_of_joining)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="employees_personal_data_table-date_of_exit-caption field-caption-tv">Date of exit</dt>
					<dd id="employees_personal_data_table-date_of_exit-<%%VALUE(id)%%>" class="employees_personal_data_table-date_of_exit text-bold"><%%VALUE(date_of_exit)%%></dd>

					<dt class="employees_personal_data_table-active_status-caption field-caption-tv">Active status</dt>
					<dd id="employees_personal_data_table-active_status-<%%VALUE(id)%%>" class="employees_personal_data_table-active_status text-bold"><%%VALUE(active_status)%%></dd>

					<dt class="employees_personal_data_table-profile_photo-caption field-caption-tv">Profile photo</dt>
					<dd id="employees_personal_data_table-profile_photo-<%%VALUE(id)%%>" class="employees_personal_data_table-profile_photo text-bold"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(profile_photo)%%>" data-lightbox="employees_personal_data_table-profile_photo"><img src="thumbnail.php?i=<%%VALUE(profile_photo)%%>&t=employees_personal_data_table&f=profile_photo&v=tv" class="img-thumbnail"></a></dd>

					<dt class="employees_personal_data_table-signature-caption field-caption-tv">Signature</dt>
					<dd id="employees_personal_data_table-signature-<%%VALUE(id)%%>" class="employees_personal_data_table-signature text-bold"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(signature)%%>" data-lightbox="employees_personal_data_table-signature"><img src="thumbnail.php?i=<%%VALUE(signature)%%>&t=employees_personal_data_table&f=signature&v=tv" class="img-thumbnail"></a></dd>

					<dt class="employees_personal_data_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="employees_personal_data_table-created_by-<%%VALUE(id)%%>" class="employees_personal_data_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="employees_personal_data_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="employees_personal_data_table-created_at-<%%VALUE(id)%%>" class="employees_personal_data_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="employees_personal_data_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="employees_personal_data_table-last_updated_by-<%%VALUE(id)%%>" class="employees_personal_data_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="employees_personal_data_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="employees_personal_data_table-last_updated_at-<%%VALUE(id)%%>" class="employees_personal_data_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="employees_personal_data_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="employees_personal_data_table-created_by_username-<%%VALUE(id)%%>" class="employees_personal_data_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="employees_personal_data_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="employees_personal_data_table-last_updated_by_username-<%%VALUE(id)%%>" class="employees_personal_data_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
