		<td colspan="22" class="row">
			<div id="employees_appraisal_table-id-<%%VALUE(id)%%>" class="employees_appraisal_table-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="employees_appraisal_table-employee_designation_lookup-caption field-caption-tv">Employee Details</dt>
					<dd id="employees_appraisal_table-employee_designation_lookup-<%%VALUE(id)%%>" class="employees_appraisal_table-employee_designation_lookup"><%%SELECT%%><%%VALUE(employee_designation_lookup)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-current_review_period_from-caption field-caption-tv">Current Review Period From Date</dt>
					<dd id="employees_appraisal_table-current_review_period_from-<%%VALUE(id)%%>" class="employees_appraisal_table-current_review_period_from"><%%SELECT%%><%%VALUE(current_review_period_from)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-current_review_period_to-caption field-caption-tv">Current Review Period To Date</dt>
					<dd id="employees_appraisal_table-current_review_period_to-<%%VALUE(id)%%>" class="employees_appraisal_table-current_review_period_to"><%%SELECT%%><%%VALUE(current_review_period_to)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-roles-caption field-caption-tv">Roles & Responsibilities</dt>
					<dd id="employees_appraisal_table-roles-<%%VALUE(id)%%>" class="employees_appraisal_table-roles"><%%SELECT%%><%%VALUE(roles)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-self_explanation-caption field-caption-tv">Employee Self-explanation</dt>
					<dd id="employees_appraisal_table-self_explanation-<%%VALUE(id)%%>" class="employees_appraisal_table-self_explanation"><%%SELECT%%><%%VALUE(self_explanation)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-upload_file_1-caption field-caption-tv">Upload file 1</dt>
					<dd id="employees_appraisal_table-upload_file_1-<%%VALUE(id)%%>" class="employees_appraisal_table-upload_file_1"><a href="link.php?t=employees_appraisal_table&f=upload_file_1&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(upload_file_1)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-download-alt text-info"></i></a></dd>

					<dt class="employees_appraisal_table-upload_file_2-caption field-caption-tv">Upload file 2</dt>
					<dd id="employees_appraisal_table-upload_file_2-<%%VALUE(id)%%>" class="employees_appraisal_table-upload_file_2"><a href="link.php?t=employees_appraisal_table&f=upload_file_2&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(upload_file_2)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-download-alt text-info"></i></a></dd>

					<dt class="employees_appraisal_table-upload_file_3-caption field-caption-tv">Upload file 3</dt>
					<dd id="employees_appraisal_table-upload_file_3-<%%VALUE(id)%%>" class="employees_appraisal_table-upload_file_3"><a href="link.php?t=employees_appraisal_table&f=upload_file_3&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(upload_file_3)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-download-alt text-info"></i></a></dd>

					<dt class="employees_appraisal_table-reporting_officer_feedback-caption field-caption-tv">Reporting Officer Feedback on the Employee Responsibilities</dt>
					<dd id="employees_appraisal_table-reporting_officer_feedback-<%%VALUE(id)%%>" class="employees_appraisal_table-reporting_officer_feedback"><%%SELECT%%><%%VALUE(reporting_officer_feedback)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-observations_by_reporting_officer-caption field-caption-tv">Observations by the Reporting Officer</dt>
					<dd id="employees_appraisal_table-observations_by_reporting_officer-<%%VALUE(id)%%>" class="employees_appraisal_table-observations_by_reporting_officer"><%%SELECT%%><%%VALUE(observations_by_reporting_officer)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-overall_rating-caption field-caption-tv">Overall Rating by the Reporting Officer</dt>
					<dd id="employees_appraisal_table-overall_rating-<%%VALUE(id)%%>" class="employees_appraisal_table-overall_rating"><%%SELECT%%><%%VALUE(overall_rating)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="employees_appraisal_table-reporting_appraisal_status-caption field-caption-tv">Appraisal Feedback Status by Reporting Officer</dt>
					<dd id="employees_appraisal_table-reporting_appraisal_status-<%%VALUE(id)%%>" class="employees_appraisal_table-reporting_appraisal_status"><%%SELECT%%><%%VALUE(reporting_appraisal_status)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-reviewing_officer-caption field-caption-tv">Reviewing officer</dt>
					<dd id="employees_appraisal_table-reviewing_officer-<%%VALUE(id)%%>" class="employees_appraisal_table-reviewing_officer"><%%SELECT%%><%%VALUE(reviewing_officer)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-reviewing_officer_remarks-caption field-caption-tv">Reviewing Officer Remarks</dt>
					<dd id="employees_appraisal_table-reviewing_officer_remarks-<%%VALUE(id)%%>" class="employees_appraisal_table-reviewing_officer_remarks"><%%SELECT%%><%%VALUE(reviewing_officer_remarks)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-reviewing_appraisal_status-caption field-caption-tv">Appraisal Feedback Status by Reviewing Officer</dt>
					<dd id="employees_appraisal_table-reviewing_appraisal_status-<%%VALUE(id)%%>" class="employees_appraisal_table-reviewing_appraisal_status"><%%SELECT%%><%%VALUE(reviewing_appraisal_status)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="employees_appraisal_table-created_by-<%%VALUE(id)%%>" class="employees_appraisal_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="employees_appraisal_table-created_at-<%%VALUE(id)%%>" class="employees_appraisal_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="employees_appraisal_table-last_updated_by-<%%VALUE(id)%%>" class="employees_appraisal_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="employees_appraisal_table-last_updated_at-<%%VALUE(id)%%>" class="employees_appraisal_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="employees_appraisal_table-created_by_username-<%%VALUE(id)%%>" class="employees_appraisal_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="employees_appraisal_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="employees_appraisal_table-last_updated_by_username-<%%VALUE(id)%%>" class="employees_appraisal_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_upload_file_1 = '<%%VALUE(upload_file_1)%%>'; if(e_upload_file_1 == '' || e_upload_file_1 == '&nbsp;') $j(/*<*/ '#employees_appraisal_table-upload_file_1-<%%VALUE(id)%%>' /*>*/).html('');
			var e_upload_file_2 = '<%%VALUE(upload_file_2)%%>'; if(e_upload_file_2 == '' || e_upload_file_2 == '&nbsp;') $j(/*<*/ '#employees_appraisal_table-upload_file_2-<%%VALUE(id)%%>' /*>*/).html('');
			var e_upload_file_3 = '<%%VALUE(upload_file_3)%%>'; if(e_upload_file_3 == '' || e_upload_file_3 == '&nbsp;') $j(/*<*/ '#employees_appraisal_table-upload_file_3-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
