		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="employees_designation_table-id-caption field-caption-tv">ID</dt>
					<dd id="employees_designation_table-id-<%%VALUE(id)%%>" class="employees_designation_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="employees_designation_table-employee_lookup-caption field-caption-tv">Employee Details</dt>
					<dd id="employees_designation_table-employee_lookup-<%%VALUE(id)%%>" class="employees_designation_table-employee_lookup text-bold"><%%VALUE(employee_lookup)%%></dd>

					<dt class="employees_designation_table-designation-caption field-caption-tv">Designation</dt>
					<dd id="employees_designation_table-designation-<%%VALUE(id)%%>" class="employees_designation_table-designation text-bold"><%%VALUE(designation)%%></dd>

					<dt class="employees_designation_table-date_of_appointment_to_designation-caption field-caption-tv">Date of appointment to designation</dt>
					<dd id="employees_designation_table-date_of_appointment_to_designation-<%%VALUE(id)%%>" class="employees_designation_table-date_of_appointment_to_designation text-bold"><%%VALUE(date_of_appointment_to_designation)%%></dd>

					<dt class="employees_designation_table-active_status-caption field-caption-tv">Active status</dt>
					<dd id="employees_designation_table-active_status-<%%VALUE(id)%%>" class="employees_designation_table-active_status text-bold"><%%VALUE(active_status)%%></dd>

					<dt class="employees_designation_table-reporting_officer-caption field-caption-tv">Reporting Officer</dt>
					<dd id="employees_designation_table-reporting_officer-<%%VALUE(id)%%>" class="employees_designation_table-reporting_officer text-bold"><%%VALUE(reporting_officer)%%></dd>

					<dt class="employees_designation_table-reviewing_officer-caption field-caption-tv">Reviewing Officer</dt>
					<dd id="employees_designation_table-reviewing_officer-<%%VALUE(id)%%>" class="employees_designation_table-reviewing_officer text-bold"><%%VALUE(reviewing_officer)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="employees_designation_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="employees_designation_table-created_by-<%%VALUE(id)%%>" class="employees_designation_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="employees_designation_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="employees_designation_table-created_at-<%%VALUE(id)%%>" class="employees_designation_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="employees_designation_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="employees_designation_table-last_updated_by-<%%VALUE(id)%%>" class="employees_designation_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="employees_designation_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="employees_designation_table-last_updated_at-<%%VALUE(id)%%>" class="employees_designation_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="employees_designation_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="employees_designation_table-created_by_username-<%%VALUE(id)%%>" class="employees_designation_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="employees_designation_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="employees_designation_table-last_updated_by_username-<%%VALUE(id)%%>" class="employees_designation_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
