<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the employees_designation_table_init() hook (in hooks/employees_designation_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="employees_designation_table-id-<%%VALUE(id)%%>" class="employees_designation_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="employees_designation_table-employee_details-<%%VALUE(id)%%>" class="employees_designation_table-employee_details text-bold"><%%VALUE(employee_details)%%></td>
		<td id="employees_designation_table-new_designation-<%%VALUE(id)%%>" class="employees_designation_table-new_designation text-bold"><%%VALUE(new_designation)%%></td>
		<td id="employees_designation_table-date_of_appointment_to_new_designation-<%%VALUE(id)%%>" class="employees_designation_table-date_of_appointment_to_new_designation text-bold"><%%VALUE(date_of_appointment_to_new_designation)%%></td>
		<td id="employees_designation_table-previous_designation-<%%VALUE(id)%%>" class="employees_designation_table-previous_designation text-bold"><%%VALUE(previous_designation)%%></td>
		<td id="employees_designation_table-date_of_resignation_from_previous_resignation-<%%VALUE(id)%%>" class="employees_designation_table-date_of_resignation_from_previous_resignation text-bold"><%%VALUE(date_of_resignation_from_previous_resignation)%%></td>
		<td id="employees_designation_table-created_by-<%%VALUE(id)%%>" class="employees_designation_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="employees_designation_table-created_at-<%%VALUE(id)%%>" class="employees_designation_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="employees_designation_table-last_updated_by-<%%VALUE(id)%%>" class="employees_designation_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="employees_designation_table-last_updated_at-<%%VALUE(id)%%>" class="employees_designation_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
