<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Employee name -->
		<div class="form-group employee_appraisal_table-employee_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Employee name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="employee_name-readonly<%%RND1%%>"><%%COMBOTEXT(employee_name)%%></span></div>
			</div>
		</div>
		<!-- Field: Designation -->
		<div class="form-group employee_appraisal_table-designation" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Designation</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(designation)%%></div>
			</div>
		</div>
		<!-- Field: Reporting Officer -->
		<div class="form-group employee_appraisal_table-reporting_officer" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reporting Officer</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="reporting_officer<%%RND1%%>"><%%COMBOTEXT(reporting_officer)%%></span></div>
			</div>
		</div>
		<!-- Field: Reviewing Officer -->
		<div class="form-group employee_appraisal_table-reviewing_officer" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reviewing Officer</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="reviewing_officer<%%RND1%%>"><%%COMBOTEXT(reviewing_officer)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
