		<td colspan="12" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="evaluators_table-evaluator_id-caption field-caption-tv">ID</dt>
					<dd id="evaluators_table-evaluator_id-<%%VALUE(evaluator_id)%%>" class="evaluators_table-evaluator_id text-right text-bold"><%%VALUE(evaluator_id)%%></dd>

					<dt class="evaluators_table-name-caption field-caption-tv">Name</dt>
					<dd id="evaluators_table-name-<%%VALUE(evaluator_id)%%>" class="evaluators_table-name text-bold"><%%VALUE(name)%%></dd>

					<dt class="evaluators_table-designation-caption field-caption-tv">Designation</dt>
					<dd id="evaluators_table-designation-<%%VALUE(evaluator_id)%%>" class="evaluators_table-designation text-bold"><%%VALUE(designation)%%></dd>

					<dt class="evaluators_table-qualification-caption field-caption-tv">Qualification</dt>
					<dd id="evaluators_table-qualification-<%%VALUE(evaluator_id)%%>" class="evaluators_table-qualification text-bold"><%%VALUE(qualification)%%></dd>

					<dt class="evaluators_table-self_description-caption field-caption-tv">Self description</dt>
					<dd id="evaluators_table-self_description-<%%VALUE(evaluator_id)%%>" class="evaluators_table-self_description text-bold"><%%VALUE(self_description)%%></dd>

					<dt class="evaluators_table-role-caption field-caption-tv">Role</dt>
					<dd id="evaluators_table-role-<%%VALUE(evaluator_id)%%>" class="evaluators_table-role text-bold"><%%VALUE(role)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="evaluators_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="evaluators_table-created_by-<%%VALUE(evaluator_id)%%>" class="evaluators_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="evaluators_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="evaluators_table-created_at-<%%VALUE(evaluator_id)%%>" class="evaluators_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="evaluators_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="evaluators_table-last_updated_by-<%%VALUE(evaluator_id)%%>" class="evaluators_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="evaluators_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="evaluators_table-last_updated_at-<%%VALUE(evaluator_id)%%>" class="evaluators_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="evaluators_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="evaluators_table-created_by_username-<%%VALUE(evaluator_id)%%>" class="evaluators_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="evaluators_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="evaluators_table-last_updated_by_username-<%%VALUE(evaluator_id)%%>" class="evaluators_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
