		<td colspan="12" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="file_table-file_id-caption field-caption-tv">ID</dt>
					<dd id="file_table-file_id-<%%VALUE(file_id)%%>" class="file_table-file_id text-right text-bold"><%%VALUE(file_id)%%></dd>

					<dt class="file_table-data_str_key-caption field-caption-tv">Data str key</dt>
					<dd id="file_table-data_str_key-<%%VALUE(file_id)%%>" class="file_table-data_str_key text-bold"><%%VALUE(data_str_key)%%></dd>

					<dt class="file_table-name_title_of_the_dataset-caption field-caption-tv">Name/Title of the dataset</dt>
					<dd id="file_table-name_title_of_the_dataset-<%%VALUE(file_id)%%>" class="file_table-name_title_of_the_dataset text-bold"><%%VALUE(name_title_of_the_dataset)%%></dd>

					<dt class="file_table-category_of_the_dataset-caption field-caption-tv">Category of the dataset</dt>
					<dd id="file_table-category_of_the_dataset-<%%VALUE(file_id)%%>" class="file_table-category_of_the_dataset text-bold"><%%VALUE(category_of_the_dataset)%%></dd>

					<dt class="file_table-description_of_the_dataset-caption field-caption-tv">Description of the dataset (Provide a brief note on the dataset content, including what the data represents.)</dt>
					<dd id="file_table-description_of_the_dataset-<%%VALUE(file_id)%%>" class="file_table-description_of_the_dataset text-bold"><%%VALUE(description_of_the_dataset)%%></dd>

					<dt class="file_table-geographic_coverage-caption field-caption-tv">Geographic Coverage (Specify the region/area covered by the dataset, e.g., Block Name, Taluk Name, Village Name, Vizianagaram district, Andhra Pradesh.)</dt>
					<dd id="file_table-geographic_coverage-<%%VALUE(file_id)%%>" class="file_table-geographic_coverage text-bold"><%%VALUE(geographic_coverage)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="file_table-format_of_the_dataset-caption field-caption-tv">Format of the dataset</dt>
					<dd id="file_table-format_of_the_dataset-<%%VALUE(file_id)%%>" class="file_table-format_of_the_dataset text-bold"><%%VALUE(format_of_the_dataset)%%></dd>

					<dt class="file_table-upload_file-caption field-caption-tv">Upload file</dt>
					<dd id="file_table-upload_file-<%%VALUE(file_id)%%>" class="file_table-upload_file text-bold"><a href="link.php?t=file_table&f=upload_file&i=<%%VALUE(file_id)%%>" target="_blank" title="<%%VALUE(upload_file)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-picture text-info"></i></a></dd>

					<dt class="file_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="file_table-created_by-<%%VALUE(file_id)%%>" class="file_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="file_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="file_table-created_at-<%%VALUE(file_id)%%>" class="file_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="file_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="file_table-last_updated_by-<%%VALUE(file_id)%%>" class="file_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="file_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="file_table-last_updated_at-<%%VALUE(file_id)%%>" class="file_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_upload_file = '<%%VALUE(upload_file)%%>'; if(e_upload_file == '' || e_upload_file == '&nbsp;') $j(/*<*/ '#file_table-upload_file-<%%VALUE(file_id)%%>' /*>*/).html('');
		});</script>
