		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="first_level_shortlisted_proposals_tdp-id-caption field-caption-tv">ID</dt>
					<dd id="first_level_shortlisted_proposals_tdp-id-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-project_id-caption field-caption-tv">Project ID::Title</dt>
					<dd id="first_level_shortlisted_proposals_tdp-project_id-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-project_id"><%%SELECT%%><%%VALUE(project_id)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-name-caption field-caption-tv">Name</dt>
					<dd id="first_level_shortlisted_proposals_tdp-name-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-name"><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-institution-caption field-caption-tv">Institution</dt>
					<dd id="first_level_shortlisted_proposals_tdp-institution-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-institution"><%%SELECT%%><%%VALUE(institution)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-domain_of_interest-caption field-caption-tv">Domain of interest</dt>
					<dd id="first_level_shortlisted_proposals_tdp-domain_of_interest-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-domain_of_interest"><%%SELECT%%><%%VALUE(domain_of_interest)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-proposal_link-caption field-caption-tv">Proposal link</dt>
					<dd id="first_level_shortlisted_proposals_tdp-proposal_link-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-proposal_link"><%%SELECT%%><%%VALUE(proposal_link)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-first_level_comment-caption field-caption-tv">First level comment</dt>
					<dd id="first_level_shortlisted_proposals_tdp-first_level_comment-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-first_level_comment"><%%SELECT%%><%%VALUE(first_level_comment)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="first_level_shortlisted_proposals_tdp-created_by-caption field-caption-tv">Created by</dt>
					<dd id="first_level_shortlisted_proposals_tdp-created_by-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-created_at-caption field-caption-tv">Created at</dt>
					<dd id="first_level_shortlisted_proposals_tdp-created_at-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="first_level_shortlisted_proposals_tdp-last_updated_by-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="first_level_shortlisted_proposals_tdp-last_updated_at-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="first_level_shortlisted_proposals_tdp-created_by_username-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="first_level_shortlisted_proposals_tdp-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="first_level_shortlisted_proposals_tdp-last_updated_by_username-<%%VALUE(id)%%>" class="first_level_shortlisted_proposals_tdp-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
