		<td colspan="14" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="goal_setting_table-goal_id-caption field-caption-tv">ID</dt>
					<dd id="goal_setting_table-goal_id-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_id text-right text-bold"><%%VALUE(goal_id)%%></dd>

					<dt class="goal_setting_table-goal_status-caption field-caption-tv">Goal status</dt>
					<dd id="goal_setting_table-goal_status-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_status text-bold"><%%VALUE(goal_status)%%></dd>

					<dt class="goal_setting_table-goal_description-caption field-caption-tv">Goal description</dt>
					<dd id="goal_setting_table-goal_description-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_description text-bold"><%%VALUE(goal_description)%%></dd>

					<dt class="goal_setting_table-goal_duration-caption field-caption-tv">Goal duration</dt>
					<dd id="goal_setting_table-goal_duration-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_duration text-bold"><%%VALUE(goal_duration)%%></dd>

					<dt class="goal_setting_table-goal_set_date-caption field-caption-tv">Goal set date</dt>
					<dd id="goal_setting_table-goal_set_date-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_set_date text-bold"><%%VALUE(goal_set_date)%%></dd>

					<dt class="goal_setting_table-supervisor_name-caption field-caption-tv">Supervisor name</dt>
					<dd id="goal_setting_table-supervisor_name-<%%VALUE(goal_id)%%>" class="goal_setting_table-supervisor_name text-bold"><%%VALUE(supervisor_name)%%></dd>

					<dt class="goal_setting_table-assigned_to-caption field-caption-tv">Assigned to</dt>
					<dd id="goal_setting_table-assigned_to-<%%VALUE(goal_id)%%>" class="goal_setting_table-assigned_to text-bold"><%%VALUE(assigned_to)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="goal_setting_table-goal_setting_str-caption field-caption-tv">Goal setting str</dt>
					<dd id="goal_setting_table-goal_setting_str-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_setting_str text-bold"><%%VALUE(goal_setting_str)%%></dd>

					<dt class="goal_setting_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="goal_setting_table-created_by-<%%VALUE(goal_id)%%>" class="goal_setting_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="goal_setting_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="goal_setting_table-last_updated_by-<%%VALUE(goal_id)%%>" class="goal_setting_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="goal_setting_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="goal_setting_table-created_by_username-<%%VALUE(goal_id)%%>" class="goal_setting_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="goal_setting_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="goal_setting_table-created_at-<%%VALUE(goal_id)%%>" class="goal_setting_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="goal_setting_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="goal_setting_table-last_updated_by_username-<%%VALUE(goal_id)%%>" class="goal_setting_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="goal_setting_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="goal_setting_table-last_updated_at-<%%VALUE(goal_id)%%>" class="goal_setting_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
