		<td colspan="14" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="goal_setting_table-goal_id-caption field-caption-tv">ID</dt>
					<dd id="goal_setting_table-goal_id-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_id text-right"><%%SELECT%%><%%VALUE(goal_id)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-goal_status-caption field-caption-tv">Goal status</dt>
					<dd id="goal_setting_table-goal_status-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_status"><%%SELECT%%><%%VALUE(goal_status)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-goal_description-caption field-caption-tv">Goal description</dt>
					<dd id="goal_setting_table-goal_description-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_description"><%%SELECT%%><%%VALUE(goal_description)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-goal_duration-caption field-caption-tv">Goal duration</dt>
					<dd id="goal_setting_table-goal_duration-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_duration"><%%SELECT%%><%%VALUE(goal_duration)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-goal_set_date-caption field-caption-tv">Goal set date</dt>
					<dd id="goal_setting_table-goal_set_date-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_set_date"><%%SELECT%%><%%VALUE(goal_set_date)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-supervisor_name-caption field-caption-tv">Supervisor name</dt>
					<dd id="goal_setting_table-supervisor_name-<%%VALUE(goal_id)%%>" class="goal_setting_table-supervisor_name"><%%SELECT%%><%%VALUE(supervisor_name)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-assigned_to-caption field-caption-tv">Assigned to</dt>
					<dd id="goal_setting_table-assigned_to-<%%VALUE(goal_id)%%>" class="goal_setting_table-assigned_to"><%%SELECT%%><%%VALUE(assigned_to)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="goal_setting_table-goal_setting_str-caption field-caption-tv">Goal setting str</dt>
					<dd id="goal_setting_table-goal_setting_str-<%%VALUE(goal_id)%%>" class="goal_setting_table-goal_setting_str"><%%SELECT%%><%%VALUE(goal_setting_str)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="goal_setting_table-created_by-<%%VALUE(goal_id)%%>" class="goal_setting_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="goal_setting_table-last_updated_by-<%%VALUE(goal_id)%%>" class="goal_setting_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="goal_setting_table-created_by_username-<%%VALUE(goal_id)%%>" class="goal_setting_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="goal_setting_table-created_at-<%%VALUE(goal_id)%%>" class="goal_setting_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="goal_setting_table-last_updated_by_username-<%%VALUE(goal_id)%%>" class="goal_setting_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="goal_setting_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="goal_setting_table-last_updated_at-<%%VALUE(goal_id)%%>" class="goal_setting_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
