<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Goal details -->
		<div class="form-group goal_progress_table-goal_lookup" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Goal details</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="goal_lookup-readonly<%%RND1%%>"><%%COMBOTEXT(goal_lookup)%%></span></div>
			</div>
		</div>
		<!-- Field: Goal progress -->
		<div class="form-group goal_progress_table-goal_progress" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Goal progress</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(goal_progress)%%></div>
			</div>
		</div>
		<!-- Field: Remarks by -->
		<div class="form-group goal_progress_table-remarks_by" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Remarks by</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="remarks_by<%%RND1%%>"><%%COMBOTEXT(remarks_by)%%></span></div>
			</div>
		</div>
		<!-- Field: Remarks -->
		<div class="form-group goal_progress_table-remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Remarks</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(remarks)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group goal_progress_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group goal_progress_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
