<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Goal status -->
		<div class="form-group goal_setting_table-goal_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Goal status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(goal_status)%%></div>
			</div>
		</div>
		<!-- Field: Goal description -->
		<div class="form-group goal_setting_table-goal_description" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Goal description</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(goal_description)%%></div>
			</div>
		</div>
		<!-- Field: Goal duration -->
		<div class="form-group goal_setting_table-goal_duration" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Goal duration</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(goal_duration)%%></div>
			</div>
		</div>
		<!-- Field: Goal set date -->
		<div class="form-group goal_setting_table-goal_set_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Goal set date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(goal_set_date)%%></div>
			</div>
		</div>
		<!-- Field: Supervisor name -->
		<div class="form-group goal_setting_table-supervisor_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Supervisor name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="supervisor_name<%%RND1%%>"><%%COMBOTEXT(supervisor_name)%%></span></div>
			</div>
		</div>
		<!-- Field: Assigned to -->
		<div class="form-group goal_setting_table-assigned_to" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Assigned to</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="assigned_to<%%RND1%%>"><%%COMBOTEXT(assigned_to)%%></span></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group goal_setting_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group goal_setting_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="goal_setting_table-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=goal_setting_table-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'goal_setting_table',
				SelectedID: '<%%VALUE(goal_id)%%>',
				Operation: 'show-children-printable'
			},
			'goal_setting_table-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

