		<td colspan="11" class="row">
			<div id="gym_table-id-<%%VALUE(id)%%>" class="gym_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="gym_table-in-caption field-caption-tv">In Time</dt>
					<dd id="gym_table-in-<%%VALUE(id)%%>" class="gym_table-in text-bold"><%%VALUE(in)%%></dd>

					<dt class="gym_table-out-caption field-caption-tv">Out Time</dt>
					<dd id="gym_table-out-<%%VALUE(id)%%>" class="gym_table-out text-bold"><%%VALUE(out)%%></dd>

					<dt class="gym_table-date-caption field-caption-tv">Date</dt>
					<dd id="gym_table-date-<%%VALUE(id)%%>" class="gym_table-date text-bold"><%%VALUE(date)%%></dd>

					<dt class="gym_table-remarks-caption field-caption-tv">Remarks (Optional)</dt>
					<dd id="gym_table-remarks-<%%VALUE(id)%%>" class="gym_table-remarks text-bold"><%%VALUE(remarks)%%></dd>

					<dt class="gym_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="gym_table-created_by-<%%VALUE(id)%%>" class="gym_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="gym_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="gym_table-last_updated_by-<%%VALUE(id)%%>" class="gym_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="gym_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="gym_table-created_by_username-<%%VALUE(id)%%>" class="gym_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="gym_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="gym_table-created_at-<%%VALUE(id)%%>" class="gym_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="gym_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="gym_table-last_updated_by_username-<%%VALUE(id)%%>" class="gym_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="gym_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="gym_table-last_updated_at-<%%VALUE(id)%%>" class="gym_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
