		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="half_day_leave_table-id-caption field-caption-tv">ID</dt>
					<dd id="half_day_leave_table-id-<%%VALUE(id)%%>" class="half_day_leave_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="half_day_leave_table-approval_from-caption field-caption-tv">Approval From</dt>
					<dd id="half_day_leave_table-approval_from-<%%VALUE(id)%%>" class="half_day_leave_table-approval_from text-bold"><%%VALUE(approval_from)%%></dd>

					<dt class="half_day_leave_table-leave_type-caption field-caption-tv">Leave Type</dt>
					<dd id="half_day_leave_table-leave_type-<%%VALUE(id)%%>" class="half_day_leave_table-leave_type text-bold"><%%VALUE(leave_type)%%></dd>

					<dt class="half_day_leave_table-purpose_of_leave-caption field-caption-tv">Purpose of Leave</dt>
					<dd id="half_day_leave_table-purpose_of_leave-<%%VALUE(id)%%>" class="half_day_leave_table-purpose_of_leave text-bold"><%%VALUE(purpose_of_leave)%%></dd>

					<dt class="half_day_leave_table-date-caption field-caption-tv">Date</dt>
					<dd id="half_day_leave_table-date-<%%VALUE(id)%%>" class="half_day_leave_table-date text-bold"><%%VALUE(date)%%></dd>

					<dt class="half_day_leave_table-approval_status-caption field-caption-tv">Approval Status</dt>
					<dd id="half_day_leave_table-approval_status-<%%VALUE(id)%%>" class="half_day_leave_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="half_day_leave_table-approval_remarks-caption field-caption-tv">Approval Remarks</dt>
					<dd id="half_day_leave_table-approval_remarks-<%%VALUE(id)%%>" class="half_day_leave_table-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="half_day_leave_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="half_day_leave_table-last_updated_at-<%%VALUE(id)%%>" class="half_day_leave_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="half_day_leave_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="half_day_leave_table-created_by_username-<%%VALUE(id)%%>" class="half_day_leave_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="half_day_leave_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="half_day_leave_table-created_at-<%%VALUE(id)%%>" class="half_day_leave_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="half_day_leave_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="half_day_leave_table-last_updated_by_username-<%%VALUE(id)%%>" class="half_day_leave_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="half_day_leave_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="half_day_leave_table-created_by-<%%VALUE(id)%%>" class="half_day_leave_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="half_day_leave_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="half_day_leave_table-last_updated_by-<%%VALUE(id)%%>" class="half_day_leave_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

				</dl>
			</div>
		</td>
