<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Approval From -->
		<div class="form-group half_day_leave_table-approval_from" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval From</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(approval_from)%%></div>
			</div>
		</div>
		<!-- Field: Leave Type -->
		<div class="form-group half_day_leave_table-leave_type" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Leave Type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(leave_type)%%></div>
			</div>
		</div>
		<!-- Field: Purpose of Leave -->
		<div class="form-group half_day_leave_table-purpose_of_leave" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Purpose of Leave</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(purpose_of_leave)%%></div>
			</div>
		</div>
		<!-- Field: Date -->
		<div class="form-group half_day_leave_table-date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date)%%></div>
			</div>
		</div>
		<!-- Field: Approval Status -->
		<div class="form-group half_day_leave_table-approval_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval Status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(approval_status)%%></div>
			</div>
		</div>
		<!-- Field: Approval Remarks -->
		<div class="form-group half_day_leave_table-approval_remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval Remarks</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(approval_remarks)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group half_day_leave_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group half_day_leave_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
