		<td colspan="33" class="row">
			<div id="honorarium_claim_table-id-<%%VALUE(id)%%>" class="honorarium_claim_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="honorarium_claim_table-name_of_advisor-caption field-caption-tv">Name of Advisor/Expert/Consultant</dt>
					<dd id="honorarium_claim_table-name_of_advisor-<%%VALUE(id)%%>" class="honorarium_claim_table-name_of_advisor text-bold"><%%VALUE(name_of_advisor)%%></dd>

					<dt class="honorarium_claim_table-email_advisor-caption field-caption-tv">Eamil ID of Advisor/Consultant</dt>
					<dd id="honorarium_claim_table-email_advisor-<%%VALUE(id)%%>" class="honorarium_claim_table-email_advisor text-bold"><%%VALUE(email_advisor)%%></dd>

					<dt class="honorarium_claim_table-department_of_tih-caption field-caption-tv">Department of TIH</dt>
					<dd id="honorarium_claim_table-department_of_tih-<%%VALUE(id)%%>" class="honorarium_claim_table-department_of_tih text-bold"><%%VALUE(department_of_tih)%%></dd>

					<dt class="honorarium_claim_table-bank_account_no-caption field-caption-tv">Bank Account No.</dt>
					<dd id="honorarium_claim_table-bank_account_no-<%%VALUE(id)%%>" class="honorarium_claim_table-bank_account_no text-bold"><%%VALUE(bank_account_no)%%></dd>

					<dt class="honorarium_claim_table-ifsc_code-caption field-caption-tv">IFSC Code</dt>
					<dd id="honorarium_claim_table-ifsc_code-<%%VALUE(id)%%>" class="honorarium_claim_table-ifsc_code text-bold"><%%VALUE(ifsc_code)%%></dd>

					<dt class="honorarium_claim_table-bank_name-caption field-caption-tv">Bank Name</dt>
					<dd id="honorarium_claim_table-bank_name-<%%VALUE(id)%%>" class="honorarium_claim_table-bank_name text-bold"><%%VALUE(bank_name)%%></dd>

					<dt class="honorarium_claim_table-pan-caption field-caption-tv">PAN</dt>
					<dd id="honorarium_claim_table-pan-<%%VALUE(id)%%>" class="honorarium_claim_table-pan text-bold"><%%VALUE(pan)%%></dd>

					<dt class="honorarium_claim_table-place_of_work-caption field-caption-tv">Place of work (Visit) / Online</dt>
					<dd id="honorarium_claim_table-place_of_work-<%%VALUE(id)%%>" class="honorarium_claim_table-place_of_work text-bold"><%%VALUE(place_of_work)%%></dd>

					<dt class="honorarium_claim_table-date_1-caption field-caption-tv">Day 1 Date</dt>
					<dd id="honorarium_claim_table-date_1-<%%VALUE(id)%%>" class="honorarium_claim_table-date_1 text-bold"><%%VALUE(date_1)%%></dd>

					<dt class="honorarium_claim_table-hours_1-caption field-caption-tv">No. Hours</dt>
					<dd id="honorarium_claim_table-hours_1-<%%VALUE(id)%%>" class="honorarium_claim_table-hours_1 text-right text-bold"><%%VALUE(hours_1)%%></dd>

					<dt class="honorarium_claim_table-date_2-caption field-caption-tv">Day 2 Date</dt>
					<dd id="honorarium_claim_table-date_2-<%%VALUE(id)%%>" class="honorarium_claim_table-date_2 text-bold"><%%VALUE(date_2)%%></dd>

					<dt class="honorarium_claim_table-hours_2-caption field-caption-tv">No. Hours</dt>
					<dd id="honorarium_claim_table-hours_2-<%%VALUE(id)%%>" class="honorarium_claim_table-hours_2 text-right text-bold"><%%VALUE(hours_2)%%></dd>

					<dt class="honorarium_claim_table-date_3-caption field-caption-tv">Day 3 Date</dt>
					<dd id="honorarium_claim_table-date_3-<%%VALUE(id)%%>" class="honorarium_claim_table-date_3 text-bold"><%%VALUE(date_3)%%></dd>

					<dt class="honorarium_claim_table-hours_3-caption field-caption-tv">No. Hours</dt>
					<dd id="honorarium_claim_table-hours_3-<%%VALUE(id)%%>" class="honorarium_claim_table-hours_3 text-right text-bold"><%%VALUE(hours_3)%%></dd>

					<dt class="honorarium_claim_table-date_4-caption field-caption-tv">Day 4 Date</dt>
					<dd id="honorarium_claim_table-date_4-<%%VALUE(id)%%>" class="honorarium_claim_table-date_4 text-bold"><%%VALUE(date_4)%%></dd>

					<dt class="honorarium_claim_table-hours_4-caption field-caption-tv">No. Hours</dt>
					<dd id="honorarium_claim_table-hours_4-<%%VALUE(id)%%>" class="honorarium_claim_table-hours_4 text-right text-bold"><%%VALUE(hours_4)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="honorarium_claim_table-date_5-caption field-caption-tv">Day 5 Date</dt>
					<dd id="honorarium_claim_table-date_5-<%%VALUE(id)%%>" class="honorarium_claim_table-date_5 text-bold"><%%VALUE(date_5)%%></dd>

					<dt class="honorarium_claim_table-hours_5-caption field-caption-tv">No. Hours</dt>
					<dd id="honorarium_claim_table-hours_5-<%%VALUE(id)%%>" class="honorarium_claim_table-hours_5 text-right text-bold"><%%VALUE(hours_5)%%></dd>

					<dt class="honorarium_claim_table-total_no_of_days-caption field-caption-tv">Total No. of Days</dt>
					<dd id="honorarium_claim_table-total_no_of_days-<%%VALUE(id)%%>" class="honorarium_claim_table-total_no_of_days text-bold"><%%VALUE(total_no_of_days)%%></dd>

					<dt class="honorarium_claim_table-total_no_of_hours-caption field-caption-tv">Total no of hours</dt>
					<dd id="honorarium_claim_table-total_no_of_hours-<%%VALUE(id)%%>" class="honorarium_claim_table-total_no_of_hours text-bold"><%%VALUE(total_no_of_hours)%%></dd>

					<dt class="honorarium_claim_table-case_reference_email_subject-caption field-caption-tv">Case Reference Email Subject (If Any)</dt>
					<dd id="honorarium_claim_table-case_reference_email_subject-<%%VALUE(id)%%>" class="honorarium_claim_table-case_reference_email_subject text-bold"><%%VALUE(case_reference_email_subject)%%></dd>

					<dt class="honorarium_claim_table-activities-caption field-caption-tv">Activities/Deliverables</dt>
					<dd id="honorarium_claim_table-activities-<%%VALUE(id)%%>" class="honorarium_claim_table-activities text-bold"><%%VALUE(activities)%%></dd>

					<dt class="honorarium_claim_table-coordinated_by_tih_user-caption field-caption-tv">Coordinated by TIH User (For Office Use of TIH)</dt>
					<dd id="honorarium_claim_table-coordinated_by_tih_user-<%%VALUE(id)%%>" class="honorarium_claim_table-coordinated_by_tih_user text-bold"><%%VALUE(coordinated_by_tih_user)%%></dd>

					<dt class="honorarium_claim_table-payment_date-caption field-caption-tv">Payment date (For Office Use of TIH)</dt>
					<dd id="honorarium_claim_table-payment_date-<%%VALUE(id)%%>" class="honorarium_claim_table-payment_date text-bold"><%%VALUE(payment_date)%%></dd>

					<dt class="honorarium_claim_table-amount_paid-caption field-caption-tv">Amount paid (For Office Use of TIH)</dt>
					<dd id="honorarium_claim_table-amount_paid-<%%VALUE(id)%%>" class="honorarium_claim_table-amount_paid text-bold"><%%VALUE(amount_paid)%%></dd>

					<dt class="honorarium_claim_table-transaction_details-caption field-caption-tv">Transaction details (For Office Use of TIH)</dt>
					<dd id="honorarium_claim_table-transaction_details-<%%VALUE(id)%%>" class="honorarium_claim_table-transaction_details text-bold"><%%VALUE(transaction_details)%%></dd>

					<dt class="honorarium_claim_table-approval_status-caption field-caption-tv">Approval Status (For Office Use of TIH)</dt>
					<dd id="honorarium_claim_table-approval_status-<%%VALUE(id)%%>" class="honorarium_claim_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="honorarium_claim_table-remarks_for_approval-caption field-caption-tv">Remarks for Approval (For Office Use of TIH)</dt>
					<dd id="honorarium_claim_table-remarks_for_approval-<%%VALUE(id)%%>" class="honorarium_claim_table-remarks_for_approval text-bold"><%%VALUE(remarks_for_approval)%%></dd>

					<dt class="honorarium_claim_table-created_by_username-caption field-caption-tv">Created by Username</dt>
					<dd id="honorarium_claim_table-created_by_username-<%%VALUE(id)%%>" class="honorarium_claim_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="honorarium_claim_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="honorarium_claim_table-created_at-<%%VALUE(id)%%>" class="honorarium_claim_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="honorarium_claim_table-last_updated_by_username-caption field-caption-tv">Last Updated By Username</dt>
					<dd id="honorarium_claim_table-last_updated_by_username-<%%VALUE(id)%%>" class="honorarium_claim_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="honorarium_claim_table-last_updated_at-caption field-caption-tv">Approved At</dt>
					<dd id="honorarium_claim_table-last_updated_at-<%%VALUE(id)%%>" class="honorarium_claim_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
