<!-- To change the layout of the detail view form, we recommend using JS code in hooks/honorarium_claim_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="honorarium_claim_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="honorarium_claim_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="honorarium_claim_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Name of Advisor/Expert/Consultant -->
				<div class="form-group honorarium_claim_table-name_of_advisor">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="name_of_advisor">Name of Advisor/Expert/Consultant</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="name_of_advisor" id="name_of_advisor" value="<%%VALUE(name_of_advisor)%%>">
					</div>
				</div>

				<!-- Field: Eamil ID of Advisor/Consultant -->
				<div class="form-group honorarium_claim_table-email_advisor">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email_advisor">Eamil ID of Advisor/Consultant</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="email_advisor" id="email_advisor" value="<%%VALUE(email_advisor)%%>">
					</div>
				</div>

				<!-- Field: Department of TIH -->
				<div class="form-group honorarium_claim_table-department_of_tih">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="department_of_tih">Department of TIH</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="department_of_tih" id="department_of_tih" value="<%%VALUE(department_of_tih)%%>">
					</div>
				</div>

				<!-- Field: Bank Account No. -->
				<div class="form-group honorarium_claim_table-bank_account_no">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="bank_account_no">Bank Account No.</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="bank_account_no" id="bank_account_no" value="<%%VALUE(bank_account_no)%%>">
					</div>
				</div>

				<!-- Field: IFSC Code -->
				<div class="form-group honorarium_claim_table-ifsc_code">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ifsc_code">IFSC Code</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="ifsc_code" id="ifsc_code" value="<%%VALUE(ifsc_code)%%>">
					</div>
				</div>

				<!-- Field: Bank Name -->
				<div class="form-group honorarium_claim_table-bank_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="bank_name">Bank Name</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="bank_name" id="bank_name" value="<%%VALUE(bank_name)%%>">
					</div>
				</div>

				<!-- Field: PAN -->
				<div class="form-group honorarium_claim_table-pan">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="pan">PAN</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="pan" id="pan" value="<%%VALUE(pan)%%>">
					</div>
				</div>

				<!-- Field: Place of work (Visit) / Online -->
				<div class="form-group honorarium_claim_table-place_of_work">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="place_of_work">Place of work (Visit) / Online</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="place_of_work" id="place_of_work" value="<%%VALUE(place_of_work)%%>">
					</div>
				</div>

				<!-- Field: Date -->
				<div class="form-group honorarium_claim_table-date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="date-dd">Date</label>
					<div class="col-lg-9">
						<%%COMBO(date)%%>
					</div>
				</div>

				<!-- Field: No. of hours -->
				<div class="form-group honorarium_claim_table-no_of_hours">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="no_of_hours">No. of hours</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="no_of_hours" id="no_of_hours" value="<%%VALUE(no_of_hours)%%>">
					</div>
				</div>

				<!-- Field: Case Reference Email Subject (If Any) -->
				<div class="form-group honorarium_claim_table-case_reference_email_subject">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="case_reference_email_subject">Case Reference Email Subject (If Any)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="case_reference_email_subject" id="case_reference_email_subject" value="<%%VALUE(case_reference_email_subject)%%>">
					</div>
				</div>

				<!-- Field: Activities/Deliverables -->
				<div class="form-group honorarium_claim_table-activities">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="activities">Activities/Deliverables</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="activities" id="activities" rows=" 5"><%%VALUE(activities)%%></textarea>
					</div>
				</div>

				<!-- Field: Others if any (Optional) -->
				<div class="form-group honorarium_claim_table-others_if_any">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="others_if_any">Others if any (Optional)</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="others_if_any" id="others_if_any" rows=" 5"><%%VALUE(others_if_any)%%></textarea>
					</div>
				</div>

				<!-- Field: Coordinated by TIH User (For Office Use of TIH) -->
				<div class="form-group honorarium_claim_table-coordinated_by_tih_user">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="coordinated_by_tih_user" data-parent_link="view_parent_modal">Coordinated by TIH User (For Office Use of TIH)</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(coordinated_by_tih_user)%%><%%PLINK(coordinated_by_tih_user)%%><%%ADDNEW(user_table)%%></div>
					</div>
				</div>

				<!-- Field: Payment date (For Office Use of TIH) -->
				<div class="form-group honorarium_claim_table-payment_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="payment_date-dd">Payment date (For Office Use of TIH)</label>
					<div class="col-lg-9">
						<%%COMBO(payment_date)%%>
					</div>
				</div>

				<!-- Field: Amount paid (For Office Use of TIH) -->
				<div class="form-group honorarium_claim_table-amount_paid">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="amount_paid">Amount paid (For Office Use of TIH)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="amount_paid" id="amount_paid" value="<%%VALUE(amount_paid)%%>">
					</div>
				</div>

				<!-- Field: Transaction details (For Office Use of TIH) -->
				<div class="form-group honorarium_claim_table-transaction_details">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="transaction_details">Transaction details (For Office Use of TIH)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="transaction_details" id="transaction_details" value="<%%VALUE(transaction_details)%%>">
					</div>
				</div>

				<!-- Field: Approval Status (For Office Use of TIH) -->
				<div class="form-group honorarium_claim_table-approval_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="approval_status">Approval Status (For Office Use of TIH)</label>
					<div class="col-lg-9">
						<%%COMBO(approval_status)%%>
					</div>
				</div>

				<!-- Field: Remarks for Approval (For Office Use of TIH) -->
				<div class="form-group honorarium_claim_table-remarks_for_approval">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="remarks_for_approval">Remarks for Approval (For Office Use of TIH)</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="remarks_for_approval" id="remarks_for_approval" rows=" 5"><%%VALUE(remarks_for_approval)%%></textarea>
					</div>
				</div>

				<!-- Field: Created by Username -->
				<div class="form-group honorarium_claim_table-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated By Username -->
				<div class="form-group honorarium_claim_table-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Approved At -->
				<div class="form-group honorarium_claim_table-last_updated_at">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Approved At</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_at"><%%VALUE(last_updated_at)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="honorarium_claim_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#honorarium_claim_table_dv_container-loading').addClass('hidden');
			$j('#honorarium_claim_table_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('honorarium_claim_table', 'name_of_advisor');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			honorarium_claim_tableUniqueFields.forEach(fieldName => enforce_uniqueness('honorarium_claim_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=honorarium_claim_table&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=honorarium_claim_table&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var honorarium_claim_tableUniqueFields = [
		];
	</script>