<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hrd_Fellowship_init() hook (in hooks/hrd_Fellowship.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hrd_Fellowship-year-<%%VALUE(id)%%>" class="hrd_Fellowship-year text-bold"><%%VALUE(year)%%></td>
		<td id="hrd_Fellowship-name-<%%VALUE(id)%%>" class="hrd_Fellowship-name text-bold"><%%VALUE(name)%%></td>
		<td id="hrd_Fellowship-gender-<%%VALUE(id)%%>" class="hrd_Fellowship-gender text-bold"><%%VALUE(gender)%%></td>
		<td id="hrd_Fellowship-id_no-<%%VALUE(id)%%>" class="hrd_Fellowship-id_no text-bold"><%%VALUE(id_no)%%></td>
		<td id="hrd_Fellowship-institute_name-<%%VALUE(id)%%>" class="hrd_Fellowship-institute_name text-bold"><%%VALUE(institute_name)%%></td>
		<td id="hrd_Fellowship-Department-<%%VALUE(id)%%>" class="hrd_Fellowship-Department text-bold"><%%VALUE(Department)%%></td>
		<td id="hrd_Fellowship-Qualification-<%%VALUE(id)%%>" class="hrd_Fellowship-Qualification text-bold"><%%VALUE(Qualification)%%></td>
		<td id="hrd_Fellowship-Fellowship_Type-<%%VALUE(id)%%>" class="hrd_Fellowship-Fellowship_Type text-bold"><%%VALUE(Fellowship_Type)%%></td>
		<td id="hrd_Fellowship-cast_category-<%%VALUE(id)%%>" class="hrd_Fellowship-cast_category text-bold"><%%VALUE(cast_category)%%></td>
		<td id="hrd_Fellowship-Start_Date-<%%VALUE(id)%%>" class="hrd_Fellowship-Start_Date text-bold"><%%VALUE(Start_Date)%%></td>
		<td id="hrd_Fellowship-End_Date-<%%VALUE(id)%%>" class="hrd_Fellowship-End_Date text-bold"><%%VALUE(End_Date)%%></td>
		<td id="hrd_Fellowship-status-<%%VALUE(id)%%>" class="hrd_Fellowship-status text-bold"><%%VALUE(status)%%></td>
		<td id="hrd_Fellowship-founded_by-<%%VALUE(id)%%>" class="hrd_Fellowship-founded_by text-bold"><%%VALUE(founded_by)%%></td>
		<td id="hrd_Fellowship-Amount_Granted-<%%VALUE(id)%%>" class="hrd_Fellowship-Amount_Granted text-bold"><%%VALUE(Amount_Granted)%%></td>
		<td id="hrd_Fellowship-created_by_username-<%%VALUE(id)%%>" class="hrd_Fellowship-created_by_username text-bold"><%%VALUE(created_by_username)%%></td>
		<td id="hrd_Fellowship-created_at-<%%VALUE(id)%%>" class="hrd_Fellowship-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="hrd_Fellowship-last_updated_by_username-<%%VALUE(id)%%>" class="hrd_Fellowship-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></td>
		<td id="hrd_Fellowship-last_updated_at-<%%VALUE(id)%%>" class="hrd_Fellowship-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
