<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hrd_sd_init() hook (in hooks/hrd_sd.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hrd_sd-year-<%%VALUE(id)%%>" class="hrd_sd-year text-bold"><%%VALUE(year)%%></td>
		<td id="hrd_sd-Candidate_Type-<%%VALUE(id)%%>" class="hrd_sd-Candidate_Type text-bold"><%%VALUE(Candidate_Type)%%></td>
		<td id="hrd_sd-Title_of_the_Program-<%%VALUE(id)%%>" class="hrd_sd-Title_of_the_Program text-bold"><%%VALUE(Title_of_the_Program)%%></td>
		<td id="hrd_sd-Total_Number_of_Beneficiaries-<%%VALUE(id)%%>" class="hrd_sd-Total_Number_of_Beneficiaries text-bold"><%%VALUE(Total_Number_of_Beneficiaries)%%></td>
		<td id="hrd_sd-Number_of_Women_Beneficiaries-<%%VALUE(id)%%>" class="hrd_sd-Number_of_Women_Beneficiaries text-bold"><%%VALUE(Number_of_Women_Beneficiaries)%%></td>
		<td id="hrd_sd-Total_Number_of_SC_Beneficiaries-<%%VALUE(id)%%>" class="hrd_sd-Total_Number_of_SC_Beneficiaries text-bold"><%%VALUE(Total_Number_of_SC_Beneficiaries)%%></td>
		<td id="hrd_sd-Total_Number_of_ST_Beneficiaries-<%%VALUE(id)%%>" class="hrd_sd-Total_Number_of_ST_Beneficiaries text-bold"><%%VALUE(Total_Number_of_ST_Beneficiaries)%%></td>
		<td id="hrd_sd-category-<%%VALUE(id)%%>" class="hrd_sd-category text-bold"><%%VALUE(category)%%></td>
		<td id="hrd_sd-Start_Date-<%%VALUE(id)%%>" class="hrd_sd-Start_Date text-bold"><%%VALUE(Start_Date)%%></td>
		<td id="hrd_sd-End_Date-<%%VALUE(id)%%>" class="hrd_sd-End_Date text-bold"><%%VALUE(End_Date)%%></td>
		<td id="hrd_sd-Collaborating_Organisation-<%%VALUE(id)%%>" class="hrd_sd-Collaborating_Organisation text-bold"><%%VALUE(Collaborating_Organisation)%%></td>
		<td id="hrd_sd-Outcomes-<%%VALUE(id)%%>" class="hrd_sd-Outcomes text-bold"><%%VALUE(Outcomes)%%></td>
		<td id="hrd_sd-created_by_username-<%%VALUE(id)%%>" class="hrd_sd-created_by_username text-bold"><%%VALUE(created_by_username)%%></td>
		<td id="hrd_sd-created_at-<%%VALUE(id)%%>" class="hrd_sd-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="hrd_sd-last_updated_by_username-<%%VALUE(id)%%>" class="hrd_sd-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></td>
		<td id="hrd_sd-last_updated_at-<%%VALUE(id)%%>" class="hrd_sd-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
