		<td colspan="15" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="hrd_sdp_events_table-id-caption field-caption-tv">ID</dt>
					<dd id="hrd_sdp_events_table-id-<%%VALUE(id)%%>" class="hrd_sdp_events_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="hrd_sdp_events_table-year-caption field-caption-tv">Year</dt>
					<dd id="hrd_sdp_events_table-year-<%%VALUE(id)%%>" class="hrd_sdp_events_table-year text-bold"><%%VALUE(year)%%></dd>

					<dt class="hrd_sdp_events_table-program_name-caption field-caption-tv">Program name</dt>
					<dd id="hrd_sdp_events_table-program_name-<%%VALUE(id)%%>" class="hrd_sdp_events_table-program_name text-bold"><%%VALUE(program_name)%%></dd>

					<dt class="hrd_sdp_events_table-area_of_workshop-caption field-caption-tv">Topic/Area of Workshop</dt>
					<dd id="hrd_sdp_events_table-area_of_workshop-<%%VALUE(id)%%>" class="hrd_sdp_events_table-area_of_workshop text-bold"><%%VALUE(area_of_workshop)%%></dd>

					<dt class="hrd_sdp_events_table-host_name-caption field-caption-tv">Host name</dt>
					<dd id="hrd_sdp_events_table-host_name-<%%VALUE(id)%%>" class="hrd_sdp_events_table-host_name text-bold"><%%VALUE(host_name)%%></dd>

					<dt class="hrd_sdp_events_table-location-caption field-caption-tv">Location</dt>
					<dd id="hrd_sdp_events_table-location-<%%VALUE(id)%%>" class="hrd_sdp_events_table-location text-bold"><%%VALUE(location)%%></dd>

					<dt class="hrd_sdp_events_table-start_date-caption field-caption-tv">Start date</dt>
					<dd id="hrd_sdp_events_table-start_date-<%%VALUE(id)%%>" class="hrd_sdp_events_table-start_date text-bold"><%%VALUE(start_date)%%></dd>

					<dt class="hrd_sdp_events_table-end_date-caption field-caption-tv">End date</dt>
					<dd id="hrd_sdp_events_table-end_date-<%%VALUE(id)%%>" class="hrd_sdp_events_table-end_date text-bold"><%%VALUE(end_date)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="hrd_sdp_events_table-number_of_participants-caption field-caption-tv">Number of participants</dt>
					<dd id="hrd_sdp_events_table-number_of_participants-<%%VALUE(id)%%>" class="hrd_sdp_events_table-number_of_participants text-bold"><%%VALUE(number_of_participants)%%></dd>

					<dt class="hrd_sdp_events_table-more_details-caption field-caption-tv">More details</dt>
					<dd id="hrd_sdp_events_table-more_details-<%%VALUE(id)%%>" class="hrd_sdp_events_table-more_details text-bold"><%%VALUE(more_details)%%></dd>

					<dt class="hrd_sdp_events_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="hrd_sdp_events_table-created_by-<%%VALUE(id)%%>" class="hrd_sdp_events_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="hrd_sdp_events_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="hrd_sdp_events_table-last_updated_by-<%%VALUE(id)%%>" class="hrd_sdp_events_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="hrd_sdp_events_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="hrd_sdp_events_table-created_by_username-<%%VALUE(id)%%>" class="hrd_sdp_events_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="hrd_sdp_events_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="hrd_sdp_events_table-created_at-<%%VALUE(id)%%>" class="hrd_sdp_events_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="hrd_sdp_events_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="hrd_sdp_events_table-last_updated_by_username-<%%VALUE(id)%%>" class="hrd_sdp_events_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
