		<td colspan="25" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="internship_fellowship_details_app-id-caption field-caption-tv">ID</dt>
					<dd id="internship_fellowship_details_app-id-<%%VALUE(id)%%>" class="internship_fellowship_details_app-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="internship_fellowship_details_app-standard-caption field-caption-tv">Standard</dt>
					<dd id="internship_fellowship_details_app-standard-<%%VALUE(id)%%>" class="internship_fellowship_details_app-standard text-bold"><%%VALUE(standard)%%></dd>

					<dt class="internship_fellowship_details_app-iittnif_id-caption field-caption-tv">IITTNiF id</dt>
					<dd id="internship_fellowship_details_app-iittnif_id-<%%VALUE(id)%%>" class="internship_fellowship_details_app-iittnif_id text-bold"><%%VALUE(iittnif_id)%%></dd>

					<dt class="internship_fellowship_details_app-name_of_the_candidate-caption field-caption-tv">Name of the Candidate</dt>
					<dd id="internship_fellowship_details_app-name_of_the_candidate-<%%VALUE(id)%%>" class="internship_fellowship_details_app-name_of_the_candidate text-bold"><%%VALUE(name_of_the_candidate)%%></dd>

					<dt class="internship_fellowship_details_app-type_of_internship_fellowship-caption field-caption-tv">Type of Internship/Fellowship</dt>
					<dd id="internship_fellowship_details_app-type_of_internship_fellowship-<%%VALUE(id)%%>" class="internship_fellowship_details_app-type_of_internship_fellowship text-bold"><%%VALUE(type_of_internship_fellowship)%%></dd>

					<dt class="internship_fellowship_details_app-year-caption field-caption-tv">Year</dt>
					<dd id="internship_fellowship_details_app-year-<%%VALUE(id)%%>" class="internship_fellowship_details_app-year text-bold"><%%VALUE(year)%%></dd>

					<dt class="internship_fellowship_details_app-project_title-caption field-caption-tv">Project title</dt>
					<dd id="internship_fellowship_details_app-project_title-<%%VALUE(id)%%>" class="internship_fellowship_details_app-project_title text-bold"><%%VALUE(project_title)%%></dd>

					<dt class="internship_fellowship_details_app-gender-caption field-caption-tv">Gender</dt>
					<dd id="internship_fellowship_details_app-gender-<%%VALUE(id)%%>" class="internship_fellowship_details_app-gender text-bold"><%%VALUE(gender)%%></dd>

					<dt class="internship_fellowship_details_app-department-caption field-caption-tv">Department</dt>
					<dd id="internship_fellowship_details_app-department-<%%VALUE(id)%%>" class="internship_fellowship_details_app-department text-bold"><%%VALUE(department)%%></dd>

					<dt class="internship_fellowship_details_app-institute_id_number-caption field-caption-tv">Institute ID number</dt>
					<dd id="internship_fellowship_details_app-institute_id_number-<%%VALUE(id)%%>" class="internship_fellowship_details_app-institute_id_number text-bold"><%%VALUE(institute_id_number)%%></dd>

					<dt class="internship_fellowship_details_app-institute-caption field-caption-tv">Institute</dt>
					<dd id="internship_fellowship_details_app-institute-<%%VALUE(id)%%>" class="internship_fellowship_details_app-institute text-bold"><%%VALUE(institute)%%></dd>

					<dt class="internship_fellowship_details_app-latitude-caption field-caption-tv">Latitude</dt>
					<dd id="internship_fellowship_details_app-latitude-<%%VALUE(id)%%>" class="internship_fellowship_details_app-latitude text-bold"><%%VALUE(latitude)%%></dd>

					<dt class="internship_fellowship_details_app-longitude-caption field-caption-tv">Longitude</dt>
					<dd id="internship_fellowship_details_app-longitude-<%%VALUE(id)%%>" class="internship_fellowship_details_app-longitude text-bold"><%%VALUE(longitude)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="internship_fellowship_details_app-start_date-caption field-caption-tv">Start date</dt>
					<dd id="internship_fellowship_details_app-start_date-<%%VALUE(id)%%>" class="internship_fellowship_details_app-start_date text-bold"><%%VALUE(start_date)%%></dd>

					<dt class="internship_fellowship_details_app-end_date-caption field-caption-tv">End date</dt>
					<dd id="internship_fellowship_details_app-end_date-<%%VALUE(id)%%>" class="internship_fellowship_details_app-end_date text-bold"><%%VALUE(end_date)%%></dd>

					<dt class="internship_fellowship_details_app-status-caption field-caption-tv">Status</dt>
					<dd id="internship_fellowship_details_app-status-<%%VALUE(id)%%>" class="internship_fellowship_details_app-status text-bold"><%%VALUE(status)%%></dd>

					<dt class="internship_fellowship_details_app-cotegory-caption field-caption-tv">Cotegory</dt>
					<dd id="internship_fellowship_details_app-cotegory-<%%VALUE(id)%%>" class="internship_fellowship_details_app-cotegory text-bold"><%%VALUE(cotegory)%%></dd>

					<dt class="internship_fellowship_details_app-report_link-caption field-caption-tv">Report link</dt>
					<dd id="internship_fellowship_details_app-report_link-<%%VALUE(id)%%>" class="internship_fellowship_details_app-report_link text-bold"><%%VALUE(report_link)%%></dd>

					<dt class="internship_fellowship_details_app-outcomes-caption field-caption-tv">Outcomes</dt>
					<dd id="internship_fellowship_details_app-outcomes-<%%VALUE(id)%%>" class="internship_fellowship_details_app-outcomes text-bold"><%%VALUE(outcomes)%%></dd>

					<dt class="internship_fellowship_details_app-created_by-caption field-caption-tv">Created By</dt>
					<dd id="internship_fellowship_details_app-created_by-<%%VALUE(id)%%>" class="internship_fellowship_details_app-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="internship_fellowship_details_app-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="internship_fellowship_details_app-last_updated_by-<%%VALUE(id)%%>" class="internship_fellowship_details_app-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="internship_fellowship_details_app-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="internship_fellowship_details_app-created_by_username-<%%VALUE(id)%%>" class="internship_fellowship_details_app-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="internship_fellowship_details_app-created_at-caption field-caption-tv">Created At</dt>
					<dd id="internship_fellowship_details_app-created_at-<%%VALUE(id)%%>" class="internship_fellowship_details_app-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="internship_fellowship_details_app-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="internship_fellowship_details_app-last_updated_by_username-<%%VALUE(id)%%>" class="internship_fellowship_details_app-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="internship_fellowship_details_app-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="internship_fellowship_details_app-last_updated_at-<%%VALUE(id)%%>" class="internship_fellowship_details_app-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
