<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the internship_fellowship_details_app_init() hook (in hooks/internship_fellowship_details_app.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="internship_fellowship_details_app-id-<%%VALUE(id)%%>" class="internship_fellowship_details_app-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="internship_fellowship_details_app-standard-<%%VALUE(id)%%>" class="internship_fellowship_details_app-standard text-bold"><%%VALUE(standard)%%></td>
		<td id="internship_fellowship_details_app-iittnif_id-<%%VALUE(id)%%>" class="internship_fellowship_details_app-iittnif_id text-bold"><%%VALUE(iittnif_id)%%></td>
		<td id="internship_fellowship_details_app-name_of_the_candidate-<%%VALUE(id)%%>" class="internship_fellowship_details_app-name_of_the_candidate text-bold"><%%VALUE(name_of_the_candidate)%%></td>
		<td id="internship_fellowship_details_app-type_of_internship_fellowship-<%%VALUE(id)%%>" class="internship_fellowship_details_app-type_of_internship_fellowship text-bold"><%%VALUE(type_of_internship_fellowship)%%></td>
		<td id="internship_fellowship_details_app-year-<%%VALUE(id)%%>" class="internship_fellowship_details_app-year text-bold"><%%VALUE(year)%%></td>
		<td id="internship_fellowship_details_app-project_title-<%%VALUE(id)%%>" class="internship_fellowship_details_app-project_title text-bold"><%%VALUE(project_title)%%></td>
		<td id="internship_fellowship_details_app-gender-<%%VALUE(id)%%>" class="internship_fellowship_details_app-gender text-bold"><%%VALUE(gender)%%></td>
		<td id="internship_fellowship_details_app-department-<%%VALUE(id)%%>" class="internship_fellowship_details_app-department text-bold"><%%VALUE(department)%%></td>
		<td id="internship_fellowship_details_app-institute_id_number-<%%VALUE(id)%%>" class="internship_fellowship_details_app-institute_id_number text-bold"><%%VALUE(institute_id_number)%%></td>
		<td id="internship_fellowship_details_app-institute-<%%VALUE(id)%%>" class="internship_fellowship_details_app-institute text-bold"><%%VALUE(institute)%%></td>
		<td id="internship_fellowship_details_app-latitude-<%%VALUE(id)%%>" class="internship_fellowship_details_app-latitude text-bold"><%%VALUE(latitude)%%></td>
		<td id="internship_fellowship_details_app-longitude-<%%VALUE(id)%%>" class="internship_fellowship_details_app-longitude text-bold"><%%VALUE(longitude)%%></td>
		<td id="internship_fellowship_details_app-start_date-<%%VALUE(id)%%>" class="internship_fellowship_details_app-start_date text-bold"><%%VALUE(start_date)%%></td>
		<td id="internship_fellowship_details_app-end_date-<%%VALUE(id)%%>" class="internship_fellowship_details_app-end_date text-bold"><%%VALUE(end_date)%%></td>
		<td id="internship_fellowship_details_app-status-<%%VALUE(id)%%>" class="internship_fellowship_details_app-status text-bold"><%%VALUE(status)%%></td>
		<td id="internship_fellowship_details_app-cotegory-<%%VALUE(id)%%>" class="internship_fellowship_details_app-cotegory text-bold"><%%VALUE(cotegory)%%></td>
		<td id="internship_fellowship_details_app-report_link-<%%VALUE(id)%%>" class="internship_fellowship_details_app-report_link text-bold"><%%VALUE(report_link)%%></td>
		<td id="internship_fellowship_details_app-outcomes-<%%VALUE(id)%%>" class="internship_fellowship_details_app-outcomes text-bold"><%%VALUE(outcomes)%%></td>
		<td id="internship_fellowship_details_app-created_by-<%%VALUE(id)%%>" class="internship_fellowship_details_app-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="internship_fellowship_details_app-created_at-<%%VALUE(id)%%>" class="internship_fellowship_details_app-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="internship_fellowship_details_app-last_updated_by-<%%VALUE(id)%%>" class="internship_fellowship_details_app-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="internship_fellowship_details_app-last_updated_at-<%%VALUE(id)%%>" class="internship_fellowship_details_app-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
