		<td colspan="3" class="row">
			<div id="intellectual_property-year-<%%VALUE(id)%%>" class="intellectual_property-year col-sm-12 h5 text-bold"><%%VALUE(year)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="intellectual_property-ip_category-caption field-caption-tv">IP Category</dt>
					<dd id="intellectual_property-ip_category-<%%VALUE(id)%%>" class="intellectual_property-ip_category text-bold"><%%VALUE(ip_category)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="intellectual_property-ip_title-caption field-caption-tv">IP Title</dt>
					<dd id="intellectual_property-ip_title-<%%VALUE(id)%%>" class="intellectual_property-ip_title text-bold"><%%VALUE(ip_title)%%></dd>

				</dl>
			</div>
		</td>
