<!-- To change the layout of the detail view form, we recommend using JS code in hooks/internship_fellowship_details_app-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="internship_fellowship_details_app_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="internship_fellowship_details_app_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="star_pnt_view.php?filterer_iittnif_id=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="star_pnt_link"><img src="table.gif"> Star-PNT - APP</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="star_pnt_view.php?filterer_iittnif_id=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_star_pnt_link"><img src="table.gif"> Star-PNT - APP</a>
			<input type="hidden" id="star_pnt_hclink" value="star_pnt_view.php?filterer_iittnif_id=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="internship_fellowship_details_app_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Standard -->
				<div class="form-group internship_fellowship_details_app-standard">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="standard">Standard</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="standard" id="standard" value="<%%VALUE(standard)%%>">
					</div>
				</div>

				<!-- Field: IITTNiF id -->
				<div class="form-group internship_fellowship_details_app-iittnif_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="iittnif_id">IITTNiF id</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="iittnif_id" id="iittnif_id" value="<%%VALUE(iittnif_id)%%>">
					</div>
				</div>

				<!-- Field: Name of the Candidate -->
				<div class="form-group internship_fellowship_details_app-name_of_the_candidate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="name_of_the_candidate">Name of the Candidate</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="name_of_the_candidate" id="name_of_the_candidate" value="<%%VALUE(name_of_the_candidate)%%>">
					</div>
				</div>

				<!-- Field: Type of Internship/Fellowship -->
				<div class="form-group internship_fellowship_details_app-type_of_internship_fellowship">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="type_of_internship_fellowship">Type of Internship/Fellowship</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="type_of_internship_fellowship" id="type_of_internship_fellowship" value="<%%VALUE(type_of_internship_fellowship)%%>">
					</div>
				</div>

				<!-- Field: Year -->
				<div class="form-group internship_fellowship_details_app-year">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="year">Year</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="year" id="year" value="<%%VALUE(year)%%>">
					</div>
				</div>

				<!-- Field: Project title -->
				<div class="form-group internship_fellowship_details_app-project_title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="project_title">Project title</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="project_title" id="project_title" rows=" 5"><%%VALUE(project_title)%%></textarea>
					</div>
				</div>

				<!-- Field: Gender -->
				<div class="form-group internship_fellowship_details_app-gender">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="gender">Gender</label>
					<div class="col-lg-9">
						<%%COMBO(gender)%%>
					</div>
				</div>

				<!-- Field: Department -->
				<div class="form-group internship_fellowship_details_app-department">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="department">Department</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="department" id="department" value="<%%VALUE(department)%%>">
					</div>
				</div>

				<!-- Field: Institute ID number -->
				<div class="form-group internship_fellowship_details_app-institute_id_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="institute_id_number">Institute ID number</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="institute_id_number" id="institute_id_number" value="<%%VALUE(institute_id_number)%%>">
					</div>
				</div>

				<!-- Field: Institute -->
				<div class="form-group internship_fellowship_details_app-institute">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="institute">Institute</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="institute" id="institute" value="<%%VALUE(institute)%%>">
					</div>
				</div>

				<!-- Field: Latitude -->
				<div class="form-group internship_fellowship_details_app-latitude">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="latitude">Latitude</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="latitude" id="latitude" value="<%%VALUE(latitude)%%>">
					</div>
				</div>

				<!-- Field: Longitude -->
				<div class="form-group internship_fellowship_details_app-longitude">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="longitude">Longitude</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="longitude" id="longitude" value="<%%VALUE(longitude)%%>">
					</div>
				</div>

				<!-- Field: Start date -->
				<div class="form-group internship_fellowship_details_app-start_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="start_date">Start date</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="start_date" id="start_date" value="<%%VALUE(start_date)%%>">
					</div>
				</div>

				<!-- Field: End date -->
				<div class="form-group internship_fellowship_details_app-end_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="end_date">End date</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="end_date" id="end_date" value="<%%VALUE(end_date)%%>">
					</div>
				</div>

				<!-- Field: Status -->
				<div class="form-group internship_fellowship_details_app-status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="status">Status</label>
					<div class="col-lg-9">
						<%%COMBO(status)%%>
					</div>
				</div>

				<!-- Field: Cotegory -->
				<div class="form-group internship_fellowship_details_app-cotegory">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cotegory">Cotegory</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="cotegory" id="cotegory" value="<%%VALUE(cotegory)%%>">
					</div>
				</div>

				<!-- Field: Report link -->
				<div class="form-group internship_fellowship_details_app-report_link">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="report_link">Report link</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="report_link" id="report_link" value="<%%VALUE(report_link)%%>">
					</div>
				</div>

				<!-- Field: Outcomes -->
				<div class="form-group internship_fellowship_details_app-outcomes">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="outcomes">Outcomes</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="outcomes" id="outcomes" rows=" 5"><%%VALUE(outcomes)%%></textarea>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group internship_fellowship_details_app-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group internship_fellowship_details_app-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="internship_fellowship_details_app_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="internship_fellowship_details_app-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#internship_fellowship_details_app_dv_container-loading').addClass('hidden');
			$j('#internship_fellowship_details_app_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('internship_fellowship_details_app', 'standard');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setInterval(append_embedded, 1000);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'internship_fellowship_details_app',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'internship_fellowship_details_app-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			internship_fellowship_details_appUniqueFields.forEach(fieldName => enforce_uniqueness('internship_fellowship_details_app', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=internship_fellowship_details_app&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=internship_fellowship_details_app&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var internship_fellowship_details_appUniqueFields = [
		];
	</script>