<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ipr_init() hook (in hooks/ipr.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ipr-id-<%%VALUE(id)%%>" class="ipr-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="ipr-publications_and_intellectual_activities_details-<%%VALUE(id)%%>" class="ipr-publications_and_intellectual_activities_details"><%%SELECT%%><%%VALUE(publications_and_intellectual_activities_details)%%><%%ENDSELECT%%></td>
		<td id="ipr-title-<%%VALUE(id)%%>" class="ipr-title"><%%SELECT%%><%%VALUE(title)%%><%%ENDSELECT%%></td>
		<td id="ipr-ipr_ia-<%%VALUE(id)%%>" class="ipr-ipr_ia"><%%SELECT%%><%%VALUE(ipr_ia)%%><%%ENDSELECT%%></td>
		<td id="ipr-event_type-<%%VALUE(id)%%>" class="ipr-event_type"><%%SELECT%%><%%VALUE(event_type)%%><%%ENDSELECT%%></td>
		<td id="ipr-technology_domain-<%%VALUE(id)%%>" class="ipr-technology_domain"><%%SELECT%%><%%VALUE(technology_domain)%%><%%ENDSELECT%%></td>
		<td id="ipr-collaborating_organization-<%%VALUE(id)%%>" class="ipr-collaborating_organization"><%%SELECT%%><%%VALUE(collaborating_organization)%%><%%ENDSELECT%%></td>
		<td id="ipr-event_venue_address-<%%VALUE(id)%%>" class="ipr-event_venue_address"><%%SELECT%%><%%VALUE(event_venue_address)%%><%%ENDSELECT%%></td>
		<td id="ipr-state-<%%VALUE(id)%%>" class="ipr-state"><%%SELECT%%><%%VALUE(state)%%><%%ENDSELECT%%></td>
		<td id="ipr-district-<%%VALUE(id)%%>" class="ipr-district"><%%SELECT%%><%%VALUE(district)%%><%%ENDSELECT%%></td>
		<td id="ipr-start_date-<%%VALUE(id)%%>" class="ipr-start_date"><%%SELECT%%><%%VALUE(start_date)%%><%%ENDSELECT%%></td>
		<td id="ipr-end_date-<%%VALUE(id)%%>" class="ipr-end_date"><%%SELECT%%><%%VALUE(end_date)%%><%%ENDSELECT%%></td>
		<td id="ipr-total_number_of_participants-<%%VALUE(id)%%>" class="ipr-total_number_of_participants text-right"><%%SELECT%%><%%VALUE(total_number_of_participants)%%><%%ENDSELECT%%></td>
		<td id="ipr-women_participants-<%%VALUE(id)%%>" class="ipr-women_participants text-right"><%%SELECT%%><%%VALUE(women_participants)%%><%%ENDSELECT%%></td>
		<td id="ipr-st_participants-<%%VALUE(id)%%>" class="ipr-st_participants text-right"><%%SELECT%%><%%VALUE(st_participants)%%><%%ENDSELECT%%></td>
		<td id="ipr-sc_participants-<%%VALUE(id)%%>" class="ipr-sc_participants text-right"><%%SELECT%%><%%VALUE(sc_participants)%%><%%ENDSELECT%%></td>
		<td id="ipr-outcomes-<%%VALUE(id)%%>" class="ipr-outcomes"><%%SELECT%%><%%VALUE(outcomes)%%><%%ENDSELECT%%></td>
