<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the it_International_Collaboration_init() hook (in hooks/it_International_Collaboration.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="it_International_Collaboration-year-<%%VALUE(id)%%>" class="it_International_Collaboration-year"><%%SELECT%%><%%VALUE(year)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Collaborating_Institute_Name-<%%VALUE(id)%%>" class="it_International_Collaboration-Collaborating_Institute_Name"><%%SELECT%%><%%VALUE(Collaborating_Institute_Name)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Country-<%%VALUE(id)%%>" class="it_International_Collaboration-Country"><%%SELECT%%><%%VALUE(Country)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-title_of_the_Program-<%%VALUE(id)%%>" class="it_International_Collaboration-title_of_the_Program"><%%SELECT%%><%%VALUE(title_of_the_Program)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Technology_Area_of_Collaboration-<%%VALUE(id)%%>" class="it_International_Collaboration-Technology_Area_of_Collaboration"><%%SELECT%%><%%VALUE(Technology_Area_of_Collaboration)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Potential_Area_for_Application-<%%VALUE(id)%%>" class="it_International_Collaboration-Potential_Area_for_Application"><%%SELECT%%><%%VALUE(Potential_Area_for_Application)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Brief_Description_of_Collaboration-<%%VALUE(id)%%>" class="it_International_Collaboration-Brief_Description_of_Collaboration"><%%SELECT%%><%%VALUE(Brief_Description_of_Collaboration)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-RoleofTIH-<%%VALUE(id)%%>" class="it_International_Collaboration-RoleofTIH"><%%SELECT%%><%%VALUE(RoleofTIH)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-RoleofCollaborator-<%%VALUE(id)%%>" class="it_International_Collaboration-RoleofCollaborator"><%%SELECT%%><%%VALUE(RoleofCollaborator)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Funding_From_TIH-<%%VALUE(id)%%>" class="it_International_Collaboration-Funding_From_TIH"><%%SELECT%%><%%VALUE(Funding_From_TIH)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Funding_from_International_Agency-<%%VALUE(id)%%>" class="it_International_Collaboration-Funding_from_International_Agency"><%%SELECT%%><%%VALUE(Funding_from_International_Agency)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Project_Value-<%%VALUE(id)%%>" class="it_International_Collaboration-Project_Value"><%%SELECT%%><%%VALUE(Project_Value)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-MoU_Signed_Date-<%%VALUE(id)%%>" class="it_International_Collaboration-MoU_Signed_Date"><%%SELECT%%><%%VALUE(MoU_Signed_Date)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-Start_Date-<%%VALUE(id)%%>" class="it_International_Collaboration-Start_Date"><%%SELECT%%><%%VALUE(Start_Date)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-End_Date-<%%VALUE(id)%%>" class="it_International_Collaboration-End_Date"><%%SELECT%%><%%VALUE(End_Date)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-status-<%%VALUE(id)%%>" class="it_International_Collaboration-status"><%%SELECT%%><%%VALUE(status)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-remarks-<%%VALUE(id)%%>" class="it_International_Collaboration-remarks"><%%SELECT%%><%%VALUE(remarks)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-created_by_username-<%%VALUE(id)%%>" class="it_International_Collaboration-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-created_at-<%%VALUE(id)%%>" class="it_International_Collaboration-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-last_updated_by_username-<%%VALUE(id)%%>" class="it_International_Collaboration-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></td>
		<td id="it_International_Collaboration-last_updated_at-<%%VALUE(id)%%>" class="it_International_Collaboration-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></td>
