<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the it_International_Collaboration_init() hook (in hooks/it_International_Collaboration.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="it_International_Collaboration-year-<%%VALUE(id)%%>" class="it_International_Collaboration-year text-bold"><%%VALUE(year)%%></td>
		<td id="it_International_Collaboration-Collaborating_Institute_Name-<%%VALUE(id)%%>" class="it_International_Collaboration-Collaborating_Institute_Name text-bold"><%%VALUE(Collaborating_Institute_Name)%%></td>
		<td id="it_International_Collaboration-Country-<%%VALUE(id)%%>" class="it_International_Collaboration-Country text-bold"><%%VALUE(Country)%%></td>
		<td id="it_International_Collaboration-title_of_the_Program-<%%VALUE(id)%%>" class="it_International_Collaboration-title_of_the_Program text-bold"><%%VALUE(title_of_the_Program)%%></td>
		<td id="it_International_Collaboration-Technology_Area_of_Collaboration-<%%VALUE(id)%%>" class="it_International_Collaboration-Technology_Area_of_Collaboration text-bold"><%%VALUE(Technology_Area_of_Collaboration)%%></td>
		<td id="it_International_Collaboration-Potential_Area_for_Application-<%%VALUE(id)%%>" class="it_International_Collaboration-Potential_Area_for_Application text-bold"><%%VALUE(Potential_Area_for_Application)%%></td>
		<td id="it_International_Collaboration-Brief_Description_of_Collaboration-<%%VALUE(id)%%>" class="it_International_Collaboration-Brief_Description_of_Collaboration text-bold"><%%VALUE(Brief_Description_of_Collaboration)%%></td>
		<td id="it_International_Collaboration-RoleofTIH-<%%VALUE(id)%%>" class="it_International_Collaboration-RoleofTIH text-bold"><%%VALUE(RoleofTIH)%%></td>
		<td id="it_International_Collaboration-RoleofCollaborator-<%%VALUE(id)%%>" class="it_International_Collaboration-RoleofCollaborator text-bold"><%%VALUE(RoleofCollaborator)%%></td>
		<td id="it_International_Collaboration-Funding_From_TIH-<%%VALUE(id)%%>" class="it_International_Collaboration-Funding_From_TIH text-bold"><%%VALUE(Funding_From_TIH)%%></td>
		<td id="it_International_Collaboration-Funding_from_International_Agency-<%%VALUE(id)%%>" class="it_International_Collaboration-Funding_from_International_Agency text-bold"><%%VALUE(Funding_from_International_Agency)%%></td>
		<td id="it_International_Collaboration-Project_Value-<%%VALUE(id)%%>" class="it_International_Collaboration-Project_Value text-bold"><%%VALUE(Project_Value)%%></td>
		<td id="it_International_Collaboration-MoU_Signed_Date-<%%VALUE(id)%%>" class="it_International_Collaboration-MoU_Signed_Date text-bold"><%%VALUE(MoU_Signed_Date)%%></td>
		<td id="it_International_Collaboration-Start_Date-<%%VALUE(id)%%>" class="it_International_Collaboration-Start_Date text-bold"><%%VALUE(Start_Date)%%></td>
		<td id="it_International_Collaboration-End_Date-<%%VALUE(id)%%>" class="it_International_Collaboration-End_Date text-bold"><%%VALUE(End_Date)%%></td>
		<td id="it_International_Collaboration-status-<%%VALUE(id)%%>" class="it_International_Collaboration-status text-bold"><%%VALUE(status)%%></td>
		<td id="it_International_Collaboration-remarks-<%%VALUE(id)%%>" class="it_International_Collaboration-remarks text-bold"><%%VALUE(remarks)%%></td>
		<td id="it_International_Collaboration-created_by_username-<%%VALUE(id)%%>" class="it_International_Collaboration-created_by_username text-bold"><%%VALUE(created_by_username)%%></td>
		<td id="it_International_Collaboration-created_at-<%%VALUE(id)%%>" class="it_International_Collaboration-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="it_International_Collaboration-last_updated_by_username-<%%VALUE(id)%%>" class="it_International_Collaboration-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></td>
		<td id="it_International_Collaboration-last_updated_at-<%%VALUE(id)%%>" class="it_International_Collaboration-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
