		<td colspan="22" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="it_inventory_app-it_inventory_id-caption field-caption-tv">ID</dt>
					<dd id="it_inventory_app-it_inventory_id-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-it_inventory_id text-right"><%%SELECT%%><%%VALUE(it_inventory_id)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-date-caption field-caption-tv">Date</dt>
					<dd id="it_inventory_app-date-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-description-caption field-caption-tv">Description</dt>
					<dd id="it_inventory_app-description-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-classification_of_asset-caption field-caption-tv">Classification of asset</dt>
					<dd id="it_inventory_app-classification_of_asset-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-classification_of_asset"><%%SELECT%%><%%VALUE(classification_of_asset)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-sub_category-caption field-caption-tv">Sub category</dt>
					<dd id="it_inventory_app-sub_category-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-sub_category"><%%SELECT%%><%%VALUE(sub_category)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-qty-caption field-caption-tv">Qty</dt>
					<dd id="it_inventory_app-qty-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-qty"><%%SELECT%%><%%VALUE(qty)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-asset_serial_number-caption field-caption-tv">Asset serial number</dt>
					<dd id="it_inventory_app-asset_serial_number-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-asset_serial_number"><%%SELECT%%><%%VALUE(asset_serial_number)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-qr_and_bar_code-caption field-caption-tv">Qr and bar code</dt>
					<dd id="it_inventory_app-qr_and_bar_code-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-qr_and_bar_code"><%%SELECT%%><%%VALUE(qr_and_bar_code)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-custody_department-caption field-caption-tv">Custody department</dt>
					<dd id="it_inventory_app-custody_department-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-custody_department"><%%SELECT%%><%%VALUE(custody_department)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-custodian-caption field-caption-tv">Custodian</dt>
					<dd id="it_inventory_app-custodian-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-custodian"><%%SELECT%%><%%VALUE(custodian)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-custodian_signature-caption field-caption-tv">Custodian signature</dt>
					<dd id="it_inventory_app-custodian_signature-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-custodian_signature"><%%SELECT%%><img src="thumbnail.php?i=<%%VALUE(custodian_signature)%%>&t=it_inventory_app&f=custodian_signature&v=tv" class="img-thumbnail"><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="it_inventory_app-no_of_years_useful_life_of_assets-caption field-caption-tv">Number of years useful life of assets</dt>
					<dd id="it_inventory_app-no_of_years_useful_life_of_assets-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-no_of_years_useful_life_of_assets"><%%SELECT%%><%%VALUE(no_of_years_useful_life_of_assets)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-date_of_useful_life_of_assets_ends-caption field-caption-tv">Date of useful life of assets ends</dt>
					<dd id="it_inventory_app-date_of_useful_life_of_assets_ends-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-date_of_useful_life_of_assets_ends"><%%SELECT%%><%%VALUE(date_of_useful_life_of_assets_ends)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-remarks-caption field-caption-tv">Remarks</dt>
					<dd id="it_inventory_app-remarks-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-remarks"><%%SELECT%%><%%VALUE(remarks)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-sactioned_by-caption field-caption-tv">Sactioned by</dt>
					<dd id="it_inventory_app-sactioned_by-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-sactioned_by"><%%SELECT%%><%%VALUE(sactioned_by)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-it_inventory_str-caption field-caption-tv">It inventory str</dt>
					<dd id="it_inventory_app-it_inventory_str-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-it_inventory_str"><%%SELECT%%><%%VALUE(it_inventory_str)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="it_inventory_app-last_updated_by-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="it_inventory_app-last_updated_at-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-created_by-caption field-caption-tv">Created By</dt>
					<dd id="it_inventory_app-created_by-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="it_inventory_app-created_by_username-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-created_at-caption field-caption-tv">Created At</dt>
					<dd id="it_inventory_app-created_at-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="it_inventory_app-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="it_inventory_app-last_updated_by_username-<%%VALUE(it_inventory_id)%%>" class="it_inventory_app-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
