		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="it_inventory_allotment_table-it_inventory_allotment_id-caption field-caption-tv">ID</dt>
					<dd id="it_inventory_allotment_table-it_inventory_allotment_id-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-it_inventory_allotment_id text-right text-bold"><%%VALUE(it_inventory_allotment_id)%%></dd>

					<dt class="it_inventory_allotment_table-it_inventory_lookup-caption field-caption-tv">IT inventory </dt>
					<dd id="it_inventory_allotment_table-it_inventory_lookup-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-it_inventory_lookup text-bold"><%%VALUE(it_inventory_lookup)%%></dd>

					<dt class="it_inventory_allotment_table-select_employee-caption field-caption-tv">Select employee</dt>
					<dd id="it_inventory_allotment_table-select_employee-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-select_employee text-bold"><%%VALUE(select_employee)%%></dd>

					<dt class="it_inventory_allotment_table-department-caption field-caption-tv">Department</dt>
					<dd id="it_inventory_allotment_table-department-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-department text-bold"><%%VALUE(department)%%></dd>

					<dt class="it_inventory_allotment_table-date-caption field-caption-tv">Date</dt>
					<dd id="it_inventory_allotment_table-date-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-date text-bold"><%%VALUE(date)%%></dd>

					<dt class="it_inventory_allotment_table-purpose-caption field-caption-tv">Purpose</dt>
					<dd id="it_inventory_allotment_table-purpose-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-purpose text-bold"><%%VALUE(purpose)%%></dd>

					<dt class="it_inventory_allotment_table-alloted_by-caption field-caption-tv">Alloted by</dt>
					<dd id="it_inventory_allotment_table-alloted_by-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-alloted_by text-bold"><%%VALUE(alloted_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="it_inventory_allotment_table-status-caption field-caption-tv">Status</dt>
					<dd id="it_inventory_allotment_table-status-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-status text-bold"><%%VALUE(status)%%></dd>

					<dt class="it_inventory_allotment_table-returned_date-caption field-caption-tv">Returned date</dt>
					<dd id="it_inventory_allotment_table-returned_date-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-returned_date text-bold"><%%VALUE(returned_date)%%></dd>

					<dt class="it_inventory_allotment_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="it_inventory_allotment_table-created_by-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="it_inventory_allotment_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="it_inventory_allotment_table-created_at-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="it_inventory_allotment_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="it_inventory_allotment_table-last_updated_by-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="it_inventory_allotment_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="it_inventory_allotment_table-last_updated_at-<%%VALUE(it_inventory_allotment_id)%%>" class="it_inventory_allotment_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
