		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="leave_table-id-caption field-caption-tv">ID</dt>
					<dd id="leave_table-id-<%%VALUE(id)%%>" class="leave_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-username-caption field-caption-tv">Username</dt>
					<dd id="leave_table-username-<%%VALUE(id)%%>" class="leave_table-username"><%%SELECT%%><%%VALUE(username)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-leave_type-caption field-caption-tv">Leave type</dt>
					<dd id="leave_table-leave_type-<%%VALUE(id)%%>" class="leave_table-leave_type"><%%SELECT%%><%%VALUE(leave_type)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-purpose_of_leave-caption field-caption-tv">Purpose of leave</dt>
					<dd id="leave_table-purpose_of_leave-<%%VALUE(id)%%>" class="leave_table-purpose_of_leave"><%%SELECT%%><%%VALUE(purpose_of_leave)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-from_date-caption field-caption-tv">From date</dt>
					<dd id="leave_table-from_date-<%%VALUE(id)%%>" class="leave_table-from_date"><%%SELECT%%><%%VALUE(from_date)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-to_date-caption field-caption-tv">To date</dt>
					<dd id="leave_table-to_date-<%%VALUE(id)%%>" class="leave_table-to_date"><%%SELECT%%><%%VALUE(to_date)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="leave_table-approval_status-<%%VALUE(id)%%>" class="leave_table-approval_status"><%%SELECT%%><%%VALUE(approval_status)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="leave_table-approval_remarks-caption field-caption-tv">Approval remarks</dt>
					<dd id="leave_table-approval_remarks-<%%VALUE(id)%%>" class="leave_table-approval_remarks"><%%SELECT%%><%%VALUE(approval_remarks)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-approved_by-caption field-caption-tv">Approved By</dt>
					<dd id="leave_table-approved_by-<%%VALUE(id)%%>" class="leave_table-approved_by"><%%SELECT%%><%%VALUE(approved_by)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="leave_table-created_by-<%%VALUE(id)%%>" class="leave_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="leave_table-created_at-<%%VALUE(id)%%>" class="leave_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="leave_table-last_updated_by-<%%VALUE(id)%%>" class="leave_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="leave_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="leave_table-last_updated_at-<%%VALUE(id)%%>" class="leave_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
