		<td colspan="15" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="leave_table-id-caption field-caption-tv">ID</dt>
					<dd id="leave_table-id-<%%VALUE(id)%%>" class="leave_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="leave_table-approval_from-caption field-caption-tv">Approval From</dt>
					<dd id="leave_table-approval_from-<%%VALUE(id)%%>" class="leave_table-approval_from text-bold"><%%VALUE(approval_from)%%></dd>

					<dt class="leave_table-type-caption field-caption-tv">Type</dt>
					<dd id="leave_table-type-<%%VALUE(id)%%>" class="leave_table-type text-bold"><%%VALUE(type)%%></dd>

					<dt class="leave_table-leave_type-caption field-caption-tv">Leave type</dt>
					<dd id="leave_table-leave_type-<%%VALUE(id)%%>" class="leave_table-leave_type text-bold"><%%VALUE(leave_type)%%></dd>

					<dt class="leave_table-purpose_of_leave-caption field-caption-tv">Purpose of leave</dt>
					<dd id="leave_table-purpose_of_leave-<%%VALUE(id)%%>" class="leave_table-purpose_of_leave text-bold"><%%VALUE(purpose_of_leave)%%></dd>

					<dt class="leave_table-from_date-caption field-caption-tv">From Date</dt>
					<dd id="leave_table-from_date-<%%VALUE(id)%%>" class="leave_table-from_date text-bold"><%%VALUE(from_date)%%></dd>

					<dt class="leave_table-to_date-caption field-caption-tv">To Date & Time</dt>
					<dd id="leave_table-to_date-<%%VALUE(id)%%>" class="leave_table-to_date text-bold"><%%VALUE(to_date)%%></dd>

					<dt class="leave_table-upload_img-caption field-caption-tv">Supporting Document (Image)</dt>
					<dd id="leave_table-upload_img-<%%VALUE(id)%%>" class="leave_table-upload_img text-bold"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(upload_img)%%>" data-lightbox="leave_table-upload_img"><img src="thumbnail.php?i=<%%VALUE(upload_img)%%>&t=leave_table&f=upload_img&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="leave_table-upload_pdf-caption field-caption-tv">Supporting Document (PDF)</dt>
					<dd id="leave_table-upload_pdf-<%%VALUE(id)%%>" class="leave_table-upload_pdf text-bold"><a href="link.php?t=leave_table&f=upload_pdf&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(upload_pdf)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="leave_table-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="leave_table-approval_status-<%%VALUE(id)%%>" class="leave_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="leave_table-approval_remarks-caption field-caption-tv">Approval remarks</dt>
					<dd id="leave_table-approval_remarks-<%%VALUE(id)%%>" class="leave_table-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></dd>

					<dt class="leave_table-created_by_username-caption field-caption-tv">Created by Username</dt>
					<dd id="leave_table-created_by_username-<%%VALUE(id)%%>" class="leave_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="leave_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="leave_table-created_at-<%%VALUE(id)%%>" class="leave_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="leave_table-last_updated_by_username-caption field-caption-tv">Last Updated By Username</dt>
					<dd id="leave_table-last_updated_by_username-<%%VALUE(id)%%>" class="leave_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="leave_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="leave_table-last_updated_at-<%%VALUE(id)%%>" class="leave_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_upload_pdf = '<%%VALUE(upload_pdf)%%>'; if(e_upload_pdf == '' || e_upload_pdf == '&nbsp;') $j(/*<*/ '#leave_table-upload_pdf-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
