<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the leave_table_init() hook (in hooks/leave_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="leave_table-leave_id-<%%VALUE(leave_id)%%>" class="leave_table-leave_id text-right text-bold"><%%VALUE(leave_id)%%></td>
		<td id="leave_table-leave_type-<%%VALUE(leave_id)%%>" class="leave_table-leave_type text-bold"><%%VALUE(leave_type)%%></td>
		<td id="leave_table-purpose_of_leave-<%%VALUE(leave_id)%%>" class="leave_table-purpose_of_leave text-bold"><%%VALUE(purpose_of_leave)%%></td>
		<td id="leave_table-from_date-<%%VALUE(leave_id)%%>" class="leave_table-from_date text-bold"><%%VALUE(from_date)%%></td>
		<td id="leave_table-to_date-<%%VALUE(leave_id)%%>" class="leave_table-to_date text-bold"><%%VALUE(to_date)%%></td>
		<td id="leave_table-created_by-<%%VALUE(leave_id)%%>" class="leave_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="leave_table-created_at-<%%VALUE(leave_id)%%>" class="leave_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="leave_table-last_updated_by-<%%VALUE(leave_id)%%>" class="leave_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="leave_table-last_updated_at-<%%VALUE(leave_id)%%>" class="leave_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
