<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Name of the company -->
		<div class="form-group mou_company_area_details_table-name_of_the_company" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name of the company</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="name_of_the_company-readonly<%%RND1%%>"><%%COMBOTEXT(name_of_the_company)%%></span></div>
			</div>
		</div>
		<!-- Field: Area / Scope -->
		<div class="form-group mou_company_area_details_table-area" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Area / Scope</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(area)%%></div>
			</div>
		</div>
		<!-- Field: Assigned MoU to -->
		<div class="form-group mou_company_area_details_table-assigned_mou_to" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Assigned MoU to</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="assigned_mou_to<%%RND1%%>"><%%COMBOTEXT(assigned_mou_to)%%></span></div>
			</div>
		</div>
		<!-- Field: Remarks -->
		<div class="form-group mou_company_area_details_table-remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Remarks</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(remarks)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
