<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Navavishakr stay details -->
		<div class="form-group navavishkar_stay_payment_table-navavishakr_stay_details" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Navavishakr stay details</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="navavishakr_stay_details-readonly<%%RND1%%>"><%%COMBOTEXT(navavishakr_stay_details)%%></span></div>
			</div>
		</div>
		<!-- Field: Payment status -->
		<div class="form-group navavishkar_stay_payment_table-payment_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Payment status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(payment_status)%%></div>
			</div>
		</div>
		<!-- Field: Amount (INR) -->
		<div class="form-group navavishkar_stay_payment_table-amount" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Amount (INR)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(amount)%%></div>
			</div>
		</div>
		<!-- Field: Additional Facilities Provided (Optional) -->
		<div class="form-group navavishkar_stay_payment_table-additional_facilities_provided" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Additional Facilities Provided (Optional)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(additional_facilities_provided)%%></div>
			</div>
		</div>
		<!-- Field: Upload Payment Image -->
		<div class="form-group navavishkar_stay_payment_table-payment_img" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Upload Payment Image</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(payment_img)%%></div>
			</div>
		</div>
		<!-- Field: Remarks -->
		<div class="form-group navavishkar_stay_payment_table-remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Remarks</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(remarks)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group navavishkar_stay_payment_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group navavishkar_stay_payment_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
