		<td colspan="19" class="row">
			<div id="navavishkar_stay_table-id-<%%VALUE(id)%%>" class="navavishkar_stay_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="navavishkar_stay_table-full_name-caption field-caption-tv">Full Name</dt>
					<dd id="navavishkar_stay_table-full_name-<%%VALUE(id)%%>" class="navavishkar_stay_table-full_name text-bold"><%%VALUE(full_name)%%></dd>

					<dt class="navavishkar_stay_table-emp_id-caption field-caption-tv">Employee ID</dt>
					<dd id="navavishkar_stay_table-emp_id-<%%VALUE(id)%%>" class="navavishkar_stay_table-emp_id text-bold"><%%VALUE(emp_id)%%></dd>

					<dt class="navavishkar_stay_table-department-caption field-caption-tv">Department</dt>
					<dd id="navavishkar_stay_table-department-<%%VALUE(id)%%>" class="navavishkar_stay_table-department text-bold"><%%VALUE(department)%%></dd>

					<dt class="navavishkar_stay_table-designation-caption field-caption-tv">Designation</dt>
					<dd id="navavishkar_stay_table-designation-<%%VALUE(id)%%>" class="navavishkar_stay_table-designation text-bold"><%%VALUE(designation)%%></dd>

					<dt class="navavishkar_stay_table-contact_email-caption field-caption-tv">Contact Email</dt>
					<dd id="navavishkar_stay_table-contact_email-<%%VALUE(id)%%>" class="navavishkar_stay_table-contact_email text-bold"><%%VALUE(contact_email)%%></dd>

					<dt class="navavishkar_stay_table-contact_number-caption field-caption-tv">Contact Number</dt>
					<dd id="navavishkar_stay_table-contact_number-<%%VALUE(id)%%>" class="navavishkar_stay_table-contact_number text-bold"><%%VALUE(contact_number)%%></dd>

					<dt class="navavishkar_stay_table-room_number-caption field-caption-tv">Room number</dt>
					<dd id="navavishkar_stay_table-room_number-<%%VALUE(id)%%>" class="navavishkar_stay_table-room_number text-bold"><%%VALUE(room_number)%%></dd>

					<dt class="navavishkar_stay_table-check_in_date-caption field-caption-tv">Check in date</dt>
					<dd id="navavishkar_stay_table-check_in_date-<%%VALUE(id)%%>" class="navavishkar_stay_table-check_in_date text-bold"><%%VALUE(check_in_date)%%></dd>

					<dt class="navavishkar_stay_table-checkout_date-caption field-caption-tv">Checkout date</dt>
					<dd id="navavishkar_stay_table-checkout_date-<%%VALUE(id)%%>" class="navavishkar_stay_table-checkout_date text-bold"><%%VALUE(checkout_date)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="navavishkar_stay_table-reason_for_stay-caption field-caption-tv">Reason for stay</dt>
					<dd id="navavishkar_stay_table-reason_for_stay-<%%VALUE(id)%%>" class="navavishkar_stay_table-reason_for_stay text-bold"><%%VALUE(reason_for_stay)%%></dd>

					<dt class="navavishkar_stay_table-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="navavishkar_stay_table-approval_status-<%%VALUE(id)%%>" class="navavishkar_stay_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="navavishkar_stay_table-approval_remarks-caption field-caption-tv">Approval remarks</dt>
					<dd id="navavishkar_stay_table-approval_remarks-<%%VALUE(id)%%>" class="navavishkar_stay_table-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></dd>

					<dt class="navavishkar_stay_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="navavishkar_stay_table-created_by-<%%VALUE(id)%%>" class="navavishkar_stay_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="navavishkar_stay_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="navavishkar_stay_table-created_at-<%%VALUE(id)%%>" class="navavishkar_stay_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="navavishkar_stay_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="navavishkar_stay_table-last_updated_by-<%%VALUE(id)%%>" class="navavishkar_stay_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="navavishkar_stay_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="navavishkar_stay_table-last_updated_at-<%%VALUE(id)%%>" class="navavishkar_stay_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="navavishkar_stay_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="navavishkar_stay_table-created_by_username-<%%VALUE(id)%%>" class="navavishkar_stay_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="navavishkar_stay_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="navavishkar_stay_table-last_updated_by_username-<%%VALUE(id)%%>" class="navavishkar_stay_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
