<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Full Name -->
		<div class="form-group navavishkar_stay_table-full_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Full Name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(full_name)%%></div>
			</div>
		</div>
		<!-- Field: Employee ID -->
		<div class="form-group navavishkar_stay_table-emp_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Employee ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(emp_id)%%></div>
			</div>
		</div>
		<!-- Field: Department -->
		<div class="form-group navavishkar_stay_table-department" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Department</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(department)%%></div>
			</div>
		</div>
		<!-- Field: Designation -->
		<div class="form-group navavishkar_stay_table-designation" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Designation</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(designation)%%></div>
			</div>
		</div>
		<!-- Field: Contact Email -->
		<div class="form-group navavishkar_stay_table-contact_email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Contact Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(contact_email)%%></div>
			</div>
		</div>
		<!-- Field: Contact Number -->
		<div class="form-group navavishkar_stay_table-contact_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Contact Number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(contact_number)%%></div>
			</div>
		</div>
		<!-- Field: Room number -->
		<div class="form-group navavishkar_stay_table-room_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Room number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(room_number)%%></div>
			</div>
		</div>
		<!-- Field: Check in date -->
		<div class="form-group navavishkar_stay_table-check_in_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Check in date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(check_in_date)%%></div>
			</div>
		</div>
		<!-- Field: Checkout date -->
		<div class="form-group navavishkar_stay_table-checkout_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Checkout date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(checkout_date)%%></div>
			</div>
		</div>
		<!-- Field: Reason for stay -->
		<div class="form-group navavishkar_stay_table-reason_for_stay" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reason for stay</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reason_for_stay)%%></div>
			</div>
		</div>
		<!-- Field: Approval status -->
		<div class="form-group navavishkar_stay_table-approval_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(approval_status)%%></div>
			</div>
		</div>
		<!-- Field: Approval remarks -->
		<div class="form-group navavishkar_stay_table-approval_remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval remarks</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(approval_remarks)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group navavishkar_stay_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group navavishkar_stay_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="navavishkar_stay_table-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=navavishkar_stay_table-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'navavishkar_stay_table',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'navavishkar_stay_table-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

