		<td colspan="20" class="row">
			<div id="navavishkar_stay_facilities_table-id-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="navavishkar_stay_facilities_table-item_purchased_date-caption field-caption-tv">Item/Service Purchased Date</dt>
					<dd id="navavishkar_stay_facilities_table-item_purchased_date-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-item_purchased_date"><%%SELECT%%><%%VALUE(item_purchased_date)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-type_of_item-caption field-caption-tv">type_of_item</dt>
					<dd id="navavishkar_stay_facilities_table-type_of_item-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-type_of_item"><%%SELECT%%><%%VALUE(type_of_item)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-SubCategory-caption field-caption-tv">Sub Category</dt>
					<dd id="navavishkar_stay_facilities_table-SubCategory-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-SubCategory"><%%SELECT%%><%%VALUE(SubCategory)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-Item_serial_no-caption field-caption-tv">Item Serial No</dt>
					<dd id="navavishkar_stay_facilities_table-Item_serial_no-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-Item_serial_no"><%%SELECT%%><%%VALUE(Item_serial_no)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-particulars_of_supplier_name_address-caption field-caption-tv">Partculars of Supplier Vendor Name & Address</dt>
					<dd id="navavishkar_stay_facilities_table-particulars_of_supplier_name_address-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-particulars_of_supplier_name_address"><%%SELECT%%><%%VALUE(particulars_of_supplier_name_address)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-ItemDescription-caption field-caption-tv">Item Description</dt>
					<dd id="navavishkar_stay_facilities_table-ItemDescription-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-ItemDescription"><%%SELECT%%><%%VALUE(ItemDescription)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-BillNo-caption field-caption-tv">Bill No.</dt>
					<dd id="navavishkar_stay_facilities_table-BillNo-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-BillNo"><%%SELECT%%><%%VALUE(BillNo)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-BillDate-caption field-caption-tv">Bill Date</dt>
					<dd id="navavishkar_stay_facilities_table-BillDate-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-BillDate"><%%SELECT%%><%%VALUE(BillDate)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-QUANTITY-caption field-caption-tv">Quantity</dt>
					<dd id="navavishkar_stay_facilities_table-QUANTITY-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-QUANTITY"><%%SELECT%%><%%VALUE(QUANTITY)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-CostoftheAssetinINR-caption field-caption-tv">Cost of the Item (in INR)</dt>
					<dd id="navavishkar_stay_facilities_table-CostoftheAssetinINR-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-CostoftheAssetinINR"><%%SELECT%%><%%VALUE(CostoftheAssetinINR)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="navavishkar_stay_facilities_table-TotalInvoiceValueinINR-caption field-caption-tv">Total Invoice Value (in INR)</dt>
					<dd id="navavishkar_stay_facilities_table-TotalInvoiceValueinINR-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-TotalInvoiceValueinINR"><%%SELECT%%><%%VALUE(TotalInvoiceValueinINR)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-CustodyDepartment-caption field-caption-tv">Custody Department</dt>
					<dd id="navavishkar_stay_facilities_table-CustodyDepartment-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-CustodyDepartment"><%%SELECT%%><%%VALUE(CustodyDepartment)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-custodian-caption field-caption-tv">Custodian</dt>
					<dd id="navavishkar_stay_facilities_table-custodian-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-custodian"><%%SELECT%%><%%VALUE(custodian)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-remarks-caption field-caption-tv">Remarks (Usage Requirements)</dt>
					<dd id="navavishkar_stay_facilities_table-remarks-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-remarks"><%%SELECT%%><%%VALUE(remarks)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="navavishkar_stay_facilities_table-last_updated_at-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-created_by_username-caption field-caption-tv">Created by Username</dt>
					<dd id="navavishkar_stay_facilities_table-created_by_username-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="navavishkar_stay_facilities_table-created_at-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-last_updated_by_username-caption field-caption-tv">Last Updated By Username</dt>
					<dd id="navavishkar_stay_facilities_table-last_updated_by_username-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="navavishkar_stay_facilities_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="navavishkar_stay_facilities_table-last_updated_at-<%%VALUE(id)%%>" class="navavishkar_stay_facilities_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
