<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group navavishkar_stay_facilities_table-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Item/Service Purchased Date -->
		<div class="form-group navavishkar_stay_facilities_table-item_purchased_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Item/Service Purchased Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(item_purchased_date)%%></div>
			</div>
		</div>
		<!-- Field: type_of_item -->
		<div class="form-group navavishkar_stay_facilities_table-type_of_item" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">type_of_item</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(type_of_item)%%></div>
			</div>
		</div>
		<!-- Field: Sub Category -->
		<div class="form-group navavishkar_stay_facilities_table-SubCategory" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Sub Category</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(SubCategory)%%></div>
			</div>
		</div>
		<!-- Field: Item Serial No -->
		<div class="form-group navavishkar_stay_facilities_table-Item_serial_no" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Item Serial No</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Item_serial_no)%%></div>
			</div>
		</div>
		<!-- Field: Partculars of Supplier Vendor Name & Address -->
		<div class="form-group navavishkar_stay_facilities_table-particulars_of_supplier_name_address" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Partculars of Supplier Vendor Name & Address</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(particulars_of_supplier_name_address)%%></div>
			</div>
		</div>
		<!-- Field: Item Description -->
		<div class="form-group navavishkar_stay_facilities_table-ItemDescription" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Item Description</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ItemDescription)%%></div>
			</div>
		</div>
		<!-- Field: Bill No. -->
		<div class="form-group navavishkar_stay_facilities_table-BillNo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Bill No.</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(BillNo)%%></div>
			</div>
		</div>
		<!-- Field: Bill Date -->
		<div class="form-group navavishkar_stay_facilities_table-BillDate" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Bill Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(BillDate)%%></div>
			</div>
		</div>
		<!-- Field: Quantity -->
		<div class="form-group navavishkar_stay_facilities_table-QUANTITY" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Quantity</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(QUANTITY)%%></div>
			</div>
		</div>
		<!-- Field: Cost of the Item (in INR) -->
		<div class="form-group navavishkar_stay_facilities_table-CostoftheAssetinINR" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cost of the Item (in INR)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(CostoftheAssetinINR)%%></div>
			</div>
		</div>
		<!-- Field: Total Invoice Value (in INR) -->
		<div class="form-group navavishkar_stay_facilities_table-TotalInvoiceValueinINR" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Total Invoice Value (in INR)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(TotalInvoiceValueinINR)%%></div>
			</div>
		</div>
		<!-- Field: Custody Department -->
		<div class="form-group navavishkar_stay_facilities_table-CustodyDepartment" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Custody Department</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(CustodyDepartment)%%></div>
			</div>
		</div>
		<!-- Field: Custodian -->
		<div class="form-group navavishkar_stay_facilities_table-custodian" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Custodian</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="custodian<%%RND1%%>"><%%COMBOTEXT(custodian)%%></span></div>
			</div>
		</div>
		<!-- Field: Remarks (Usage Requirements) -->
		<div class="form-group navavishkar_stay_facilities_table-remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Remarks (Usage Requirements)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(remarks)%%></div>
			</div>
		</div>
		<!-- Field: Created by Username -->
		<div class="form-group navavishkar_stay_facilities_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated By Username -->
		<div class="form-group navavishkar_stay_facilities_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="navavishkar_stay_facilities_table-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=navavishkar_stay_facilities_table-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'navavishkar_stay_facilities_table',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'navavishkar_stay_facilities_table-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

