<!-- To change the layout of the detail view form, we recommend using JS code in hooks/newsletter_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="newsletter_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="newsletter_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="newsletter_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Section -->
				<div class="form-group newsletter_table-section">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="section">Section</label>
					<div class="col-lg-9">
						<%%COMBO(section)%%>
					</div>
				</div>

				<!-- Field: Name/Title of Events -->
				<div class="form-group newsletter_table-name_of_event">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="name_of_event">Name/Title of Events</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="name_of_event" id="name_of_event" value="<%%VALUE(name_of_event)%%>">
					</div>
				</div>

				<!-- Field: Dates of Events -->
				<div class="form-group newsletter_table-dates_of_events">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="dates_of_events">Dates of Events</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="dates_of_events" id="dates_of_events" value="<%%VALUE(dates_of_events)%%>">
					</div>
				</div>

				<!-- Field: Writeup About The Events (Max 200 Words) -->
				<div class="form-group newsletter_table-writeup_about_event">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="writeup_about_event">Writeup About The Events (Max 200 Words)</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="writeup_about_event" id="writeup_about_event" rows=" 5"><%%VALUE(writeup_about_event)%%></textarea>
					</div>
				</div>

				<!-- Field: First Image -->
				<div class="form-group newsletter_table-img1">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">First Image <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#img1-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="img1-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 1000000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" data-lightbox="newsletter_table_dv"><img src="thumbnail.php?i=<%%VALUE(img1)%%>&t=newsletter_table&f=img1&v=dv" class="img-thumbnail" id="img1-image"></a></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(img1)%%>
									<%%UPLOADFILE(img1)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_img1 = '<%%VALUE(img1)%%>'; if(e_img1 == '' || e_img1 == '&nbsp;' || e_img1 == 'blank.gif') { $j('#img1-link').hide(); $j('#img1-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Second Image -->
				<div class="form-group newsletter_table-img2">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Second Image <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#img2-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="img2-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 1000000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" data-lightbox="newsletter_table_dv"><img src="thumbnail.php?i=<%%VALUE(img2)%%>&t=newsletter_table&f=img2&v=dv" class="img-thumbnail" id="img2-image"></a></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(img2)%%>
									<%%UPLOADFILE(img2)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_img2 = '<%%VALUE(img2)%%>'; if(e_img2 == '' || e_img2 == '&nbsp;' || e_img2 == 'blank.gif') { $j('#img2-link').hide(); $j('#img2-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group newsletter_table-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group newsletter_table-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="newsletter_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.newsletter_table-section')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#newsletter_table_dv_container-loading').addClass('hidden');
						$j('#newsletter_table_dv_container').removeClass('hidden');
						AppGini.focusFormElement('newsletter_table', 'section');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#newsletter_table_dv_container-loading').addClass('hidden');
				$j('#newsletter_table_dv_container').removeClass('hidden');
			}

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			newsletter_tableUniqueFields.forEach(fieldName => enforce_uniqueness('newsletter_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=newsletter_table&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=newsletter_table&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var newsletter_tableUniqueFields = [
		];
	</script>