<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Section -->
		<div class="form-group newsletter_table-section" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Section</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(section)%%></div>
			</div>
		</div>
		<!-- Field: Name/Title of Events -->
		<div class="form-group newsletter_table-name_of_event" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name/Title of Events</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(name_of_event)%%></div>
			</div>
		</div>
		<!-- Field: Dates of Events -->
		<div class="form-group newsletter_table-dates_of_events" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dates of Events</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(dates_of_events)%%></div>
			</div>
		</div>
		<!-- Field: Writeup About The Events (Max 200 Words) -->
		<div class="form-group newsletter_table-writeup_about_event" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Writeup About The Events (Max 200 Words)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(writeup_about_event)%%></div>
			</div>
		</div>
		<!-- Field: First Image -->
		<div class="form-group newsletter_table-img1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">First Image</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var img1Src1<%%RND1%%>='<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>';
				var img1Src2<%%RND1%%>='thumbnail.php?t=newsletter_table&f=img1&i=<%%VALUE(img1)%%>&v=dv'
			</script>
			<a href="#" onclick="$j('#img1Img<%%RND1%%>').attr('src', ($j('#img1Img<%%RND1%%>').attr('src').search(/thumbnail\.php/) != -1 && img1Src1<%%RND1%%> != '<%%BASE_UPLOAD_PATH%%>' ? img1Src1<%%RND1%%> : img1Src2<%%RND1%%>)); return false;"><img id="img1Img<%%RND1%%>" src="thumbnail.php?t=newsletter_table&f=img1&i=<%%VALUE(img1)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<!-- Field: Second Image -->
		<div class="form-group newsletter_table-img2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Second Image</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var img2Src1<%%RND1%%>='<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>';
				var img2Src2<%%RND1%%>='thumbnail.php?t=newsletter_table&f=img2&i=<%%VALUE(img2)%%>&v=dv'
			</script>
			<a href="#" onclick="$j('#img2Img<%%RND1%%>').attr('src', ($j('#img2Img<%%RND1%%>').attr('src').search(/thumbnail\.php/) != -1 && img2Src1<%%RND1%%> != '<%%BASE_UPLOAD_PATH%%>' ? img2Src1<%%RND1%%> : img2Src2<%%RND1%%>)); return false;"><img id="img2Img<%%RND1%%>" src="thumbnail.php?t=newsletter_table&f=img2&i=<%%VALUE(img2)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group newsletter_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group newsletter_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
