		<td colspan="11" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="operation_dronagiri_data_submission_app-data_id-caption field-caption-tv">ID</dt>
					<dd id="operation_dronagiri_data_submission_app-data_id-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-data_id text-right"><%%SELECT%%><%%VALUE(data_id)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-name_of_the_department-caption field-caption-tv">Name of the department</dt>
					<dd id="operation_dronagiri_data_submission_app-name_of_the_department-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-name_of_the_department"><%%SELECT%%><%%VALUE(name_of_the_department)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-name_of_the_officer-caption field-caption-tv">Name of the officer</dt>
					<dd id="operation_dronagiri_data_submission_app-name_of_the_officer-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-name_of_the_officer"><%%SELECT%%><%%VALUE(name_of_the_officer)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-designation-caption field-caption-tv">Designation</dt>
					<dd id="operation_dronagiri_data_submission_app-designation-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-designation"><%%SELECT%%><%%VALUE(designation)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-email_address-caption field-caption-tv">Email address</dt>
					<dd id="operation_dronagiri_data_submission_app-email_address-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-email_address"><%%SELECT%%><%%VALUE(email_address)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-phone_number-caption field-caption-tv">Phone number</dt>
					<dd id="operation_dronagiri_data_submission_app-phone_number-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-phone_number"><%%SELECT%%><%%VALUE(phone_number)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="operation_dronagiri_data_submission_app-submit_date-caption field-caption-tv">Submit date</dt>
					<dd id="operation_dronagiri_data_submission_app-submit_date-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-submit_date"><%%SELECT%%><%%VALUE(submit_date)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-created_by-caption field-caption-tv">Created by</dt>
					<dd id="operation_dronagiri_data_submission_app-created_by-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-created_at-caption field-caption-tv">Created at</dt>
					<dd id="operation_dronagiri_data_submission_app-created_at-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="operation_dronagiri_data_submission_app-last_updated_by-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="operation_dronagiri_data_submission_app-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="operation_dronagiri_data_submission_app-last_updated_at-<%%VALUE(data_id)%%>" class="operation_dronagiri_data_submission_app-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
