		<td colspan="10" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="outcomes_expected_table-outcomes_expected_id-caption field-caption-tv">ID</dt>
					<dd id="outcomes_expected_table-outcomes_expected_id-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-outcomes_expected_id text-right text-bold"><%%VALUE(outcomes_expected_id)%%></dd>

					<dt class="outcomes_expected_table-event_lookup-caption field-caption-tv">Event</dt>
					<dd id="outcomes_expected_table-event_lookup-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-event_lookup text-bold"><%%VALUE(event_lookup)%%></dd>

					<dt class="outcomes_expected_table-target_audience-caption field-caption-tv">Target audience</dt>
					<dd id="outcomes_expected_table-target_audience-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-target_audience text-bold"><%%VALUE(target_audience)%%></dd>

					<dt class="outcomes_expected_table-expected_outcomes-caption field-caption-tv">Expected outcomes</dt>
					<dd id="outcomes_expected_table-expected_outcomes-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-expected_outcomes text-bold"><%%VALUE(expected_outcomes)%%></dd>

					<dt class="outcomes_expected_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="outcomes_expected_table-created_by-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="outcomes_expected_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="outcomes_expected_table-last_updated_by-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="outcomes_expected_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="outcomes_expected_table-created_by_username-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="outcomes_expected_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="outcomes_expected_table-created_at-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="outcomes_expected_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="outcomes_expected_table-last_updated_by_username-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="outcomes_expected_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="outcomes_expected_table-last_updated_at-<%%VALUE(outcomes_expected_id)%%>" class="outcomes_expected_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
