<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the overtime_table_init() hook (in hooks/overtime_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="overtime_table-id-<%%VALUE(id)%%>" class="overtime_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="overtime_table-select_employee-<%%VALUE(id)%%>" class="overtime_table-select_employee text-bold"><%%VALUE(select_employee)%%></td>
		<td id="overtime_table-start_datetime-<%%VALUE(id)%%>" class="overtime_table-start_datetime text-bold"><%%VALUE(start_datetime)%%></td>
		<td id="overtime_table-end_datetime-<%%VALUE(id)%%>" class="overtime_table-end_datetime text-bold"><%%VALUE(end_datetime)%%></td>
		<td id="overtime_table-number_of_hours-<%%VALUE(id)%%>" class="overtime_table-number_of_hours text-bold"><%%VALUE(number_of_hours)%%></td>
		<td id="overtime_table-approval_status-<%%VALUE(id)%%>" class="overtime_table-approval_status text-bold"><%%VALUE(approval_status)%%></td>
		<td id="overtime_table-reson_for_overtime-<%%VALUE(id)%%>" class="overtime_table-reson_for_overtime text-bold"><%%VALUE(reson_for_overtime)%%></td>
		<td id="overtime_table-approval_remarks-<%%VALUE(id)%%>" class="overtime_table-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></td>
		<td id="overtime_table-approved_by-<%%VALUE(id)%%>" class="overtime_table-approved_by text-bold"><%%VALUE(approved_by)%%></td>
