		<td colspan="14" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="participants_table-participants_id-caption field-caption-tv">ID</dt>
					<dd id="participants_table-participants_id-<%%VALUE(participants_id)%%>" class="participants_table-participants_id text-right text-bold"><%%VALUE(participants_id)%%></dd>

					<dt class="participants_table-event_lookup-caption field-caption-tv">Event</dt>
					<dd id="participants_table-event_lookup-<%%VALUE(participants_id)%%>" class="participants_table-event_lookup text-bold"><%%VALUE(event_lookup)%%></dd>

					<dt class="participants_table-meeting_lookup-caption field-caption-tv">Meeting</dt>
					<dd id="participants_table-meeting_lookup-<%%VALUE(participants_id)%%>" class="participants_table-meeting_lookup text-bold"><%%VALUE(meeting_lookup)%%></dd>

					<dt class="participants_table-name-caption field-caption-tv">Name</dt>
					<dd id="participants_table-name-<%%VALUE(participants_id)%%>" class="participants_table-name text-bold"><%%VALUE(name)%%></dd>

					<dt class="participants_table-designation-caption field-caption-tv">Designation</dt>
					<dd id="participants_table-designation-<%%VALUE(participants_id)%%>" class="participants_table-designation text-bold"><%%VALUE(designation)%%></dd>

					<dt class="participants_table-participant_type-caption field-caption-tv">Participant type</dt>
					<dd id="participants_table-participant_type-<%%VALUE(participants_id)%%>" class="participants_table-participant_type text-bold"><%%VALUE(participant_type)%%></dd>

					<dt class="participants_table-accepted_status-caption field-caption-tv">Accepted status</dt>
					<dd id="participants_table-accepted_status-<%%VALUE(participants_id)%%>" class="participants_table-accepted_status text-bold"><%%VALUE(accepted_status)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="participants_table-status_date-caption field-caption-tv">Status date</dt>
					<dd id="participants_table-status_date-<%%VALUE(participants_id)%%>" class="participants_table-status_date text-bold"><%%VALUE(status_date)%%></dd>

					<dt class="participants_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="participants_table-created_by-<%%VALUE(participants_id)%%>" class="participants_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="participants_table-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="participants_table-last_updated_by-<%%VALUE(participants_id)%%>" class="participants_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="participants_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="participants_table-created_by_username-<%%VALUE(participants_id)%%>" class="participants_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="participants_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="participants_table-created_at-<%%VALUE(participants_id)%%>" class="participants_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="participants_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="participants_table-last_updated_by_username-<%%VALUE(participants_id)%%>" class="participants_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="participants_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="participants_table-last_updated_at-<%%VALUE(participants_id)%%>" class="participants_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
