<!-- To change the layout of the detail view form, we recommend using JS code in hooks/payment_track_details_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="payment_track_details_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="payment_track_details_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="payment_track_details_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: PFMS Num. -->
				<div class="form-group payment_track_details_table-pfms_num">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="pfms_num">PFMS Num.</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="pfms_num" id="pfms_num" value="<%%VALUE(pfms_num)%%>">
					</div>
				</div>

				<!-- Field: Date -->
				<div class="form-group payment_track_details_table-date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="date-dd">Date</label>
					<div class="col-lg-9">
						<%%COMBO(date)%%>
					</div>
				</div>

				<!-- Field: Description -->
				<div class="form-group payment_track_details_table-description">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="description">Description</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="description" id="description" rows=" 5"><%%VALUE(description)%%></textarea>
					</div>
				</div>

				<!-- Field: Amount (Rs.) -->
				<div class="form-group payment_track_details_table-amount">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="amount">Amount (Rs.)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="amount" id="amount" value="<%%VALUE(amount)%%>">
					</div>
				</div>

				<!-- Field: Requested by -->
				<div class="form-group payment_track_details_table-requested_by">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="requested_by">Requested by</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="requested_by" id="requested_by" value="<%%VALUE(requested_by)%%>">
					</div>
				</div>

				<!-- Field: Paid to -->
				<div class="form-group payment_track_details_table-paid_to">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="paid_to">Paid to</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="paid_to" id="paid_to" value="<%%VALUE(paid_to)%%>">
					</div>
				</div>

				<!-- Field: Paid status -->
				<div class="form-group payment_track_details_table-paid_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="paid_status">Paid status</label>
					<div class="col-lg-9">
						<%%COMBO(paid_status)%%>
					</div>
				</div>

				<!-- Field: Payment date -->
				<div class="form-group payment_track_details_table-payment_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="payment_date-dd">Payment date</label>
					<div class="col-lg-9">
						<%%COMBO(payment_date)%%>
					</div>
				</div>

				<!-- Field: Remarks (Recurring / Non-Recurring) -->
				<div class="form-group payment_track_details_table-remarks">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="remarks">Remarks (Recurring / Non-Recurring)</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(remarks)%%>
					</div>
				</div>

				<!-- Field: Upload scanned file (first) -->
				<div class="form-group payment_track_details_table-upload_scanned_file_1">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Upload scanned file (first) <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#upload_scanned_file_1-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="upload_scanned_file_1-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><img src="thumbnail.php?i=<%%VALUE(upload_scanned_file_1)%%>&t=payment_track_details_table&f=upload_scanned_file_1&v=dv" class="img-thumbnail" id="upload_scanned_file_1-image"></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(upload_scanned_file_1)%%>
									<%%UPLOADFILE(upload_scanned_file_1)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_upload_scanned_file_1 = '<%%VALUE(upload_scanned_file_1)%%>'; if(e_upload_scanned_file_1 == '' || e_upload_scanned_file_1 == '&nbsp;' || e_upload_scanned_file_1 == 'blank.gif') { $j('#upload_scanned_file_1-link').hide(); $j('#upload_scanned_file_1-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Upload scanned file (second) -->
				<div class="form-group payment_track_details_table-upload_scanned_file_2">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Upload scanned file (second) <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#upload_scanned_file_2-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="upload_scanned_file_2-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><img src="thumbnail.php?i=<%%VALUE(upload_scanned_file_2)%%>&t=payment_track_details_table&f=upload_scanned_file_2&v=dv" class="img-thumbnail" id="upload_scanned_file_2-image"></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(upload_scanned_file_2)%%>
									<%%UPLOADFILE(upload_scanned_file_2)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_upload_scanned_file_2 = '<%%VALUE(upload_scanned_file_2)%%>'; if(e_upload_scanned_file_2 == '' || e_upload_scanned_file_2 == '&nbsp;' || e_upload_scanned_file_2 == 'blank.gif') { $j('#upload_scanned_file_2-link').hide(); $j('#upload_scanned_file_2-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group payment_track_details_table-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group payment_track_details_table-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="payment_track_details_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#remarks').length) new nicEditor({ fullPanel : true }).panelInstance('remarks');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#payment_track_details_table_dv_container-loading').addClass('hidden');
			$j('#payment_track_details_table_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('payment_track_details_table', 'pfms_num');

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			payment_track_details_tableUniqueFields.forEach(fieldName => enforce_uniqueness('payment_track_details_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=payment_track_details_table&id=<%%URLVALUE(payment_track_details_id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=payment_track_details_table&id=<%%URLVALUE(payment_track_details_id)%%>');
					}
				);
			}
		});

		var payment_track_details_tableUniqueFields = [
		];
	</script>