		<td colspan="10" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="problem_statement_table-problem_statement_id-caption field-caption-tv">ID</dt>
					<dd id="problem_statement_table-problem_statement_id-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-problem_statement_id text-right text-bold"><%%VALUE(problem_statement_id)%%></dd>

					<dt class="problem_statement_table-select_program_id-caption field-caption-tv">Select program id</dt>
					<dd id="problem_statement_table-select_program_id-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-select_program_id text-bold"><%%VALUE(select_program_id)%%></dd>

					<dt class="problem_statement_table-program_description-caption field-caption-tv">Program description</dt>
					<dd id="problem_statement_table-program_description-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-program_description text-bold"><%%VALUE(program_description)%%></dd>

					<dt class="problem_statement_table-remarks-caption field-caption-tv">Remarks</dt>
					<dd id="problem_statement_table-remarks-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-remarks text-bold"><%%VALUE(remarks)%%></dd>

					<dt class="problem_statement_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="problem_statement_table-created_by-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="problem_statement_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="problem_statement_table-created_at-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="problem_statement_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="problem_statement_table-last_updated_by-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="problem_statement_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="problem_statement_table-last_updated_at-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="problem_statement_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="problem_statement_table-created_by_username-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="problem_statement_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="problem_statement_table-last_updated_by_username-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
