<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the problem_statement_table_init() hook (in hooks/problem_statement_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="problem_statement_table-problem_statement_id-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-problem_statement_id text-right text-bold"><%%VALUE(problem_statement_id)%%></td>
		<td id="problem_statement_table-select_program_id-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-select_program_id text-bold"><%%VALUE(select_program_id)%%></td>
		<td id="problem_statement_table-program_description-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-program_description text-bold"><%%VALUE(program_description)%%></td>
		<td id="problem_statement_table-remarks-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-remarks text-bold"><%%VALUE(remarks)%%></td>
		<td id="problem_statement_table-created_by-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="problem_statement_table-created_at-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="problem_statement_table-last_updated_by-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="problem_statement_table-last_updated_at-<%%VALUE(problem_statement_id)%%>" class="problem_statement_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
