		<td colspan="9" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="programs_table-programs_id-caption field-caption-tv">ID</dt>
					<dd id="programs_table-programs_id-<%%VALUE(programs_id)%%>" class="programs_table-programs_id text-right text-bold"><%%VALUE(programs_id)%%></dd>

					<dt class="programs_table-title_of_the_program-caption field-caption-tv">Title of the program</dt>
					<dd id="programs_table-title_of_the_program-<%%VALUE(programs_id)%%>" class="programs_table-title_of_the_program text-bold"><%%VALUE(title_of_the_program)%%></dd>

					<dt class="programs_table-target_startup-caption field-caption-tv">Target startup</dt>
					<dd id="programs_table-target_startup-<%%VALUE(programs_id)%%>" class="programs_table-target_startup text-bold"><%%VALUE(target_startup)%%></dd>

					<dt class="programs_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="programs_table-created_by-<%%VALUE(programs_id)%%>" class="programs_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="programs_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="programs_table-created_at-<%%VALUE(programs_id)%%>" class="programs_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="programs_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="programs_table-last_updated_by-<%%VALUE(programs_id)%%>" class="programs_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="programs_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="programs_table-last_updated_at-<%%VALUE(programs_id)%%>" class="programs_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="programs_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="programs_table-created_by_username-<%%VALUE(programs_id)%%>" class="programs_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="programs_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="programs_table-last_updated_by_username-<%%VALUE(programs_id)%%>" class="programs_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
