		<td colspan="26" class="row">
			<div id="projects-category-<%%VALUE(id)%%>" class="projects-category col-sm-12 h5 text-bold"><%%VALUE(category)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="projects-collaboration_partner_type-caption field-caption-tv">Collaboration Partner Type</dt>
					<dd id="projects-collaboration_partner_type-<%%VALUE(id)%%>" class="projects-collaboration_partner_type text-bold"><%%VALUE(collaboration_partner_type)%%></dd>

					<dt class="projects-collaboration_partner_name-caption field-caption-tv">Collaboration Partner Name</dt>
					<dd id="projects-collaboration_partner_name-<%%VALUE(id)%%>" class="projects-collaboration_partner_name text-bold"><%%VALUE(collaboration_partner_name)%%></dd>

					<dt class="projects-project_title-caption field-caption-tv">Project title</dt>
					<dd id="projects-project_title-<%%VALUE(id)%%>" class="projects-project_title text-bold"><%%VALUE(project_title)%%></dd>

					<dt class="projects-trl_level-caption field-caption-tv">TRL Level</dt>
					<dd id="projects-trl_level-<%%VALUE(id)%%>" class="projects-trl_level text-bold"><%%VALUE(trl_level)%%></dd>

					<dt class="projects-project_status-caption field-caption-tv">Project Status</dt>
					<dd id="projects-project_status-<%%VALUE(id)%%>" class="projects-project_status text-bold"><%%VALUE(project_status)%%></dd>

					<dt class="projects-project_commercialized-caption field-caption-tv">Project Commercialized</dt>
					<dd id="projects-project_commercialized-<%%VALUE(id)%%>" class="projects-project_commercialized text-bold"><%%VALUE(project_commercialized)%%></dd>

					<dt class="projects-brief_of_the_project-caption field-caption-tv">Brief of the Project</dt>
					<dd id="projects-brief_of_the_project-<%%VALUE(id)%%>" class="projects-brief_of_the_project text-bold"><%%VALUE(brief_of_the_project)%%></dd>

					<dt class="projects-commercialization_areas-caption field-caption-tv">Commercialization Areas</dt>
					<dd id="projects-commercialization_areas-<%%VALUE(id)%%>" class="projects-commercialization_areas text-bold"><%%VALUE(commercialization_areas)%%></dd>

					<dt class="projects-targeted_sdg-caption field-caption-tv">Targeted SDG</dt>
					<dd id="projects-targeted_sdg-<%%VALUE(id)%%>" class="projects-targeted_sdg text-bold"><%%VALUE(targeted_sdg)%%></dd>

					<dt class="projects-total_approved_amount-caption field-caption-tv">Total Approved Amount (In INR)</dt>
					<dd id="projects-total_approved_amount-<%%VALUE(id)%%>" class="projects-total_approved_amount text-bold"><%%VALUE(total_approved_amount)%%></dd>

					<dt class="projects-funding_released_2020-caption field-caption-tv">Funding Released 2020-21 (In Lakhs)</dt>
					<dd id="projects-funding_released_2020-<%%VALUE(id)%%>" class="projects-funding_released_2020 text-bold"><%%VALUE(funding_released_2020)%%></dd>

					<dt class="projects-funding_released_2021-caption field-caption-tv">Funding Released 2021-22 (In Lakhs)</dt>
					<dd id="projects-funding_released_2021-<%%VALUE(id)%%>" class="projects-funding_released_2021 text-bold"><%%VALUE(funding_released_2021)%%></dd>

					<dt class="projects-funding_released_2022-caption field-caption-tv">Funding Released 2022-23 (In Lakhs)</dt>
					<dd id="projects-funding_released_2022-<%%VALUE(id)%%>" class="projects-funding_released_2022 text-bold"><%%VALUE(funding_released_2022)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="projects-funding_released_2023-caption field-caption-tv">Funding Released 2023-24 (In Lakhs)</dt>
					<dd id="projects-funding_released_2023-<%%VALUE(id)%%>" class="projects-funding_released_2023 text-bold"><%%VALUE(funding_released_2023)%%></dd>

					<dt class="projects-funding_released_2024-caption field-caption-tv">Funding Released 2024-25 (In Lakhs)</dt>
					<dd id="projects-funding_released_2024-<%%VALUE(id)%%>" class="projects-funding_released_2024 text-bold"><%%VALUE(funding_released_2024)%%></dd>

					<dt class="projects-funding_released_2025-caption field-caption-tv">Funding Released 2025-26 (In Lakhs)</dt>
					<dd id="projects-funding_released_2025-<%%VALUE(id)%%>" class="projects-funding_released_2025 text-bold"><%%VALUE(funding_released_2025)%%></dd>

					<dt class="projects-funding_released_2026-caption field-caption-tv">Funding Released 2026-27 (In Lakhs)</dt>
					<dd id="projects-funding_released_2026-<%%VALUE(id)%%>" class="projects-funding_released_2026 text-bold"><%%VALUE(funding_released_2026)%%></dd>

					<dt class="projects-funding_released_2027-caption field-caption-tv">Funding Released 2027-28(In Lakhs)</dt>
					<dd id="projects-funding_released_2027-<%%VALUE(id)%%>" class="projects-funding_released_2027 text-bold"><%%VALUE(funding_released_2027)%%></dd>

					<dt class="projects-total_value_released-caption field-caption-tv">Total Value Released (In Lakhs)</dt>
					<dd id="projects-total_value_released-<%%VALUE(id)%%>" class="projects-total_value_released text-bold"><%%VALUE(total_value_released)%%></dd>

					<dt class="projects-external_funding_amount-caption field-caption-tv">External Funding Amount (In Lakhs)</dt>
					<dd id="projects-external_funding_amount-<%%VALUE(id)%%>" class="projects-external_funding_amount text-bold"><%%VALUE(external_funding_amount)%%></dd>

					<dt class="projects-remarks-caption field-caption-tv">Remarks</dt>
					<dd id="projects-remarks-<%%VALUE(id)%%>" class="projects-remarks text-bold"><%%VALUE(remarks)%%></dd>

					<dt class="projects-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="projects-created_by_username-<%%VALUE(id)%%>" class="projects-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="projects-created_at-caption field-caption-tv">Created At</dt>
					<dd id="projects-created_at-<%%VALUE(id)%%>" class="projects-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="projects-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="projects-last_updated_by_username-<%%VALUE(id)%%>" class="projects-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="projects-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="projects-last_updated_at-<%%VALUE(id)%%>" class="projects-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
