		<td colspan="14" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="project_details_tdp-id-caption field-caption-tv">ID</dt>
					<dd id="project_details_tdp-id-<%%VALUE(id)%%>" class="project_details_tdp-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="project_details_tdp-project_number-caption field-caption-tv">Project number</dt>
					<dd id="project_details_tdp-project_number-<%%VALUE(id)%%>" class="project_details_tdp-project_number text-bold"><%%VALUE(project_number)%%></dd>

					<dt class="project_details_tdp-stage_1-caption field-caption-tv">Stage 1st (12 Months)</dt>
					<dd id="project_details_tdp-stage_1-<%%VALUE(id)%%>" class="project_details_tdp-stage_1 text-bold"><%%VALUE(stage_1)%%></dd>

					<dt class="project_details_tdp-stage_2-caption field-caption-tv">Stage 2nd (12 Months)</dt>
					<dd id="project_details_tdp-stage_2-<%%VALUE(id)%%>" class="project_details_tdp-stage_2 text-bold"><%%VALUE(stage_2)%%></dd>

					<dt class="project_details_tdp-stage_3-caption field-caption-tv">Stage 3rd (12 Months)</dt>
					<dd id="project_details_tdp-stage_3-<%%VALUE(id)%%>" class="project_details_tdp-stage_3 text-bold"><%%VALUE(stage_3)%%></dd>

					<dt class="project_details_tdp-stage_4-caption field-caption-tv">Stage 4th (12 Months)</dt>
					<dd id="project_details_tdp-stage_4-<%%VALUE(id)%%>" class="project_details_tdp-stage_4 text-bold"><%%VALUE(stage_4)%%></dd>

					<dt class="project_details_tdp-total-caption field-caption-tv">Total in Rs.</dt>
					<dd id="project_details_tdp-total-<%%VALUE(id)%%>" class="project_details_tdp-total text-bold"><%%VALUE(total)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="project_details_tdp-details-caption field-caption-tv">Details</dt>
					<dd id="project_details_tdp-details-<%%VALUE(id)%%>" class="project_details_tdp-details text-bold"><%%VALUE(details)%%></dd>

					<dt class="project_details_tdp-created_by-caption field-caption-tv">Created by</dt>
					<dd id="project_details_tdp-created_by-<%%VALUE(id)%%>" class="project_details_tdp-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="project_details_tdp-created_at-caption field-caption-tv">Created at</dt>
					<dd id="project_details_tdp-created_at-<%%VALUE(id)%%>" class="project_details_tdp-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="project_details_tdp-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="project_details_tdp-last_updated_by-<%%VALUE(id)%%>" class="project_details_tdp-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="project_details_tdp-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="project_details_tdp-last_updated_at-<%%VALUE(id)%%>" class="project_details_tdp-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="project_details_tdp-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="project_details_tdp-created_by_username-<%%VALUE(id)%%>" class="project_details_tdp-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="project_details_tdp-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="project_details_tdp-last_updated_by_username-<%%VALUE(id)%%>" class="project_details_tdp-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
