		<td colspan="14" class="row">
			<div id="r_and_d_progress-id-<%%VALUE(id)%%>" class="r_and_d_progress-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="r_and_d_progress-username-caption field-caption-tv">Username</dt>
					<dd id="r_and_d_progress-username-<%%VALUE(id)%%>" class="r_and_d_progress-username"><%%SELECT%%><%%VALUE(username)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-date-caption field-caption-tv">Date</dt>
					<dd id="r_and_d_progress-date-<%%VALUE(id)%%>" class="r_and_d_progress-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-labs-caption field-caption-tv">Labs</dt>
					<dd id="r_and_d_progress-labs-<%%VALUE(id)%%>" class="r_and_d_progress-labs"><%%SELECT%%><%%VALUE(labs)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-today_progress-caption field-caption-tv">Current Week Progress</dt>
					<dd id="r_and_d_progress-today_progress-<%%VALUE(id)%%>" class="r_and_d_progress-today_progress"><%%SELECT%%><%%VALUE(today_progress)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-tomorrow_plan-caption field-caption-tv">Next Week Plan</dt>
					<dd id="r_and_d_progress-tomorrow_plan-<%%VALUE(id)%%>" class="r_and_d_progress-tomorrow_plan"><%%SELECT%%><%%VALUE(tomorrow_plan)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-ceo_remarks-caption field-caption-tv">CEO Remarks</dt>
					<dd id="r_and_d_progress-ceo_remarks-<%%VALUE(id)%%>" class="r_and_d_progress-ceo_remarks"><%%SELECT%%><%%VALUE(ceo_remarks)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-pd_remarks-caption field-caption-tv">PD Remarks</dt>
					<dd id="r_and_d_progress-pd_remarks-<%%VALUE(id)%%>" class="r_and_d_progress-pd_remarks"><%%SELECT%%><%%VALUE(pd_remarks)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="r_and_d_progress-created_by-caption field-caption-tv">Created by</dt>
					<dd id="r_and_d_progress-created_by-<%%VALUE(id)%%>" class="r_and_d_progress-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-created_at-caption field-caption-tv">Created at</dt>
					<dd id="r_and_d_progress-created_at-<%%VALUE(id)%%>" class="r_and_d_progress-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="r_and_d_progress-last_updated_by-<%%VALUE(id)%%>" class="r_and_d_progress-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="r_and_d_progress-last_updated_at-<%%VALUE(id)%%>" class="r_and_d_progress-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="r_and_d_progress-created_by_username-<%%VALUE(id)%%>" class="r_and_d_progress-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="r_and_d_progress-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="r_and_d_progress-last_updated_by_username-<%%VALUE(id)%%>" class="r_and_d_progress-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
