		<td colspan="14" class="row">
			<div id="r_and_d_progress-id-<%%VALUE(id)%%>" class="r_and_d_progress-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="r_and_d_progress-username-caption field-caption-tv">Username</dt>
					<dd id="r_and_d_progress-username-<%%VALUE(id)%%>" class="r_and_d_progress-username text-bold"><%%VALUE(username)%%></dd>

					<dt class="r_and_d_progress-date-caption field-caption-tv">Date</dt>
					<dd id="r_and_d_progress-date-<%%VALUE(id)%%>" class="r_and_d_progress-date text-bold"><%%VALUE(date)%%></dd>

					<dt class="r_and_d_progress-labs-caption field-caption-tv">Labs</dt>
					<dd id="r_and_d_progress-labs-<%%VALUE(id)%%>" class="r_and_d_progress-labs text-bold"><%%VALUE(labs)%%></dd>

					<dt class="r_and_d_progress-today_progress-caption field-caption-tv">Current Week Progress</dt>
					<dd id="r_and_d_progress-today_progress-<%%VALUE(id)%%>" class="r_and_d_progress-today_progress text-bold"><%%VALUE(today_progress)%%></dd>

					<dt class="r_and_d_progress-tomorrow_plan-caption field-caption-tv">Next Week Plan</dt>
					<dd id="r_and_d_progress-tomorrow_plan-<%%VALUE(id)%%>" class="r_and_d_progress-tomorrow_plan text-bold"><%%VALUE(tomorrow_plan)%%></dd>

					<dt class="r_and_d_progress-ceo_remarks-caption field-caption-tv">CEO Remarks</dt>
					<dd id="r_and_d_progress-ceo_remarks-<%%VALUE(id)%%>" class="r_and_d_progress-ceo_remarks text-bold"><%%VALUE(ceo_remarks)%%></dd>

					<dt class="r_and_d_progress-pd_remarks-caption field-caption-tv">PD Remarks</dt>
					<dd id="r_and_d_progress-pd_remarks-<%%VALUE(id)%%>" class="r_and_d_progress-pd_remarks text-bold"><%%VALUE(pd_remarks)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="r_and_d_progress-created_by-caption field-caption-tv">Created by</dt>
					<dd id="r_and_d_progress-created_by-<%%VALUE(id)%%>" class="r_and_d_progress-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="r_and_d_progress-created_at-caption field-caption-tv">Created at</dt>
					<dd id="r_and_d_progress-created_at-<%%VALUE(id)%%>" class="r_and_d_progress-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="r_and_d_progress-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="r_and_d_progress-last_updated_by-<%%VALUE(id)%%>" class="r_and_d_progress-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="r_and_d_progress-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="r_and_d_progress-last_updated_at-<%%VALUE(id)%%>" class="r_and_d_progress-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="r_and_d_progress-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="r_and_d_progress-created_by_username-<%%VALUE(id)%%>" class="r_and_d_progress-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="r_and_d_progress-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="r_and_d_progress-last_updated_by_username-<%%VALUE(id)%%>" class="r_and_d_progress-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
