<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: District name -->
		<div class="form-group school_list-district_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">District name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(district_name)%%></div>
			</div>
		</div>
		<!-- Field: School code -->
		<div class="form-group school_list-school_code" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">School code</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(school_code)%%></div>
			</div>
		</div>
		<!-- Field: School name -->
		<div class="form-group school_list-school_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">School name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(school_name)%%></div>
			</div>
		</div>
		<!-- Field: Pincode -->
		<div class="form-group school_list-pincode" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Pincode</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(pincode)%%></div>
			</div>
		</div>
		<!-- Field: School type -->
		<div class="form-group school_list-school_type" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">School type</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(school_type)%%></div>
			</div>
		</div>
		<!-- Field: School phone number -->
		<div class="form-group school_list-school_phone_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">School phone number</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(school_phone_number)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group school_list-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group school_list-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
