<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Project ID::Title -->
		<div class="form-group selected_tdp-project_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Project ID::Title</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="project_id<%%RND1%%>"><%%COMBOTEXT(project_id)%%></span></div>
			</div>
		</div>
		<!-- Field: Project title -->
		<div class="form-group selected_tdp-project_title" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Project title</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(project_title)%%></div>
			</div>
		</div>
		<!-- Field: Name of PI -->
		<div class="form-group selected_tdp-name_of_pi" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Name of PI</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(name_of_pi)%%></div>
			</div>
		</div>
		<!-- Field: Institute -->
		<div class="form-group selected_tdp-institute" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Institute</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(institute)%%></div>
			</div>
		</div>
		<!-- Field: Budget in Rs. -->
		<div class="form-group selected_tdp-budget" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Budget in Rs.</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(budget)%%></div>
			</div>
		</div>
		<!-- Field: Decision -->
		<div class="form-group selected_tdp-decision" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Decision</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(decision)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group selected_tdp-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group selected_tdp-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
