		<td colspan="26" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="shortlisted_startups_for_fund_table-id-caption field-caption-tv">ID</dt>
					<dd id="shortlisted_startups_for_fund_table-id-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-startup-caption field-caption-tv">Select startup</dt>
					<dd id="shortlisted_startups_for_fund_table-startup-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-startup text-bold"><%%VALUE(startup)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-scheme-caption field-caption-tv">Scheme</dt>
					<dd id="shortlisted_startups_for_fund_table-scheme-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-scheme text-bold"><%%VALUE(scheme)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-recommended_fund-caption field-caption-tv">Recommended fund (in Lakhs INR)</dt>
					<dd id="shortlisted_startups_for_fund_table-recommended_fund-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-recommended_fund text-bold"><%%VALUE(recommended_fund)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-name_of_founder-caption field-caption-tv">Name of founder</dt>
					<dd id="shortlisted_startups_for_fund_table-name_of_founder-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-name_of_founder text-bold"><%%VALUE(name_of_founder)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-email_of_founder-caption field-caption-tv">Email of founder</dt>
					<dd id="shortlisted_startups_for_fund_table-email_of_founder-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-email_of_founder text-bold"><%%VALUE(email_of_founder)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-phone_number_of_founder-caption field-caption-tv">Phone number of founder</dt>
					<dd id="shortlisted_startups_for_fund_table-phone_number_of_founder-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-phone_number_of_founder text-bold"><%%VALUE(phone_number_of_founder)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-due_diligence_start-caption field-caption-tv">Due diligence start</dt>
					<dd id="shortlisted_startups_for_fund_table-due_diligence_start-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-due_diligence_start text-bold"><%%VALUE(due_diligence_start)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-terms_agreed-caption field-caption-tv">Terms agreed</dt>
					<dd id="shortlisted_startups_for_fund_table-terms_agreed-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-terms_agreed text-bold"><%%VALUE(terms_agreed)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-grant_amount-caption field-caption-tv">Grant amount (in INR)</dt>
					<dd id="shortlisted_startups_for_fund_table-grant_amount-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-grant_amount text-bold"><%%VALUE(grant_amount)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-debt_amount-caption field-caption-tv">Debt amount (in INR)</dt>
					<dd id="shortlisted_startups_for_fund_table-debt_amount-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-debt_amount text-bold"><%%VALUE(debt_amount)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-ocd_or_ccd_amount-caption field-caption-tv">OCD/CCD Amount (in INR)</dt>
					<dd id="shortlisted_startups_for_fund_table-ocd_or_ccd_amount-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-ocd_or_ccd_amount text-bold"><%%VALUE(ocd_or_ccd_amount)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-equity_amount-caption field-caption-tv">Equity amount (in INR)</dt>
					<dd id="shortlisted_startups_for_fund_table-equity_amount-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-equity_amount text-bold"><%%VALUE(equity_amount)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="shortlisted_startups_for_fund_table-interest_rate-caption field-caption-tv">Interest rate (in %)</dt>
					<dd id="shortlisted_startups_for_fund_table-interest_rate-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-interest_rate text-bold"><%%VALUE(interest_rate)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-period-caption field-caption-tv">Period (in Years)</dt>
					<dd id="shortlisted_startups_for_fund_table-period-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-period text-right text-bold"><%%VALUE(period)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-conversion_formula-caption field-caption-tv">Conversion formula</dt>
					<dd id="shortlisted_startups_for_fund_table-conversion_formula-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-conversion_formula text-bold"><%%VALUE(conversion_formula)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-equity_diluted-caption field-caption-tv">Equity diluted (in %)</dt>
					<dd id="shortlisted_startups_for_fund_table-equity_diluted-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-equity_diluted text-bold"><%%VALUE(equity_diluted)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-comments-caption field-caption-tv">Comments</dt>
					<dd id="shortlisted_startups_for_fund_table-comments-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-comments text-bold"><%%VALUE(comments)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-remarks_1-caption field-caption-tv">Remarks 1</dt>
					<dd id="shortlisted_startups_for_fund_table-remarks_1-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-remarks_1 text-bold"><%%VALUE(remarks_1)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-remarks_2-caption field-caption-tv">Remarks 2</dt>
					<dd id="shortlisted_startups_for_fund_table-remarks_2-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-remarks_2 text-bold"><%%VALUE(remarks_2)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="shortlisted_startups_for_fund_table-created_by-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="shortlisted_startups_for_fund_table-created_at-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="shortlisted_startups_for_fund_table-last_updated_by-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="shortlisted_startups_for_fund_table-last_updated_at-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="shortlisted_startups_for_fund_table-created_by_username-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="shortlisted_startups_for_fund_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="shortlisted_startups_for_fund_table-last_updated_by_username-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
