<!-- To change the layout of the detail view form, we recommend using JS code in hooks/shortlisted_startups_for_fund_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="shortlisted_startups_for_fund_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="shortlisted_startups_for_fund_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="shortlisted_startups_for_fund_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Select startup -->
				<div class="form-group shortlisted_startups_for_fund_table-startup">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="startup" data-parent_link="view_parent_modal">Select startup</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(startup)%%><%%PLINK(startup)%%><%%ADDNEW(all_startup_data_table)%%></div>
					</div>
				</div>

				<!-- Field: Scheme -->
				<div class="form-group shortlisted_startups_for_fund_table-scheme">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="scheme">Scheme</label>
					<div class="col-lg-9">
						<%%COMBO(scheme)%%>
					</div>
				</div>

				<!-- Field: Recommended fund (in Lakhs INR) -->
				<div class="form-group shortlisted_startups_for_fund_table-recommended_fund">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="recommended_fund">Recommended fund (in Lakhs INR)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="recommended_fund" id="recommended_fund" value="<%%VALUE(recommended_fund)%%>">
					</div>
				</div>

				<!-- Field: Name of founder -->
				<div class="form-group shortlisted_startups_for_fund_table-name_of_founder">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="name_of_founder">Name of founder</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="name_of_founder" id="name_of_founder" value="<%%VALUE(name_of_founder)%%>">
					</div>
				</div>

				<!-- Field: Email of founder -->
				<div class="form-group shortlisted_startups_for_fund_table-email_of_founder">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email_of_founder">Email of founder</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="email_of_founder" id="email_of_founder" value="<%%VALUE(email_of_founder)%%>">
					</div>
				</div>

				<!-- Field: Phone number of founder -->
				<div class="form-group shortlisted_startups_for_fund_table-phone_number_of_founder">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="phone_number_of_founder">Phone number of founder</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="phone_number_of_founder" id="phone_number_of_founder" value="<%%VALUE(phone_number_of_founder)%%>">
					</div>
				</div>

				<!-- Field: Due diligence start -->
				<div class="form-group shortlisted_startups_for_fund_table-due_diligence_start">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="due_diligence_start">Due diligence start</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="due_diligence_start" id="due_diligence_start" value="<%%VALUE(due_diligence_start)%%>">
					</div>
				</div>

				<!-- Field: Terms agreed -->
				<div class="form-group shortlisted_startups_for_fund_table-terms_agreed">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="terms_agreed">Terms agreed</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="terms_agreed" id="terms_agreed" value="<%%VALUE(terms_agreed)%%>">
					</div>
				</div>

				<!-- Field: Grant amount (in INR) -->
				<div class="form-group shortlisted_startups_for_fund_table-grant_amount">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="grant_amount">Grant amount (in INR)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="grant_amount" id="grant_amount" value="<%%VALUE(grant_amount)%%>">
					</div>
				</div>

				<!-- Field: Debt amount (in INR) -->
				<div class="form-group shortlisted_startups_for_fund_table-debt_amount">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="debt_amount">Debt amount (in INR)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="debt_amount" id="debt_amount" value="<%%VALUE(debt_amount)%%>">
					</div>
				</div>

				<!-- Field: OCD/CCD Amount (in INR) -->
				<div class="form-group shortlisted_startups_for_fund_table-ocd_or_ccd_amount">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ocd_or_ccd_amount">OCD/CCD Amount (in INR)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="ocd_or_ccd_amount" id="ocd_or_ccd_amount" value="<%%VALUE(ocd_or_ccd_amount)%%>">
					</div>
				</div>

				<!-- Field: Equity amount (in INR) -->
				<div class="form-group shortlisted_startups_for_fund_table-equity_amount">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="equity_amount">Equity amount (in INR)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="equity_amount" id="equity_amount" value="<%%VALUE(equity_amount)%%>">
					</div>
				</div>

				<!-- Field: Interest rate (in %) -->
				<div class="form-group shortlisted_startups_for_fund_table-interest_rate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="interest_rate">Interest rate (in %)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="interest_rate" id="interest_rate" value="<%%VALUE(interest_rate)%%>">
					</div>
				</div>

				<!-- Field: Period (in Years) -->
				<div class="form-group shortlisted_startups_for_fund_table-period">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="period">Period (in Years)</label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="period" id="period" value="<%%VALUE(period)%%>">
					</div>
				</div>

				<!-- Field: Conversion formula -->
				<div class="form-group shortlisted_startups_for_fund_table-conversion_formula">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="conversion_formula">Conversion formula</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="conversion_formula" id="conversion_formula" value="<%%VALUE(conversion_formula)%%>">
					</div>
				</div>

				<!-- Field: Equity diluted (in %) -->
				<div class="form-group shortlisted_startups_for_fund_table-equity_diluted">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="equity_diluted">Equity diluted (in %)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="equity_diluted" id="equity_diluted" value="<%%VALUE(equity_diluted)%%>">
					</div>
				</div>

				<!-- Field: Comments -->
				<div class="form-group shortlisted_startups_for_fund_table-comments">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="comments">Comments</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="comments" id="comments" rows=" 5"><%%VALUE(comments)%%></textarea>
					</div>
				</div>

				<!-- Field: Remarks 1 -->
				<div class="form-group shortlisted_startups_for_fund_table-remarks_1">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="remarks_1">Remarks 1</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="remarks_1" id="remarks_1" rows=" 5"><%%VALUE(remarks_1)%%></textarea>
					</div>
				</div>

				<!-- Field: Remarks 2 -->
				<div class="form-group shortlisted_startups_for_fund_table-remarks_2">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="remarks_2">Remarks 2</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="remarks_2" id="remarks_2" rows=" 5"><%%VALUE(remarks_2)%%></textarea>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group shortlisted_startups_for_fund_table-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group shortlisted_startups_for_fund_table-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="shortlisted_startups_for_fund_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.shortlisted_startups_for_fund_table-startup')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#shortlisted_startups_for_fund_table_dv_container-loading').addClass('hidden');
						$j('#shortlisted_startups_for_fund_table_dv_container').removeClass('hidden');
						AppGini.focusFormElement('shortlisted_startups_for_fund_table', 'startup');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#shortlisted_startups_for_fund_table_dv_container-loading').addClass('hidden');
				$j('#shortlisted_startups_for_fund_table_dv_container').removeClass('hidden');
			}

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			shortlisted_startups_for_fund_tableUniqueFields.forEach(fieldName => enforce_uniqueness('shortlisted_startups_for_fund_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=shortlisted_startups_for_fund_table&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=shortlisted_startups_for_fund_table&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var shortlisted_startups_for_fund_tableUniqueFields = [
		];
	</script>