<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the shortlisted_startups_for_fund_table_init() hook (in hooks/shortlisted_startups_for_fund_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="shortlisted_startups_for_fund_table-id-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="shortlisted_startups_for_fund_table-startup-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-startup text-bold"><%%VALUE(startup)%%></td>
		<td id="shortlisted_startups_for_fund_table-scheme-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-scheme text-bold"><%%VALUE(scheme)%%></td>
		<td id="shortlisted_startups_for_fund_table-recommended_fund-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-recommended_fund text-bold"><%%VALUE(recommended_fund)%%></td>
		<td id="shortlisted_startups_for_fund_table-name_of_founder-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-name_of_founder text-bold"><%%VALUE(name_of_founder)%%></td>
		<td id="shortlisted_startups_for_fund_table-email_of_founder-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-email_of_founder text-bold"><%%VALUE(email_of_founder)%%></td>
		<td id="shortlisted_startups_for_fund_table-phone_number_of_founder-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-phone_number_of_founder text-bold"><%%VALUE(phone_number_of_founder)%%></td>
		<td id="shortlisted_startups_for_fund_table-due_diligence_start-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-due_diligence_start text-bold"><%%VALUE(due_diligence_start)%%></td>
		<td id="shortlisted_startups_for_fund_table-terms_agreed-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-terms_agreed text-bold"><%%VALUE(terms_agreed)%%></td>
		<td id="shortlisted_startups_for_fund_table-grant_amount-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-grant_amount text-bold"><%%VALUE(grant_amount)%%></td>
		<td id="shortlisted_startups_for_fund_table-debt_amount-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-debt_amount text-bold"><%%VALUE(debt_amount)%%></td>
		<td id="shortlisted_startups_for_fund_table-ocd_or_ccd_amount-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-ocd_or_ccd_amount text-bold"><%%VALUE(ocd_or_ccd_amount)%%></td>
		<td id="shortlisted_startups_for_fund_table-equity_amount-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-equity_amount text-bold"><%%VALUE(equity_amount)%%></td>
		<td id="shortlisted_startups_for_fund_table-interest_rate-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-interest_rate text-bold"><%%VALUE(interest_rate)%%></td>
		<td id="shortlisted_startups_for_fund_table-period-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-period text-right text-bold"><%%VALUE(period)%%></td>
		<td id="shortlisted_startups_for_fund_table-conversion_formula-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-conversion_formula text-bold"><%%VALUE(conversion_formula)%%></td>
		<td id="shortlisted_startups_for_fund_table-equity_diluted-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-equity_diluted text-bold"><%%VALUE(equity_diluted)%%></td>
		<td id="shortlisted_startups_for_fund_table-comments-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-comments text-bold"><%%VALUE(comments)%%></td>
		<td id="shortlisted_startups_for_fund_table-remarks_1-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-remarks_1 text-bold"><%%VALUE(remarks_1)%%></td>
		<td id="shortlisted_startups_for_fund_table-remarks_2-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-remarks_2 text-bold"><%%VALUE(remarks_2)%%></td>
		<td id="shortlisted_startups_for_fund_table-created_by-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="shortlisted_startups_for_fund_table-created_at-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="shortlisted_startups_for_fund_table-last_updated_by-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="shortlisted_startups_for_fund_table-last_updated_at-<%%VALUE(id)%%>" class="shortlisted_startups_for_fund_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
