		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="space_day_school_details_app-id-caption field-caption-tv">ID</dt>
					<dd id="space_day_school_details_app-id-<%%VALUE(id)%%>" class="space_day_school_details_app-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="space_day_school_details_app-school_name-caption field-caption-tv">School name</dt>
					<dd id="space_day_school_details_app-school_name-<%%VALUE(id)%%>" class="space_day_school_details_app-school_name text-bold"><%%VALUE(school_name)%%></dd>

					<dt class="space_day_school_details_app-profile_type-caption field-caption-tv">Profile type</dt>
					<dd id="space_day_school_details_app-profile_type-<%%VALUE(id)%%>" class="space_day_school_details_app-profile_type text-bold"><%%VALUE(profile_type)%%></dd>

					<dt class="space_day_school_details_app-name_of_student_teacher-caption field-caption-tv">Name of Student/Teacher</dt>
					<dd id="space_day_school_details_app-name_of_student_teacher-<%%VALUE(id)%%>" class="space_day_school_details_app-name_of_student_teacher text-bold"><%%VALUE(name_of_student_teacher)%%></dd>

					<dt class="space_day_school_details_app-gender-caption field-caption-tv">Gender</dt>
					<dd id="space_day_school_details_app-gender-<%%VALUE(id)%%>" class="space_day_school_details_app-gender text-bold"><%%VALUE(gender)%%></dd>

					<dt class="space_day_school_details_app-class_subject-caption field-caption-tv">Class(If student) / Subject Handled (If Teacher)</dt>
					<dd id="space_day_school_details_app-class_subject-<%%VALUE(id)%%>" class="space_day_school_details_app-class_subject text-bold"><%%VALUE(class_subject)%%></dd>

					<dt class="space_day_school_details_app-contact_number-caption field-caption-tv">Contact number</dt>
					<dd id="space_day_school_details_app-contact_number-<%%VALUE(id)%%>" class="space_day_school_details_app-contact_number text-bold"><%%VALUE(contact_number)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="space_day_school_details_app-created_by-caption field-caption-tv">Created By</dt>
					<dd id="space_day_school_details_app-created_by-<%%VALUE(id)%%>" class="space_day_school_details_app-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="space_day_school_details_app-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="space_day_school_details_app-last_updated_by-<%%VALUE(id)%%>" class="space_day_school_details_app-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="space_day_school_details_app-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="space_day_school_details_app-created_by_username-<%%VALUE(id)%%>" class="space_day_school_details_app-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="space_day_school_details_app-created_at-caption field-caption-tv">Created At</dt>
					<dd id="space_day_school_details_app-created_at-<%%VALUE(id)%%>" class="space_day_school_details_app-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="space_day_school_details_app-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="space_day_school_details_app-last_updated_by_username-<%%VALUE(id)%%>" class="space_day_school_details_app-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="space_day_school_details_app-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="space_day_school_details_app-last_updated_at-<%%VALUE(id)%%>" class="space_day_school_details_app-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
