<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the space_day_college_student_table_init() hook (in hooks/space_day_college_student_table.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="space_day_college_student_table-id-<%%VALUE(id)%%>" class="space_day_college_student_table-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="space_day_college_student_table-name_of_student-<%%VALUE(id)%%>" class="space_day_college_student_table-name_of_student text-bold"><%%VALUE(name_of_student)%%></td>
		<td id="space_day_college_student_table-registration_number-<%%VALUE(id)%%>" class="space_day_college_student_table-registration_number text-bold"><%%VALUE(registration_number)%%></td>
		<td id="space_day_college_student_table-degree_department-<%%VALUE(id)%%>" class="space_day_college_student_table-degree_department text-bold"><%%VALUE(degree_department)%%></td>
		<td id="space_day_college_student_table-gender-<%%VALUE(id)%%>" class="space_day_college_student_table-gender text-bold"><%%VALUE(gender)%%></td>
		<td id="space_day_college_student_table-home_address-<%%VALUE(id)%%>" class="space_day_college_student_table-home_address text-bold"><%%VALUE(home_address)%%></td>
		<td id="space_day_college_student_table-email_id-<%%VALUE(id)%%>" class="space_day_college_student_table-email_id text-bold"><%%VALUE(email_id)%%></td>
		<td id="space_day_college_student_table-contact_number-<%%VALUE(id)%%>" class="space_day_college_student_table-contact_number text-bold"><%%VALUE(contact_number)%%></td>
		<td id="space_day_college_student_table-interest-<%%VALUE(id)%%>" class="space_day_college_student_table-interest text-bold"><%%VALUE(interest)%%></td>
		<td id="space_day_college_student_table-college_name-<%%VALUE(id)%%>" class="space_day_college_student_table-college_name text-bold"><%%VALUE(college_name)%%></td>
		<td id="space_day_college_student_table-created_by-<%%VALUE(id)%%>" class="space_day_college_student_table-created_by text-bold"><%%VALUE(created_by)%%></td>
		<td id="space_day_college_student_table-created_at-<%%VALUE(id)%%>" class="space_day_college_student_table-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="space_day_college_student_table-last_updated_by-<%%VALUE(id)%%>" class="space_day_college_student_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></td>
		<td id="space_day_college_student_table-last_updated_at-<%%VALUE(id)%%>" class="space_day_college_student_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
