		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="space_day_school_details_app-id-caption field-caption-tv">ID</dt>
					<dd id="space_day_school_details_app-id-<%%VALUE(id)%%>" class="space_day_school_details_app-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-school_name-caption field-caption-tv">School name</dt>
					<dd id="space_day_school_details_app-school_name-<%%VALUE(id)%%>" class="space_day_school_details_app-school_name"><%%SELECT%%><%%VALUE(school_name)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-profile_type-caption field-caption-tv">Profile type</dt>
					<dd id="space_day_school_details_app-profile_type-<%%VALUE(id)%%>" class="space_day_school_details_app-profile_type"><%%SELECT%%><%%VALUE(profile_type)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-name_of_student_teacher-caption field-caption-tv">Name of Student/Teacher</dt>
					<dd id="space_day_school_details_app-name_of_student_teacher-<%%VALUE(id)%%>" class="space_day_school_details_app-name_of_student_teacher"><%%SELECT%%><%%VALUE(name_of_student_teacher)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-gender-caption field-caption-tv">Gender</dt>
					<dd id="space_day_school_details_app-gender-<%%VALUE(id)%%>" class="space_day_school_details_app-gender"><%%SELECT%%><%%VALUE(gender)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-class_subject-caption field-caption-tv">Class(If student) / Subject Handled (If Teacher)</dt>
					<dd id="space_day_school_details_app-class_subject-<%%VALUE(id)%%>" class="space_day_school_details_app-class_subject"><%%SELECT%%><%%VALUE(class_subject)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-contact_number-caption field-caption-tv">Contact number</dt>
					<dd id="space_day_school_details_app-contact_number-<%%VALUE(id)%%>" class="space_day_school_details_app-contact_number"><%%SELECT%%><%%VALUE(contact_number)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="space_day_school_details_app-created_by-caption field-caption-tv">Created By</dt>
					<dd id="space_day_school_details_app-created_by-<%%VALUE(id)%%>" class="space_day_school_details_app-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="space_day_school_details_app-last_updated_by-<%%VALUE(id)%%>" class="space_day_school_details_app-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="space_day_school_details_app-created_by_username-<%%VALUE(id)%%>" class="space_day_school_details_app-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-created_at-caption field-caption-tv">Created At</dt>
					<dd id="space_day_school_details_app-created_at-<%%VALUE(id)%%>" class="space_day_school_details_app-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="space_day_school_details_app-last_updated_by_username-<%%VALUE(id)%%>" class="space_day_school_details_app-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="space_day_school_details_app-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="space_day_school_details_app-last_updated_at-<%%VALUE(id)%%>" class="space_day_school_details_app-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
