		<td colspan="21" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="stage_wise_budget_table_tdp-id-caption field-caption-tv">ID</dt>
					<dd id="stage_wise_budget_table_tdp-id-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="stage_wise_budget_table_tdp-project_id-caption field-caption-tv">Project ID::Title</dt>
					<dd id="stage_wise_budget_table_tdp-project_id-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-project_id text-bold"><%%VALUE(project_id)%%></dd>

					<dt class="stage_wise_budget_table_tdp-project_title-caption field-caption-tv">Project title</dt>
					<dd id="stage_wise_budget_table_tdp-project_title-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-project_title text-bold"><%%VALUE(project_title)%%></dd>

					<dt class="stage_wise_budget_table_tdp-name_of_pi-caption field-caption-tv">Name of PI</dt>
					<dd id="stage_wise_budget_table_tdp-name_of_pi-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-name_of_pi text-bold"><%%VALUE(name_of_pi)%%></dd>

					<dt class="stage_wise_budget_table_tdp-mobile_number-caption field-caption-tv">Mobile number</dt>
					<dd id="stage_wise_budget_table_tdp-mobile_number-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-mobile_number text-bold"><%%VALUE(mobile_number)%%></dd>

					<dt class="stage_wise_budget_table_tdp-institute-caption field-caption-tv">Institute</dt>
					<dd id="stage_wise_budget_table_tdp-institute-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-institute text-bold"><%%VALUE(institute)%%></dd>

					<dt class="stage_wise_budget_table_tdp-duration_in_months-caption field-caption-tv">Duration in months</dt>
					<dd id="stage_wise_budget_table_tdp-duration_in_months-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-duration_in_months text-bold"><%%VALUE(duration_in_months)%%></dd>

					<dt class="stage_wise_budget_table_tdp-total_budget_specified-caption field-caption-tv">Budget specified in Rs.</dt>
					<dd id="stage_wise_budget_table_tdp-total_budget_specified-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-total_budget_specified text-bold"><%%VALUE(total_budget_specified)%%></dd>

					<dt class="stage_wise_budget_table_tdp-first_phase-caption field-caption-tv">First phase</dt>
					<dd id="stage_wise_budget_table_tdp-first_phase-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-first_phase text-bold"><%%VALUE(first_phase)%%></dd>

					<dt class="stage_wise_budget_table_tdp-second_phase-caption field-caption-tv">Second phase</dt>
					<dd id="stage_wise_budget_table_tdp-second_phase-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-second_phase text-bold"><%%VALUE(second_phase)%%></dd>

					<dt class="stage_wise_budget_table_tdp-third_phase-caption field-caption-tv">Third phase</dt>
					<dd id="stage_wise_budget_table_tdp-third_phase-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-third_phase text-bold"><%%VALUE(third_phase)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="stage_wise_budget_table_tdp-fourth_phase-caption field-caption-tv">Fourth phase</dt>
					<dd id="stage_wise_budget_table_tdp-fourth_phase-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-fourth_phase text-bold"><%%VALUE(fourth_phase)%%></dd>

					<dt class="stage_wise_budget_table_tdp-total-caption field-caption-tv">Total</dt>
					<dd id="stage_wise_budget_table_tdp-total-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-total text-bold"><%%VALUE(total)%%></dd>

					<dt class="stage_wise_budget_table_tdp-final_budget_to_be_allocated-caption field-caption-tv">Final budget to be allocated Rs.</dt>
					<dd id="stage_wise_budget_table_tdp-final_budget_to_be_allocated-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-final_budget_to_be_allocated text-bold"><%%VALUE(final_budget_to_be_allocated)%%></dd>

					<dt class="stage_wise_budget_table_tdp-proposal_link-caption field-caption-tv">Proposal link</dt>
					<dd id="stage_wise_budget_table_tdp-proposal_link-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-proposal_link text-bold"><%%VALUE(proposal_link)%%></dd>

					<dt class="stage_wise_budget_table_tdp-created_by-caption field-caption-tv">Created by</dt>
					<dd id="stage_wise_budget_table_tdp-created_by-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="stage_wise_budget_table_tdp-created_at-caption field-caption-tv">Created at</dt>
					<dd id="stage_wise_budget_table_tdp-created_at-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="stage_wise_budget_table_tdp-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="stage_wise_budget_table_tdp-last_updated_by-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="stage_wise_budget_table_tdp-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="stage_wise_budget_table_tdp-last_updated_at-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="stage_wise_budget_table_tdp-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="stage_wise_budget_table_tdp-created_by_username-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="stage_wise_budget_table_tdp-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="stage_wise_budget_table_tdp-last_updated_by_username-<%%VALUE(id)%%>" class="stage_wise_budget_table_tdp-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
