		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="star_pnt-id-caption field-caption-tv">ID</dt>
					<dd id="star_pnt-id-<%%VALUE(id)%%>" class="star_pnt-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="star_pnt-iittnif_id-caption field-caption-tv">IITTNiF id</dt>
					<dd id="star_pnt-iittnif_id-<%%VALUE(id)%%>" class="star_pnt-iittnif_id text-bold"><%%VALUE(iittnif_id)%%></dd>

					<dt class="star_pnt-name_of_the_candidate-caption field-caption-tv">Name of the Candidate</dt>
					<dd id="star_pnt-name_of_the_candidate-<%%VALUE(id)%%>" class="star_pnt-name_of_the_candidate text-bold"><%%VALUE(name_of_the_candidate)%%></dd>

					<dt class="star_pnt-institute-caption field-caption-tv">Institute</dt>
					<dd id="star_pnt-institute-<%%VALUE(id)%%>" class="star_pnt-institute text-bold"><%%VALUE(institute)%%></dd>

					<dt class="star_pnt-workspace-caption field-caption-tv">Workspace</dt>
					<dd id="star_pnt-workspace-<%%VALUE(id)%%>" class="star_pnt-workspace text-bold"><%%VALUE(workspace)%%></dd>

					<dt class="star_pnt-year_and_department-caption field-caption-tv">Year and department</dt>
					<dd id="star_pnt-year_and_department-<%%VALUE(id)%%>" class="star_pnt-year_and_department text-bold"><%%VALUE(year_and_department)%%></dd>

					<dt class="star_pnt-project_title-caption field-caption-tv">Project title</dt>
					<dd id="star_pnt-project_title-<%%VALUE(id)%%>" class="star_pnt-project_title text-bold"><%%VALUE(project_title)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="star_pnt-created_by-caption field-caption-tv">Created By</dt>
					<dd id="star_pnt-created_by-<%%VALUE(id)%%>" class="star_pnt-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="star_pnt-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="star_pnt-last_updated_by-<%%VALUE(id)%%>" class="star_pnt-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="star_pnt-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="star_pnt-created_by_username-<%%VALUE(id)%%>" class="star_pnt-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="star_pnt-created_at-caption field-caption-tv">Created At</dt>
					<dd id="star_pnt-created_at-<%%VALUE(id)%%>" class="star_pnt-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="star_pnt-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="star_pnt-last_updated_by_username-<%%VALUE(id)%%>" class="star_pnt-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="star_pnt-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="star_pnt-last_updated_at-<%%VALUE(id)%%>" class="star_pnt-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
