		<td colspan="13" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="star_pnt-id-caption field-caption-tv">ID</dt>
					<dd id="star_pnt-id-<%%VALUE(id)%%>" class="star_pnt-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-iittnif_id-caption field-caption-tv">IITTNiF id</dt>
					<dd id="star_pnt-iittnif_id-<%%VALUE(id)%%>" class="star_pnt-iittnif_id"><%%SELECT%%><%%VALUE(iittnif_id)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-name_of_the_candidate-caption field-caption-tv">Name of the Candidate</dt>
					<dd id="star_pnt-name_of_the_candidate-<%%VALUE(id)%%>" class="star_pnt-name_of_the_candidate"><%%SELECT%%><%%VALUE(name_of_the_candidate)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-institute-caption field-caption-tv">Institute</dt>
					<dd id="star_pnt-institute-<%%VALUE(id)%%>" class="star_pnt-institute"><%%SELECT%%><%%VALUE(institute)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-workspace-caption field-caption-tv">Workspace</dt>
					<dd id="star_pnt-workspace-<%%VALUE(id)%%>" class="star_pnt-workspace"><%%SELECT%%><%%VALUE(workspace)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-year_and_department-caption field-caption-tv">Year and department</dt>
					<dd id="star_pnt-year_and_department-<%%VALUE(id)%%>" class="star_pnt-year_and_department"><%%SELECT%%><%%VALUE(year_and_department)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-project_title-caption field-caption-tv">Project title</dt>
					<dd id="star_pnt-project_title-<%%VALUE(id)%%>" class="star_pnt-project_title"><%%SELECT%%><%%VALUE(project_title)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="star_pnt-created_by-caption field-caption-tv">Created By</dt>
					<dd id="star_pnt-created_by-<%%VALUE(id)%%>" class="star_pnt-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="star_pnt-last_updated_by-<%%VALUE(id)%%>" class="star_pnt-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="star_pnt-created_by_username-<%%VALUE(id)%%>" class="star_pnt-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-created_at-caption field-caption-tv">Created At</dt>
					<dd id="star_pnt-created_at-<%%VALUE(id)%%>" class="star_pnt-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="star_pnt-last_updated_by_username-<%%VALUE(id)%%>" class="star_pnt-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="star_pnt-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="star_pnt-last_updated_at-<%%VALUE(id)%%>" class="star_pnt-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
