<!-- To change the layout of the detail view form, we recommend using JS code in hooks/sub_asset_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="sub_asset_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="sub_asset_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="sub_asset_allotment_table_view.php?filterer_sub_asset_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="sub_asset_allotment_table_link"><img src="table.gif"> Sub Inventory Allotment - App</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="sub_asset_allotment_table_view.php?filterer_sub_asset_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_sub_asset_allotment_table_link"><img src="table.gif"> Sub Inventory Allotment - App</a>
			<input type="hidden" id="sub_asset_allotment_table_hclink" value="sub_asset_allotment_table_view.php?filterer_sub_asset_lookup=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="sub_asset_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group sub_asset_table-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: Date -->
				<div class="form-group sub_asset_table-Date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Date-dd">Date</label>
					<div class="col-lg-9">
						<%%COMBO(Date)%%>
					</div>
				</div>

				<!-- Field: Classification of Assest -->
				<div class="form-group sub_asset_table-ClassificationofAssest">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ClassificationofAssest">Classification of Assest</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="ClassificationofAssest" id="ClassificationofAssest" value="<%%VALUE(ClassificationofAssest)%%>">
					</div>
				</div>

				<!-- Field: Sub Category -->
				<div class="form-group sub_asset_table-SubCategory">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="SubCategory">Sub Category</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="SubCategory" id="SubCategory" value="<%%VALUE(SubCategory)%%>">
					</div>
				</div>

				<!-- Field: Asset Serial No -->
				<div class="form-group sub_asset_table-AssetSerialNo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="AssetSerialNo">Asset Serial No</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="AssetSerialNo" id="AssetSerialNo" value="<%%VALUE(AssetSerialNo)%%>">
					</div>
				</div>

				<!-- Field: QR & Bar Code -->
				<div class="form-group sub_asset_table-QRBarCode">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="QRBarCode">QR & Bar Code</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="QRBarCode" id="QRBarCode" value="<%%VALUE(QRBarCode)%%>">
					</div>
				</div>

				<!-- Field: Asset No -->
				<div class="form-group sub_asset_table-AssetNo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="AssetNo">Asset No</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="AssetNo" id="AssetNo" value="<%%VALUE(AssetNo)%%>">
					</div>
				</div>

				<!-- Field: PO. NO. -->
				<div class="form-group sub_asset_table-PONO">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="PONO">PO. NO.</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="PONO" id="PONO" value="<%%VALUE(PONO)%%>">
					</div>
				</div>

				<!-- Field: P/O Date -->
				<div class="form-group sub_asset_table-PODATE">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="PODATE-dd">P/O Date</label>
					<div class="col-lg-9">
						<%%COMBO(PODATE)%%>
					</div>
				</div>

				<!-- Field: Partculars of Supplier Vendor Name & Address -->
				<div class="form-group sub_asset_table-particulars_of_supplier_name_address">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="particulars_of_supplier_name_address">Partculars of Supplier Vendor Name & Address</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="particulars_of_supplier_name_address" id="particulars_of_supplier_name_address" rows=" 5"><%%VALUE(particulars_of_supplier_name_address)%%></textarea>
					</div>
				</div>

				<!-- Field: Item Description -->
				<div class="form-group sub_asset_table-ItemDescription">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ItemDescription">Item Description</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="ItemDescription" id="ItemDescription" rows=" 5"><%%VALUE(ItemDescription)%%></textarea>
					</div>
				</div>

				<!-- Field: Bill No. -->
				<div class="form-group sub_asset_table-BillNo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="BillNo">Bill No.</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="BillNo" id="BillNo" value="<%%VALUE(BillNo)%%>">
					</div>
				</div>

				<!-- Field: Bill Date -->
				<div class="form-group sub_asset_table-BillDate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="BillDate-dd">Bill Date</label>
					<div class="col-lg-9">
						<%%COMBO(BillDate)%%>
					</div>
				</div>

				<!-- Field: Quantity -->
				<div class="form-group sub_asset_table-QUANTITY">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="QUANTITY">Quantity</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="QUANTITY" id="QUANTITY" value="<%%VALUE(QUANTITY)%%>">
					</div>
				</div>

				<!-- Field: Cost of the Asset (in INR) -->
				<div class="form-group sub_asset_table-CostoftheAssetinINR">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CostoftheAssetinINR">Cost of the Asset (in INR)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="CostoftheAssetinINR" id="CostoftheAssetinINR" value="<%%VALUE(CostoftheAssetinINR)%%>">
					</div>
				</div>

				<!-- Field: Total Invoice Value (in INR) -->
				<div class="form-group sub_asset_table-TotalInvoiceValueinINR">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="TotalInvoiceValueinINR">Total Invoice Value (in INR)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="TotalInvoiceValueinINR" id="TotalInvoiceValueinINR" value="<%%VALUE(TotalInvoiceValueinINR)%%>">
					</div>
				</div>

				<!-- Field: Custody Department -->
				<div class="form-group sub_asset_table-CustodyDepartment">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CustodyDepartment">Custody Department</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="CustodyDepartment" id="CustodyDepartment" value="<%%VALUE(CustodyDepartment)%%>">
					</div>
				</div>

				<!-- Field: Custodian -->
				<div class="form-group sub_asset_table-custodian">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="custodian">Custodian</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="custodian" id="custodian" value="<%%VALUE(custodian)%%>">
					</div>
				</div>

				<!-- Field: Custodian Signature -->
				<div class="form-group sub_asset_table-CustodianSignature">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Custodian Signature <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#CustodianSignature-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="CustodianSignature-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 100 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(CustodianSignature)%%>
									<%%UPLOADFILE(CustodianSignature)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_CustodianSignature = '<%%VALUE(CustodianSignature)%%>'; if(e_CustodianSignature == '' || e_CustodianSignature == '&nbsp;' || e_CustodianSignature == 'blank.gif') { $j('#CustodianSignature-link').hide(); $j('#CustodianSignature-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Remarks -->
				<div class="form-group sub_asset_table-remarks">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="remarks">Remarks</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="remarks" id="remarks" rows=" 5"><%%VALUE(remarks)%%></textarea>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group sub_asset_table-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group sub_asset_table-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="sub_asset_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="sub_asset_table-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#sub_asset_table_dv_container-loading').addClass('hidden');
			$j('#sub_asset_table_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('sub_asset_table', 'Date');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setInterval(append_embedded, 1000);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'sub_asset_table',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'sub_asset_table-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			sub_asset_tableUniqueFields.forEach(fieldName => enforce_uniqueness('sub_asset_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=sub_asset_table&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=sub_asset_table&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var sub_asset_tableUniqueFields = [
		];
	</script>