<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Sub Asset Details -->
		<div class="form-group sub_asset_allotment_table-sub_asset_lookup" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Sub Asset Details</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="sub_asset_lookup-readonly<%%RND1%%>"><%%COMBOTEXT(sub_asset_lookup)%%></span></div>
			</div>
		</div>
		<!-- Field: Select employee -->
		<div class="form-group sub_asset_allotment_table-select_employee" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Select employee</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="select_employee<%%RND1%%>"><%%COMBOTEXT(select_employee)%%></span></div>
			</div>
		</div>
		<!-- Field: Department -->
		<div class="form-group sub_asset_allotment_table-department" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Department</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(department)%%></div>
			</div>
		</div>
		<!-- Field: Date -->
		<div class="form-group sub_asset_allotment_table-date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date)%%></div>
			</div>
		</div>
		<!-- Field: Purpose -->
		<div class="form-group sub_asset_allotment_table-purpose" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Purpose</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(purpose)%%></div>
			</div>
		</div>
		<!-- Field: Alloted by -->
		<div class="form-group sub_asset_allotment_table-alloted_by" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Alloted by</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="alloted_by<%%RND1%%>"><%%COMBOTEXT(alloted_by)%%></span></div>
			</div>
		</div>
		<!-- Field: Status -->
		<div class="form-group sub_asset_allotment_table-status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Status</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(status)%%></div>
			</div>
		</div>
		<!-- Field: Returned date -->
		<div class="form-group sub_asset_allotment_table-returned_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Returned date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(returned_date)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group sub_asset_allotment_table-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group sub_asset_allotment_table-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
