<!-- To change the layout of the detail view form, we recommend using JS code in hooks/summary_table_tdp-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="summary_table_tdp_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="summary_table_tdp_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="project_details_tdp_view.php?filterer_project_number=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="project_details_tdp_link"><img src="table.gif"> Project details - App</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="project_details_tdp_view.php?filterer_project_number=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_project_details_tdp_link"><img src="table.gif"> Project details - App</a>
			<input type="hidden" id="project_details_tdp_hclink" value="project_details_tdp_view.php?filterer_project_number=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="summary_table_tdp_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Project number -->
				<div class="form-group summary_table_tdp-project_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="project_number">Project number</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="project_number" id="project_number" value="<%%VALUE(project_number)%%>">
					</div>
				</div>

				<!-- Field: Project title -->
				<div class="form-group summary_table_tdp-project_title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="project_title">Project title</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="project_title" id="project_title" rows=" 5"><%%VALUE(project_title)%%></textarea>
					</div>
				</div>

				<!-- Field: Year -->
				<div class="form-group summary_table_tdp-year">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="year">Year</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="year" id="year" value="<%%VALUE(year)%%>">
					</div>
				</div>

				<!-- Field: PI -->
				<div class="form-group summary_table_tdp-pi">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="pi">PI</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="pi" id="pi" value="<%%VALUE(pi)%%>">
					</div>
				</div>

				<!-- Field: Institute -->
				<div class="form-group summary_table_tdp-institute">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="institute">Institute</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="institute" id="institute" value="<%%VALUE(institute)%%>">
					</div>
				</div>

				<!-- Field: Duration in months -->
				<div class="form-group summary_table_tdp-duration_in_months">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="duration_in_months">Duration in months</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="duration_in_months" id="duration_in_months" value="<%%VALUE(duration_in_months)%%>">
					</div>
				</div>

				<!-- Field: Overall budget in Rs. -->
				<div class="form-group summary_table_tdp-overall_budget">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="overall_budget">Overall budget in Rs.</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="overall_budget" id="overall_budget" value="<%%VALUE(overall_budget)%%>">
					</div>
				</div>

				<!-- Field: Number of products -->
				<div class="form-group summary_table_tdp-number_of_products">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="number_of_products">Number of products</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="number_of_products" id="number_of_products" value="<%%VALUE(number_of_products)%%>">
					</div>
				</div>

				<!-- Field: TRL status -->
				<div class="form-group summary_table_tdp-trl_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="trl_status">TRL status</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="trl_status" id="trl_status" value="<%%VALUE(trl_status)%%>">
					</div>
				</div>

				<!-- Field: Sactioned date -->
				<div class="form-group summary_table_tdp-sactioned_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="sactioned_date-dd">Sactioned date</label>
					<div class="col-lg-9">
						<%%COMBO(sactioned_date)%%>
					</div>
				</div>

				<!-- Field: Ongoing month of project -->
				<div class="form-group summary_table_tdp-ongoing_month_of_project">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ongoing_month_of_project">Ongoing month of project</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="ongoing_month_of_project" id="ongoing_month_of_project" value="<%%VALUE(ongoing_month_of_project)%%>">
					</div>
				</div>

				<!-- Field: Last monthly report -->
				<div class="form-group summary_table_tdp-last_monthly_report">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="last_monthly_report">Last monthly report</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="last_monthly_report" id="last_monthly_report" value="<%%VALUE(last_monthly_report)%%>">
					</div>
				</div>

				<!-- Field: No. of UG -->
				<div class="form-group summary_table_tdp-no_of_ug">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="no_of_ug">No. of UG</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="no_of_ug" id="no_of_ug" value="<%%VALUE(no_of_ug)%%>">
					</div>
				</div>

				<!-- Field: No. of PG -->
				<div class="form-group summary_table_tdp-no_of_pg">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="no_of_pg">No. of PG</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="no_of_pg" id="no_of_pg" value="<%%VALUE(no_of_pg)%%>">
					</div>
				</div>

				<!-- Field: No. of PhD -->
				<div class="form-group summary_table_tdp-no_of_phd">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="no_of_phd">No. of PhD</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="no_of_phd" id="no_of_phd" value="<%%VALUE(no_of_phd)%%>">
					</div>
				</div>

				<!-- Field: No. of Post Doc -->
				<div class="form-group summary_table_tdp-no_of_postdoc">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="no_of_postdoc">No. of Post Doc</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="no_of_postdoc" id="no_of_postdoc" value="<%%VALUE(no_of_postdoc)%%>">
					</div>
				</div>

				<!-- Field: 1st Milestone Amount & Date -->
				<div class="form-group summary_table_tdp-first_milestone_amount_and_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="first_milestone_amount_and_date-dd">1st Milestone Amount & Date</label>
					<div class="col-lg-9">
						<%%COMBO(first_milestone_amount_and_date)%%>
					</div>
				</div>

				<!-- Field: Stage 1 completion -->
				<div class="form-group summary_table_tdp-stage_I_completion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="stage_I_completion-dd">Stage 1 completion</label>
					<div class="col-lg-9">
						<%%COMBO(stage_I_completion)%%>
					</div>
				</div>

				<!-- Field: 2nd Milestone Amount & Date -->
				<div class="form-group summary_table_tdp-second_milestone_amount_and_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="second_milestone_amount_and_date-dd">2nd Milestone Amount & Date</label>
					<div class="col-lg-9">
						<%%COMBO(second_milestone_amount_and_date)%%>
					</div>
				</div>

				<!-- Field: Stage 2 completion -->
				<div class="form-group summary_table_tdp-stage_2_completion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="stage_2_completion-dd">Stage 2 completion</label>
					<div class="col-lg-9">
						<%%COMBO(stage_2_completion)%%>
					</div>
				</div>

				<!-- Field: 3rd Milestone Amount & Date -->
				<div class="form-group summary_table_tdp-third_milestone_amount_and_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="third_milestone_amount_and_date-dd">3rd Milestone Amount & Date</label>
					<div class="col-lg-9">
						<%%COMBO(third_milestone_amount_and_date)%%>
					</div>
				</div>

				<!-- Field: Stage 3 completion -->
				<div class="form-group summary_table_tdp-stage_3_completion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="stage_3_completion-dd">Stage 3 completion</label>
					<div class="col-lg-9">
						<%%COMBO(stage_3_completion)%%>
					</div>
				</div>

				<!-- Field: 4th Milestone Amount & Date -->
				<div class="form-group summary_table_tdp-fourth_milestone_amount_and_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fourth_milestone_amount_and_date-dd">4th Milestone Amount & Date</label>
					<div class="col-lg-9">
						<%%COMBO(fourth_milestone_amount_and_date)%%>
					</div>
				</div>

				<!-- Field: Stage 4 completion -->
				<div class="form-group summary_table_tdp-stage_4_completion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="stage_4_completion-dd">Stage 4 completion</label>
					<div class="col-lg-9">
						<%%COMBO(stage_4_completion)%%>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group summary_table_tdp-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group summary_table_tdp-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="summary_table_tdp_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="summary_table_tdp-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#summary_table_tdp_dv_container-loading').addClass('hidden');
			$j('#summary_table_tdp_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('summary_table_tdp', 'project_number');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setInterval(append_embedded, 1000);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'summary_table_tdp',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'summary_table_tdp-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			summary_table_tdpUniqueFields.forEach(fieldName => enforce_uniqueness('summary_table_tdp', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=summary_table_tdp&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=summary_table_tdp&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var summary_table_tdpUniqueFields = [
		];
	</script>