		<td colspan="8" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="task_progress_status_table-id-caption field-caption-tv">ID</dt>
					<dd id="task_progress_status_table-id-<%%VALUE(id)%%>" class="task_progress_status_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="task_progress_status_table-task_lookup-caption field-caption-tv">Task</dt>
					<dd id="task_progress_status_table-task_lookup-<%%VALUE(id)%%>" class="task_progress_status_table-task_lookup text-bold"><%%VALUE(task_lookup)%%></dd>

					<dt class="task_progress_status_table-progress_description-caption field-caption-tv">Progress Description</dt>
					<dd id="task_progress_status_table-progress_description-<%%VALUE(id)%%>" class="task_progress_status_table-progress_description text-bold"><%%VALUE(progress_description)%%></dd>

					<dt class="task_progress_status_table-progree_entry_date-caption field-caption-tv">Progree Entry Date & Time</dt>
					<dd id="task_progress_status_table-progree_entry_date-<%%VALUE(id)%%>" class="task_progress_status_table-progree_entry_date text-bold"><%%VALUE(progree_entry_date)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="task_progress_status_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="task_progress_status_table-created_by_username-<%%VALUE(id)%%>" class="task_progress_status_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="task_progress_status_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="task_progress_status_table-created_at-<%%VALUE(id)%%>" class="task_progress_status_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="task_progress_status_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="task_progress_status_table-last_updated_by_username-<%%VALUE(id)%%>" class="task_progress_status_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="task_progress_status_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="task_progress_status_table-last_updated_at-<%%VALUE(id)%%>" class="task_progress_status_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
