		<td colspan="11" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="task_allocation_table-task_id-caption field-caption-tv">ID</dt>
					<dd id="task_allocation_table-task_id-<%%VALUE(task_id)%%>" class="task_allocation_table-task_id text-right text-bold"><%%VALUE(task_id)%%></dd>

					<dt class="task_allocation_table-task_description-caption field-caption-tv">Task description</dt>
					<dd id="task_allocation_table-task_description-<%%VALUE(task_id)%%>" class="task_allocation_table-task_description text-bold"><%%VALUE(task_description)%%></dd>

					<dt class="task_allocation_table-task_status-caption field-caption-tv">Task status</dt>
					<dd id="task_allocation_table-task_status-<%%VALUE(task_id)%%>" class="task_allocation_table-task_status text-bold"><%%VALUE(task_status)%%></dd>

					<dt class="task_allocation_table-task_duration-caption field-caption-tv">Task Duration (Number of Days)</dt>
					<dd id="task_allocation_table-task_duration-<%%VALUE(task_id)%%>" class="task_allocation_table-task_duration text-right text-bold"><%%VALUE(task_duration)%%></dd>

					<dt class="task_allocation_table-task_set_date-caption field-caption-tv">Task Assigned Date</dt>
					<dd id="task_allocation_table-task_set_date-<%%VALUE(task_id)%%>" class="task_allocation_table-task_set_date text-bold"><%%VALUE(task_set_date)%%></dd>

					<dt class="task_allocation_table-supervisor_name-caption field-caption-tv">Supervisor name</dt>
					<dd id="task_allocation_table-supervisor_name-<%%VALUE(task_id)%%>" class="task_allocation_table-supervisor_name text-bold"><%%VALUE(supervisor_name)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="task_allocation_table-assigned_to-caption field-caption-tv">Assigned to</dt>
					<dd id="task_allocation_table-assigned_to-<%%VALUE(task_id)%%>" class="task_allocation_table-assigned_to text-bold"><%%VALUE(assigned_to)%%></dd>

					<dt class="task_allocation_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="task_allocation_table-created_by_username-<%%VALUE(task_id)%%>" class="task_allocation_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="task_allocation_table-created_at-caption field-caption-tv">Created At</dt>
					<dd id="task_allocation_table-created_at-<%%VALUE(task_id)%%>" class="task_allocation_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="task_allocation_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="task_allocation_table-last_updated_by_username-<%%VALUE(task_id)%%>" class="task_allocation_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="task_allocation_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="task_allocation_table-last_updated_at-<%%VALUE(task_id)%%>" class="task_allocation_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
