<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the td_ipr_init() hook (in hooks/td_ipr.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="td_ipr-id-<%%VALUE(id)%%>" class="td_ipr-id text-right text-bold"><%%VALUE(id)%%></td>
		<td id="td_ipr-publications_and_intellectual_activities_details-<%%VALUE(id)%%>" class="td_ipr-publications_and_intellectual_activities_details text-bold"><%%VALUE(publications_and_intellectual_activities_details)%%></td>
		<td id="td_ipr-title-<%%VALUE(id)%%>" class="td_ipr-title text-bold"><%%VALUE(title)%%></td>
		<td id="td_ipr-ipr_ia-<%%VALUE(id)%%>" class="td_ipr-ipr_ia text-bold"><%%VALUE(ipr_ia)%%></td>
		<td id="td_ipr-event_type-<%%VALUE(id)%%>" class="td_ipr-event_type text-bold"><%%VALUE(event_type)%%></td>
		<td id="td_ipr-technology_domain-<%%VALUE(id)%%>" class="td_ipr-technology_domain text-bold"><%%VALUE(technology_domain)%%></td>
		<td id="td_ipr-collaborating_organization-<%%VALUE(id)%%>" class="td_ipr-collaborating_organization text-bold"><%%VALUE(collaborating_organization)%%></td>
		<td id="td_ipr-event_venue_address-<%%VALUE(id)%%>" class="td_ipr-event_venue_address text-bold"><%%VALUE(event_venue_address)%%></td>
		<td id="td_ipr-state-<%%VALUE(id)%%>" class="td_ipr-state text-bold"><%%VALUE(state)%%></td>
		<td id="td_ipr-district-<%%VALUE(id)%%>" class="td_ipr-district text-bold"><%%VALUE(district)%%></td>
		<td id="td_ipr-start_date-<%%VALUE(id)%%>" class="td_ipr-start_date text-bold"><%%VALUE(start_date)%%></td>
		<td id="td_ipr-end_date-<%%VALUE(id)%%>" class="td_ipr-end_date text-bold"><%%VALUE(end_date)%%></td>
		<td id="td_ipr-total_number_of_participants-<%%VALUE(id)%%>" class="td_ipr-total_number_of_participants text-right text-bold"><%%VALUE(total_number_of_participants)%%></td>
		<td id="td_ipr-women_participants-<%%VALUE(id)%%>" class="td_ipr-women_participants text-right text-bold"><%%VALUE(women_participants)%%></td>
		<td id="td_ipr-st_participants-<%%VALUE(id)%%>" class="td_ipr-st_participants text-right text-bold"><%%VALUE(st_participants)%%></td>
		<td id="td_ipr-sc_participants-<%%VALUE(id)%%>" class="td_ipr-sc_participants text-right text-bold"><%%VALUE(sc_participants)%%></td>
		<td id="td_ipr-outcomes-<%%VALUE(id)%%>" class="td_ipr-outcomes text-bold"><%%VALUE(outcomes)%%></td>
		<td id="td_ipr-created_by_username-<%%VALUE(id)%%>" class="td_ipr-created_by_username text-bold"><%%VALUE(created_by_username)%%></td>
		<td id="td_ipr-created_at-<%%VALUE(id)%%>" class="td_ipr-created_at text-bold"><%%VALUE(created_at)%%></td>
		<td id="td_ipr-last_updated_by_username-<%%VALUE(id)%%>" class="td_ipr-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></td>
		<td id="td_ipr-last_updated_at-<%%VALUE(id)%%>" class="td_ipr-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></td>
