<!-- To change the layout of the detail view form, we recommend using JS code in hooks/td_ipr-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="td_ipr_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="td_ipr_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="td_ipr_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Publications and Intellectual Activities Details -->
				<div class="form-group td_ipr-publications_and_intellectual_activities_details">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" data-parent_link="view_parent_modal">Publications and Intellectual Activities Details</label>
					<div class="col-lg-9">
						<div class="form-control-static">
							<span id="publications_and_intellectual_activities_details-readonly"><%%COMBOTEXT(publications_and_intellectual_activities_details)%%></span>
							<%%PLINK(publications_and_intellectual_activities_details)%%>
						</div>
					</div>
				</div>

				<!-- Field: Title -->
				<div class="form-group td_ipr-title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="title">Title<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="title" id="title" value="<%%VALUE(title)%%>" required>
					</div>
				</div>

				<!-- Field: IPR / Intellectual Activity -->
				<div class="form-group td_ipr-ipr_ia">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ipr_ia">IPR / Intellectual Activity<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(ipr_ia)%%>
					</div>
				</div>

				<!-- Field: Event type -->
				<div class="form-group td_ipr-event_type">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="event_type">Event type<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(event_type)%%>
					</div>
				</div>

				<!-- Field: Technology Domain -->
				<div class="form-group td_ipr-technology_domain">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="technology_domain">Technology Domain<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="technology_domain" id="technology_domain" value="<%%VALUE(technology_domain)%%>" required>
					</div>
				</div>

				<!-- Field: Collaborating Organization -->
				<div class="form-group td_ipr-collaborating_organization">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="collaborating_organization">Collaborating Organization<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="collaborating_organization" id="collaborating_organization" value="<%%VALUE(collaborating_organization)%%>" required>
					</div>
				</div>

				<!-- Field: Event venue address -->
				<div class="form-group td_ipr-event_venue_address">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="event_venue_address">Event venue address<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(event_venue_address)%%>
					</div>
				</div>

				<!-- Field: State -->
				<div class="form-group td_ipr-state">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="state">State<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="state" id="state" value="<%%VALUE(state)%%>" required>
					</div>
				</div>

				<!-- Field: District -->
				<div class="form-group td_ipr-district">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="district">District<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="district" id="district" value="<%%VALUE(district)%%>" required>
					</div>
				</div>

				<!-- Field: Start date -->
				<div class="form-group td_ipr-start_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="start_date-dd">Start date<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(start_date)%%>
					</div>
				</div>

				<!-- Field: End date -->
				<div class="form-group td_ipr-end_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="end_date-dd">End date<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(end_date)%%>
					</div>
				</div>

				<!-- Field: Total Number of Participants -->
				<div class="form-group td_ipr-total_number_of_participants">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="total_number_of_participants">Total Number of Participants<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="total_number_of_participants" id="total_number_of_participants" value="<%%VALUE(total_number_of_participants)%%>" required>
					</div>
				</div>

				<!-- Field: Women participants -->
				<div class="form-group td_ipr-women_participants">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="women_participants">Women participants<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="women_participants" id="women_participants" value="<%%VALUE(women_participants)%%>" required>
					</div>
				</div>

				<!-- Field: ST Participants -->
				<div class="form-group td_ipr-st_participants">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="st_participants">ST Participants<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="st_participants" id="st_participants" value="<%%VALUE(st_participants)%%>" required>
					</div>
				</div>

				<!-- Field: SC Participants -->
				<div class="form-group td_ipr-sc_participants">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="sc_participants">SC Participants<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="sc_participants" id="sc_participants" value="<%%VALUE(sc_participants)%%>" required>
					</div>
				</div>

				<!-- Field: Outcomes -->
				<div class="form-group td_ipr-outcomes">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="outcomes">Outcomes<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="outcomes" id="outcomes" rows=" 5"><%%VALUE(outcomes)%%></textarea>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group td_ipr-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group td_ipr-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="td_ipr_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#event_venue_address').length) new nicEditor({ fullPanel : true }).panelInstance('event_venue_address');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#td_ipr_dv_container-loading').addClass('hidden');
			$j('#td_ipr_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('td_ipr', 'title');

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			td_iprUniqueFields.forEach(fieldName => enforce_uniqueness('td_ipr', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=td_ipr&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=td_ipr&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var td_iprUniqueFields = [
		];
	</script>