		<td colspan="14" class="row">
			<div id="td_projects_td_intellectual_property-year-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-year col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(year)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="td_projects_td_intellectual_property-ip_category-caption field-caption-tv">IP Category</dt>
					<dd id="td_projects_td_intellectual_property-ip_category-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-ip_category"><%%SELECT%%><%%VALUE(ip_category)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-ip_title-caption field-caption-tv">IP Title</dt>
					<dd id="td_projects_td_intellectual_property-ip_title-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-ip_title"><%%SELECT%%><%%VALUE(ip_title)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-technology_area-caption field-caption-tv">Technology Area</dt>
					<dd id="td_projects_td_intellectual_property-technology_area-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-technology_area"><%%SELECT%%><%%VALUE(technology_area)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-year_field-caption field-caption-tv">Year Field</dt>
					<dd id="td_projects_td_intellectual_property-year_field-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-year_field"><%%SELECT%%><%%VALUE(year_field)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-year_granted-caption field-caption-tv">Year Granted</dt>
					<dd id="td_projects_td_intellectual_property-year_granted-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-year_granted"><%%SELECT%%><%%VALUE(year_granted)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-patent_id-caption field-caption-tv">Patent ID</dt>
					<dd id="td_projects_td_intellectual_property-patent_id-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-patent_id"><%%SELECT%%><%%VALUE(patent_id)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-type-caption field-caption-tv">Type</dt>
					<dd id="td_projects_td_intellectual_property-type-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="td_projects_td_intellectual_property-source_of_ip_category-caption field-caption-tv">Source of IP Category</dt>
					<dd id="td_projects_td_intellectual_property-source_of_ip_category-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-source_of_ip_category"><%%SELECT%%><%%VALUE(source_of_ip_category)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-source_of_ip-caption field-caption-tv">Source of IP</dt>
					<dd id="td_projects_td_intellectual_property-source_of_ip-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-source_of_ip"><%%SELECT%%><%%VALUE(source_of_ip)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="td_projects_td_intellectual_property-created_by_username-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-created_at-caption field-caption-tv">Created At</dt>
					<dd id="td_projects_td_intellectual_property-created_at-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="td_projects_td_intellectual_property-last_updated_by_username-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_intellectual_property-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="td_projects_td_intellectual_property-last_updated_at-<%%VALUE(id)%%>" class="td_projects_td_intellectual_property-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
