<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the td_publications_init() hook (in hooks/td_publications.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="td_publications-publications_and_intellectual_activities_details-<%%VALUE(id)%%>" class="td_publications-publications_and_intellectual_activities_details"><%%SELECT%%><%%VALUE(publications_and_intellectual_activities_details)%%><%%ENDSELECT%%></td>
		<td id="td_publications-publication_type-<%%VALUE(id)%%>" class="td_publications-publication_type"><%%SELECT%%><%%VALUE(publication_type)%%><%%ENDSELECT%%></td>
		<td id="td_publications-title-<%%VALUE(id)%%>" class="td_publications-title"><%%SELECT%%><%%VALUE(title)%%><%%ENDSELECT%%></td>
		<td id="td_publications-technology_area-<%%VALUE(id)%%>" class="td_publications-technology_area"><%%SELECT%%><%%VALUE(technology_area)%%><%%ENDSELECT%%></td>
		<td id="td_publications-publication_year-<%%VALUE(id)%%>" class="td_publications-publication_year"><%%SELECT%%><%%VALUE(publication_year)%%><%%ENDSELECT%%></td>
		<td id="td_publications-author_names-<%%VALUE(id)%%>" class="td_publications-author_names"><%%SELECT%%><%%VALUE(author_names)%%><%%ENDSELECT%%></td>
		<td id="td_publications-peer_reviewed-<%%VALUE(id)%%>" class="td_publications-peer_reviewed"><%%SELECT%%><%%VALUE(peer_reviewed)%%><%%ENDSELECT%%></td>
		<td id="td_publications-link-<%%VALUE(id)%%>" class="td_publications-link"><%%SELECT%%><%%VALUE(link)%%><%%ENDSELECT%%></td>
		<td id="td_publications-source_of_ip_category-<%%VALUE(id)%%>" class="td_publications-source_of_ip_category"><%%SELECT%%><%%VALUE(source_of_ip_category)%%><%%ENDSELECT%%></td>
		<td id="td_publications-source_of_ip-<%%VALUE(id)%%>" class="td_publications-source_of_ip"><%%SELECT%%><%%VALUE(source_of_ip)%%><%%ENDSELECT%%></td>
		<td id="td_publications-created_by_username-<%%VALUE(id)%%>" class="td_publications-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></td>
		<td id="td_publications-created_at-<%%VALUE(id)%%>" class="td_publications-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></td>
		<td id="td_publications-last_updated_by_username-<%%VALUE(id)%%>" class="td_publications-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></td>
		<td id="td_publications-last_updated_at-<%%VALUE(id)%%>" class="td_publications-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></td>
