		<td colspan="15" class="row">
			<div id="td_projects_td_technology_products-year-<%%VALUE(id)%%>" class="td_projects_td_technology_products-year col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(year)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="td_projects_td_technology_products-tech_product_title-caption field-caption-tv">Tech Product Title</dt>
					<dd id="td_projects_td_technology_products-tech_product_title-<%%VALUE(id)%%>" class="td_projects_td_technology_products-tech_product_title"><%%SELECT%%><%%VALUE(tech_product_title)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-tech_produc_type-caption field-caption-tv">Tech Product Type</dt>
					<dd id="td_projects_td_technology_products-tech_produc_type-<%%VALUE(id)%%>" class="td_projects_td_technology_products-tech_produc_type"><%%SELECT%%><%%VALUE(tech_produc_type)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-technology_area-caption field-caption-tv">Technology Area</dt>
					<dd id="td_projects_td_technology_products-technology_area-<%%VALUE(id)%%>" class="td_projects_td_technology_products-technology_area"><%%SELECT%%><%%VALUE(technology_area)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-project_value-caption field-caption-tv">Project Value (Rs.) In Lakhs</dt>
					<dd id="td_projects_td_technology_products-project_value-<%%VALUE(id)%%>" class="td_projects_td_technology_products-project_value text-right"><%%SELECT%%><%%VALUE(project_value)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-status_of_license_transfer-caption field-caption-tv">Status of License Transfer</dt>
					<dd id="td_projects_td_technology_products-status_of_license_transfer-<%%VALUE(id)%%>" class="td_projects_td_technology_products-status_of_license_transfer"><%%SELECT%%><%%VALUE(status_of_license_transfer)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-value_of_transfer-caption field-caption-tv">Value of the Transfer in Lakhs (Rs.)</dt>
					<dd id="td_projects_td_technology_products-value_of_transfer-<%%VALUE(id)%%>" class="td_projects_td_technology_products-value_of_transfer text-right"><%%SELECT%%><%%VALUE(value_of_transfer)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-trl_level-caption field-caption-tv">TRL Level</dt>
					<dd id="td_projects_td_technology_products-trl_level-<%%VALUE(id)%%>" class="td_projects_td_technology_products-trl_level"><%%SELECT%%><%%VALUE(trl_level)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="td_projects_td_technology_products-commercialised-caption field-caption-tv">Commercialised</dt>
					<dd id="td_projects_td_technology_products-commercialised-<%%VALUE(id)%%>" class="td_projects_td_technology_products-commercialised"><%%SELECT%%><%%VALUE(commercialised)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-source_of_ip_category-caption field-caption-tv">Source of IP Category</dt>
					<dd id="td_projects_td_technology_products-source_of_ip_category-<%%VALUE(id)%%>" class="td_projects_td_technology_products-source_of_ip_category"><%%SELECT%%><%%VALUE(source_of_ip_category)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-source_of_ip-caption field-caption-tv">Source of IP</dt>
					<dd id="td_projects_td_technology_products-source_of_ip-<%%VALUE(id)%%>" class="td_projects_td_technology_products-source_of_ip"><%%SELECT%%><%%VALUE(source_of_ip)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="td_projects_td_technology_products-created_by_username-<%%VALUE(id)%%>" class="td_projects_td_technology_products-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-created_at-caption field-caption-tv">Created At</dt>
					<dd id="td_projects_td_technology_products-created_at-<%%VALUE(id)%%>" class="td_projects_td_technology_products-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="td_projects_td_technology_products-last_updated_by_username-<%%VALUE(id)%%>" class="td_projects_td_technology_products-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="td_projects_td_technology_products-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="td_projects_td_technology_products-last_updated_at-<%%VALUE(id)%%>" class="td_projects_td_technology_products-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
