		<td colspan="12" class="row">
			<div id="techlead_web_page-id-<%%VALUE(id)%%>" class="techlead_web_page-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="techlead_web_page-username-caption field-caption-tv">Username</dt>
					<dd id="techlead_web_page-username-<%%VALUE(id)%%>" class="techlead_web_page-username text-bold"><%%VALUE(username)%%></dd>

					<dt class="techlead_web_page-techlead-caption field-caption-tv">Tech Lead</dt>
					<dd id="techlead_web_page-techlead-<%%VALUE(id)%%>" class="techlead_web_page-techlead text-bold"><%%VALUE(techlead)%%></dd>

					<dt class="techlead_web_page-category-caption field-caption-tv">Category</dt>
					<dd id="techlead_web_page-category-<%%VALUE(id)%%>" class="techlead_web_page-category text-bold"><%%VALUE(category)%%></dd>

					<dt class="techlead_web_page-content-caption field-caption-tv">Web Page Content</dt>
					<dd id="techlead_web_page-content-<%%VALUE(id)%%>" class="techlead_web_page-content text-bold"><%%VALUE(content)%%></dd>

					<dt class="techlead_web_page-img1-caption field-caption-tv">Upload Image First</dt>
					<dd id="techlead_web_page-img1-<%%VALUE(id)%%>" class="techlead_web_page-img1 text-bold"><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" class="img-responsive img-thumbnail"></dd>

					<dt class="techlead_web_page-img2-caption field-caption-tv">Upload Image Second</dt>
					<dd id="techlead_web_page-img2-<%%VALUE(id)%%>" class="techlead_web_page-img2 text-bold"><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" class="img-responsive img-thumbnail"></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="techlead_web_page-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="techlead_web_page-approval_status-<%%VALUE(id)%%>" class="techlead_web_page-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="techlead_web_page-approved_by-caption field-caption-tv">Approved by</dt>
					<dd id="techlead_web_page-approved_by-<%%VALUE(id)%%>" class="techlead_web_page-approved_by text-bold"><%%VALUE(approved_by)%%></dd>

					<dt class="techlead_web_page-website_update_status-caption field-caption-tv">Website Update Status</dt>
					<dd id="techlead_web_page-website_update_status-<%%VALUE(id)%%>" class="techlead_web_page-website_update_status text-bold"><%%VALUE(website_update_status)%%></dd>

					<dt class="techlead_web_page-created_by-caption field-caption-tv">Created By</dt>
					<dd id="techlead_web_page-created_by-<%%VALUE(id)%%>" class="techlead_web_page-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="techlead_web_page-last_updated_by-caption field-caption-tv">Last updated By</dt>
					<dd id="techlead_web_page-last_updated_by-<%%VALUE(id)%%>" class="techlead_web_page-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

				</dl>
			</div>
		</td>
