<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Tech Lead -->
		<div class="form-group techlead_web_page-techlead" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tech Lead</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(techlead)%%></div>
			</div>
		</div>
		<!-- Field: Category -->
		<div class="form-group techlead_web_page-category" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Category</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(category)%%></div>
			</div>
		</div>
		<!-- Field: Author/Team/Manager -->
		<div class="form-group techlead_web_page-author" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Author/Team/Manager</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(author)%%></div>
			</div>
		</div>
		<!-- Field: Web Page Sub-section Title -->
		<div class="form-group techlead_web_page-content_title" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Web Page Sub-section Title</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(content_title)%%></div>
			</div>
		</div>
		<!-- Field: Web Page Sub-section Material -->
		<div class="form-group techlead_web_page-content" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Web Page Sub-section Material</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(content)%%></div>
			</div>
		</div>
		<!-- Field: Web Page Sub-section Learn More Content -->
		<div class="form-group techlead_web_page-content_learn_more" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Web Page Sub-section Learn More Content</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(content_learn_more)%%></div>
			</div>
		</div>
		<!-- Field: Upload Image First (Required) -->
		<div class="form-group techlead_web_page-img1" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Upload Image First (Required)</label>
			<div class="col-xs-9">
				<div class="form-control-static">
<img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" class="img-responsive img-thumbnail">
</div>
			</div>
		</div>
		<!-- Field: Upload Image Second (Optional) -->
		<div class="form-group techlead_web_page-img2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Upload Image Second (Optional)</label>
			<div class="col-xs-9">
				<div class="form-control-static">
<img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" class="img-responsive img-thumbnail">
</div>
			</div>
		</div>
		<!-- Field: Approval Status by CEO -->
		<div class="form-group techlead_web_page-approval_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval Status by CEO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(approval_status)%%></div>
			</div>
		</div>
		<!-- Field: Approval Remarks by CEO -->
		<div class="form-group techlead_web_page-approval_remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approval Remarks by CEO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(approval_remarks)%%></div>
			</div>
		</div>
		<!-- Field: Website Update Status by IT Team -->
		<div class="form-group techlead_web_page-website_update_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Website Update Status by IT Team</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(website_update_status)%%></div>
			</div>
		</div>
		<!-- Field: Website Update Remarks by IT Team -->
		<div class="form-group techlead_web_page-website_update_remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Website Update Remarks by IT Team</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(website_update_remarks)%%></div>
			</div>
		</div>
		<!-- Field: Website Updated Date by IT Team -->
		<div class="form-group techlead_web_page-website_update_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Website Updated Date by IT Team</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(website_update_date)%%></div>
			</div>
		</div>
		<!-- Field: Created By Username -->
		<div class="form-group techlead_web_page-created_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Created By Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(created_by_username)%%></div>
			</div>
		</div>
		<!-- Field: Last Updated by Username -->
		<div class="form-group techlead_web_page-last_updated_by_username" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Last Updated by Username</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(last_updated_by_username)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
