		<td colspan="12" class="row">
			<div id="techlead_web_page-id-<%%VALUE(id)%%>" class="techlead_web_page-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="techlead_web_page-username-caption field-caption-tv">Username</dt>
					<dd id="techlead_web_page-username-<%%VALUE(id)%%>" class="techlead_web_page-username"><%%SELECT%%><%%VALUE(username)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-techlead-caption field-caption-tv">Tech Lead</dt>
					<dd id="techlead_web_page-techlead-<%%VALUE(id)%%>" class="techlead_web_page-techlead"><%%SELECT%%><%%VALUE(techlead)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-category-caption field-caption-tv">Category</dt>
					<dd id="techlead_web_page-category-<%%VALUE(id)%%>" class="techlead_web_page-category"><%%SELECT%%><%%VALUE(category)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-content-caption field-caption-tv">Web Page Content</dt>
					<dd id="techlead_web_page-content-<%%VALUE(id)%%>" class="techlead_web_page-content"><%%SELECT%%><%%VALUE(content)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-img1-caption field-caption-tv">Upload Image First</dt>
					<dd id="techlead_web_page-img1-<%%VALUE(id)%%>" class="techlead_web_page-img1"><%%SELECT%%><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" class="img-responsive img-thumbnail"><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-img2-caption field-caption-tv">Upload Image Second</dt>
					<dd id="techlead_web_page-img2-<%%VALUE(id)%%>" class="techlead_web_page-img2"><%%SELECT%%><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" class="img-responsive img-thumbnail"><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="techlead_web_page-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="techlead_web_page-approval_status-<%%VALUE(id)%%>" class="techlead_web_page-approval_status"><%%SELECT%%><%%VALUE(approval_status)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-approved_by-caption field-caption-tv">Approved by</dt>
					<dd id="techlead_web_page-approved_by-<%%VALUE(id)%%>" class="techlead_web_page-approved_by"><%%SELECT%%><%%VALUE(approved_by)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-website_update_status-caption field-caption-tv">Website Update Status</dt>
					<dd id="techlead_web_page-website_update_status-<%%VALUE(id)%%>" class="techlead_web_page-website_update_status"><%%SELECT%%><%%VALUE(website_update_status)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-created_by-caption field-caption-tv">Created By</dt>
					<dd id="techlead_web_page-created_by-<%%VALUE(id)%%>" class="techlead_web_page-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-last_updated_by-caption field-caption-tv">Last updated By</dt>
					<dd id="techlead_web_page-last_updated_by-<%%VALUE(id)%%>" class="techlead_web_page-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
