		<td colspan="16" class="row">
			<div id="techlead_web_page-id-<%%VALUE(id)%%>" class="techlead_web_page-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="techlead_web_page-username-caption field-caption-tv">Username</dt>
					<dd id="techlead_web_page-username-<%%VALUE(id)%%>" class="techlead_web_page-username"><%%SELECT%%><%%VALUE(username)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-techlead-caption field-caption-tv">Tech Lead</dt>
					<dd id="techlead_web_page-techlead-<%%VALUE(id)%%>" class="techlead_web_page-techlead"><%%SELECT%%><%%VALUE(techlead)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-category-caption field-caption-tv">Category</dt>
					<dd id="techlead_web_page-category-<%%VALUE(id)%%>" class="techlead_web_page-category"><%%SELECT%%><%%VALUE(category)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-content_title-caption field-caption-tv">Web Page Content Title</dt>
					<dd id="techlead_web_page-content_title-<%%VALUE(id)%%>" class="techlead_web_page-content_title"><%%SELECT%%><%%VALUE(content_title)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-content-caption field-caption-tv">Web Page Content Material</dt>
					<dd id="techlead_web_page-content-<%%VALUE(id)%%>" class="techlead_web_page-content"><%%SELECT%%><%%VALUE(content)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-content_learn_more-caption field-caption-tv">Web Page Content Learn More Section</dt>
					<dd id="techlead_web_page-content_learn_more-<%%VALUE(id)%%>" class="techlead_web_page-content_learn_more"><%%SELECT%%><%%VALUE(content_learn_more)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-img1-caption field-caption-tv">Upload Image First (Required)</dt>
					<dd id="techlead_web_page-img1-<%%VALUE(id)%%>" class="techlead_web_page-img1"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" data-lightbox="techlead_web_page-img1"><img src="thumbnail.php?i=<%%VALUE(img1)%%>&t=techlead_web_page&f=img1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="techlead_web_page-img2-caption field-caption-tv">Upload Image Second (Optional)</dt>
					<dd id="techlead_web_page-img2-<%%VALUE(id)%%>" class="techlead_web_page-img2"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" data-lightbox="techlead_web_page-img2"><img src="thumbnail.php?i=<%%VALUE(img2)%%>&t=techlead_web_page&f=img2&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="techlead_web_page-approval_status-caption field-caption-tv">Approval Status by CEO</dt>
					<dd id="techlead_web_page-approval_status-<%%VALUE(id)%%>" class="techlead_web_page-approval_status"><%%SELECT%%><%%VALUE(approval_status)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-approval_remarks-caption field-caption-tv">Approval Remarks by CEO</dt>
					<dd id="techlead_web_page-approval_remarks-<%%VALUE(id)%%>" class="techlead_web_page-approval_remarks"><%%SELECT%%><%%VALUE(approval_remarks)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-website_update_status-caption field-caption-tv">Website Update Status by IT Team</dt>
					<dd id="techlead_web_page-website_update_status-<%%VALUE(id)%%>" class="techlead_web_page-website_update_status"><%%SELECT%%><%%VALUE(website_update_status)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-website_update_remarks-caption field-caption-tv">Website Update Remarks by IT Team</dt>
					<dd id="techlead_web_page-website_update_remarks-<%%VALUE(id)%%>" class="techlead_web_page-website_update_remarks"><%%SELECT%%><%%VALUE(website_update_remarks)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-website_update_date-caption field-caption-tv">Website Updated Date by IT Team</dt>
					<dd id="techlead_web_page-website_update_date-<%%VALUE(id)%%>" class="techlead_web_page-website_update_date"><%%SELECT%%><%%VALUE(website_update_date)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-created_by-caption field-caption-tv">Created By</dt>
					<dd id="techlead_web_page-created_by-<%%VALUE(id)%%>" class="techlead_web_page-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="techlead_web_page-last_updated_by-caption field-caption-tv">Last updated By</dt>
					<dd id="techlead_web_page-last_updated_by-<%%VALUE(id)%%>" class="techlead_web_page-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
