<!-- To change the layout of the detail view form, we recommend using JS code in hooks/techlead_web_page-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="techlead_web_page_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="techlead_web_page_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="techlead_web_page_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Tech Lead -->
				<div class="form-group techlead_web_page-techlead">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="techlead">Tech Lead</label>
					<div class="col-lg-9">
						<%%COMBO(techlead)%%>
					</div>
				</div>

				<!-- Field: Category -->
				<div class="form-group techlead_web_page-category">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="category">Category</label>
					<div class="col-lg-9">
						<%%COMBO(category)%%>
					</div>
				</div>

				<!-- Field: Author/Team/Manager -->
				<div class="form-group techlead_web_page-author">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="author">Author/Team/Manager</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="author" id="author" value="<%%VALUE(author)%%>">
					</div>
				</div>

				<!-- Field: Web Page Sub-section Title -->
				<div class="form-group techlead_web_page-content_title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="content_title">Web Page Sub-section Title</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="content_title" id="content_title" value="<%%VALUE(content_title)%%>">
					</div>
				</div>

				<!-- Field: Web Page Sub-section Material -->
				<div class="form-group techlead_web_page-content">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="content">Web Page Sub-section Material</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(content)%%>
					</div>
				</div>

				<!-- Field: Web Page Sub-section Learn More Content -->
				<div class="form-group techlead_web_page-content_learn_more">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="content_learn_more">Web Page Sub-section Learn More Content</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(content_learn_more)%%>
					</div>
				</div>

				<!-- Field: Upload Image First (Required) -->
				<div class="form-group techlead_web_page-img1">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Upload Image First (Required) <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#img1-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="img1-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" class="img-responsive img-thumbnail" id="img1-image"></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(img1)%%>
									<%%UPLOADFILE(img1)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_img1 = '<%%VALUE(img1)%%>'; if(e_img1 == '' || e_img1 == '&nbsp;' || e_img1 == 'blank.gif') { $j('#img1-link').hide(); $j('#img1-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Upload Image Second (Optional) -->
				<div class="form-group techlead_web_page-img2">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Upload Image Second (Optional) <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#img2-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="img2-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 10000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" class="img-responsive img-thumbnail" id="img2-image"></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(img2)%%>
									<%%UPLOADFILE(img2)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_img2 = '<%%VALUE(img2)%%>'; if(e_img2 == '' || e_img2 == '&nbsp;' || e_img2 == 'blank.gif') { $j('#img2-link').hide(); $j('#img2-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Approval Status by CEO -->
				<div class="form-group techlead_web_page-approval_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="approval_status">Approval Status by CEO</label>
					<div class="col-lg-9">
						<%%COMBO(approval_status)%%>
					</div>
				</div>

				<!-- Field: Approval Remarks by CEO -->
				<div class="form-group techlead_web_page-approval_remarks">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="approval_remarks">Approval Remarks by CEO</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(approval_remarks)%%>
					</div>
				</div>

				<!-- Field: Website Update Status by IT Team -->
				<div class="form-group techlead_web_page-website_update_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="website_update_status">Website Update Status by IT Team</label>
					<div class="col-lg-9">
						<%%COMBO(website_update_status)%%>
					</div>
				</div>

				<!-- Field: Website Update Remarks by IT Team -->
				<div class="form-group techlead_web_page-website_update_remarks">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="website_update_remarks">Website Update Remarks by IT Team</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(website_update_remarks)%%>
					</div>
				</div>

				<!-- Field: Website Updated Date by IT Team -->
				<div class="form-group techlead_web_page-website_update_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="website_update_date-dd">Website Updated Date by IT Team</label>
					<div class="col-lg-9">
						<%%COMBO(website_update_date)%%>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group techlead_web_page-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group techlead_web_page-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="techlead_web_page_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#content').length) new nicEditor({ fullPanel : true }).panelInstance('content');
					if($j('textarea#content_learn_more').length) new nicEditor({ fullPanel : true }).panelInstance('content_learn_more');
					if($j('textarea#approval_remarks').length) new nicEditor({ fullPanel : true }).panelInstance('approval_remarks');
					if($j('textarea#website_update_remarks').length) new nicEditor({ fullPanel : true }).panelInstance('website_update_remarks');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.techlead_web_page-techlead')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#techlead_web_page_dv_container-loading').addClass('hidden');
						$j('#techlead_web_page_dv_container').removeClass('hidden');
						AppGini.focusFormElement('techlead_web_page', 'techlead');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#techlead_web_page_dv_container-loading').addClass('hidden');
				$j('#techlead_web_page_dv_container').removeClass('hidden');
			}

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			techlead_web_pageUniqueFields.forEach(fieldName => enforce_uniqueness('techlead_web_page', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=techlead_web_page&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=techlead_web_page&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var techlead_web_pageUniqueFields = [
		];
	</script>