		<td colspan="17" class="row">
			<div id="techlead_web_page-id-<%%VALUE(id)%%>" class="techlead_web_page-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="techlead_web_page-username-caption field-caption-tv">Username</dt>
					<dd id="techlead_web_page-username-<%%VALUE(id)%%>" class="techlead_web_page-username text-bold"><%%VALUE(username)%%></dd>

					<dt class="techlead_web_page-techlead-caption field-caption-tv">Tech Lead</dt>
					<dd id="techlead_web_page-techlead-<%%VALUE(id)%%>" class="techlead_web_page-techlead text-bold"><%%VALUE(techlead)%%></dd>

					<dt class="techlead_web_page-category-caption field-caption-tv">Category</dt>
					<dd id="techlead_web_page-category-<%%VALUE(id)%%>" class="techlead_web_page-category text-bold"><%%VALUE(category)%%></dd>

					<dt class="techlead_web_page-content_title-caption field-caption-tv">Web Page Content Title</dt>
					<dd id="techlead_web_page-content_title-<%%VALUE(id)%%>" class="techlead_web_page-content_title text-bold"><%%VALUE(content_title)%%></dd>

					<dt class="techlead_web_page-content-caption field-caption-tv">Web Page Content Material</dt>
					<dd id="techlead_web_page-content-<%%VALUE(id)%%>" class="techlead_web_page-content text-bold"><%%VALUE(content)%%></dd>

					<dt class="techlead_web_page-content_learn_more-caption field-caption-tv">Web Page Content Learn More Section</dt>
					<dd id="techlead_web_page-content_learn_more-<%%VALUE(id)%%>" class="techlead_web_page-content_learn_more text-bold"><%%VALUE(content_learn_more)%%></dd>

					<dt class="techlead_web_page-img1-caption field-caption-tv">Upload Image First (Required)</dt>
					<dd id="techlead_web_page-img1-<%%VALUE(id)%%>" class="techlead_web_page-img1 text-bold"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" data-lightbox="techlead_web_page-img1"><img src="thumbnail.php?i=<%%VALUE(img1)%%>&t=techlead_web_page&f=img1&v=tv" class="img-thumbnail"></a></dd>

					<dt class="techlead_web_page-img2-caption field-caption-tv">Upload Image Second (Optional)</dt>
					<dd id="techlead_web_page-img2-<%%VALUE(id)%%>" class="techlead_web_page-img2 text-bold"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" data-lightbox="techlead_web_page-img2"><img src="thumbnail.php?i=<%%VALUE(img2)%%>&t=techlead_web_page&f=img2&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="techlead_web_page-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="techlead_web_page-approval_status-<%%VALUE(id)%%>" class="techlead_web_page-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="techlead_web_page-approved_by-caption field-caption-tv">Approved by</dt>
					<dd id="techlead_web_page-approved_by-<%%VALUE(id)%%>" class="techlead_web_page-approved_by text-bold"><%%VALUE(approved_by)%%></dd>

					<dt class="techlead_web_page-approval_remarks-caption field-caption-tv">Approval remarks</dt>
					<dd id="techlead_web_page-approval_remarks-<%%VALUE(id)%%>" class="techlead_web_page-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></dd>

					<dt class="techlead_web_page-website_update_status-caption field-caption-tv">Website Update Status</dt>
					<dd id="techlead_web_page-website_update_status-<%%VALUE(id)%%>" class="techlead_web_page-website_update_status text-bold"><%%VALUE(website_update_status)%%></dd>

					<dt class="techlead_web_page-website_update_remarks-caption field-caption-tv">Website Update Remarks</dt>
					<dd id="techlead_web_page-website_update_remarks-<%%VALUE(id)%%>" class="techlead_web_page-website_update_remarks text-bold"><%%VALUE(website_update_remarks)%%></dd>

					<dt class="techlead_web_page-website_update_date-caption field-caption-tv">Website Updated Date</dt>
					<dd id="techlead_web_page-website_update_date-<%%VALUE(id)%%>" class="techlead_web_page-website_update_date text-bold"><%%VALUE(website_update_date)%%></dd>

					<dt class="techlead_web_page-created_by-caption field-caption-tv">Created By</dt>
					<dd id="techlead_web_page-created_by-<%%VALUE(id)%%>" class="techlead_web_page-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="techlead_web_page-last_updated_by-caption field-caption-tv">Last updated By</dt>
					<dd id="techlead_web_page-last_updated_by-<%%VALUE(id)%%>" class="techlead_web_page-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

				</dl>
			</div>
		</td>
