		<td colspan="12" class="row">
			<div id="translational_r_d_content_table-id-<%%VALUE(id)%%>" class="translational_r_d_content_table-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="translational_r_d_content_table-username-caption field-caption-tv">Username</dt>
					<dd id="translational_r_d_content_table-username-<%%VALUE(id)%%>" class="translational_r_d_content_table-username text-bold"><%%VALUE(username)%%></dd>

					<dt class="translational_r_d_content_table-category-caption field-caption-tv">Category</dt>
					<dd id="translational_r_d_content_table-category-<%%VALUE(id)%%>" class="translational_r_d_content_table-category text-bold"><%%VALUE(category)%%></dd>

					<dt class="translational_r_d_content_table-sub_category-caption field-caption-tv">Sub Category</dt>
					<dd id="translational_r_d_content_table-sub_category-<%%VALUE(id)%%>" class="translational_r_d_content_table-sub_category text-bold"><%%VALUE(sub_category)%%></dd>

					<dt class="translational_r_d_content_table-description-caption field-caption-tv">Description</dt>
					<dd id="translational_r_d_content_table-description-<%%VALUE(id)%%>" class="translational_r_d_content_table-description text-bold"><%%VALUE(description)%%></dd>

					<dt class="translational_r_d_content_table-img1-caption field-caption-tv">Upload Image First</dt>
					<dd id="translational_r_d_content_table-img1-<%%VALUE(id)%%>" class="translational_r_d_content_table-img1 text-bold"><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" class="img-responsive img-thumbnail"></dd>

					<dt class="translational_r_d_content_table-img2-caption field-caption-tv">Upload Image Second</dt>
					<dd id="translational_r_d_content_table-img2-<%%VALUE(id)%%>" class="translational_r_d_content_table-img2 text-bold"><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" class="img-responsive img-thumbnail"></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="translational_r_d_content_table-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="translational_r_d_content_table-approval_status-<%%VALUE(id)%%>" class="translational_r_d_content_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="translational_r_d_content_table-approved_by-caption field-caption-tv">Approved by</dt>
					<dd id="translational_r_d_content_table-approved_by-<%%VALUE(id)%%>" class="translational_r_d_content_table-approved_by text-bold"><%%VALUE(approved_by)%%></dd>

					<dt class="translational_r_d_content_table-website_update_status-caption field-caption-tv">Website Update Status</dt>
					<dd id="translational_r_d_content_table-website_update_status-<%%VALUE(id)%%>" class="translational_r_d_content_table-website_update_status text-bold"><%%VALUE(website_update_status)%%></dd>

					<dt class="translational_r_d_content_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="translational_r_d_content_table-created_by-<%%VALUE(id)%%>" class="translational_r_d_content_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="translational_r_d_content_table-last_updated_by-caption field-caption-tv">Last updated By</dt>
					<dd id="translational_r_d_content_table-last_updated_by-<%%VALUE(id)%%>" class="translational_r_d_content_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

				</dl>
			</div>
		</td>
