		<td colspan="12" class="row">
			<div id="translational_r_d_content_table-id-<%%VALUE(id)%%>" class="translational_r_d_content_table-id col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="translational_r_d_content_table-username-caption field-caption-tv">Username</dt>
					<dd id="translational_r_d_content_table-username-<%%VALUE(id)%%>" class="translational_r_d_content_table-username"><%%SELECT%%><%%VALUE(username)%%><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-category-caption field-caption-tv">Category</dt>
					<dd id="translational_r_d_content_table-category-<%%VALUE(id)%%>" class="translational_r_d_content_table-category"><%%SELECT%%><%%VALUE(category)%%><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-sub_category-caption field-caption-tv">Sub Category</dt>
					<dd id="translational_r_d_content_table-sub_category-<%%VALUE(id)%%>" class="translational_r_d_content_table-sub_category"><%%SELECT%%><%%VALUE(sub_category)%%><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-description-caption field-caption-tv">Description</dt>
					<dd id="translational_r_d_content_table-description-<%%VALUE(id)%%>" class="translational_r_d_content_table-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-img1-caption field-caption-tv">Upload Image First</dt>
					<dd id="translational_r_d_content_table-img1-<%%VALUE(id)%%>" class="translational_r_d_content_table-img1"><%%SELECT%%><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img1)%%>" class="img-responsive img-thumbnail"><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-img2-caption field-caption-tv">Upload Image Second</dt>
					<dd id="translational_r_d_content_table-img2-<%%VALUE(id)%%>" class="translational_r_d_content_table-img2"><%%SELECT%%><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(img2)%%>" class="img-responsive img-thumbnail"><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="translational_r_d_content_table-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="translational_r_d_content_table-approval_status-<%%VALUE(id)%%>" class="translational_r_d_content_table-approval_status"><%%SELECT%%><%%VALUE(approval_status)%%><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-approved_by-caption field-caption-tv">Approved by</dt>
					<dd id="translational_r_d_content_table-approved_by-<%%VALUE(id)%%>" class="translational_r_d_content_table-approved_by"><%%SELECT%%><%%VALUE(approved_by)%%><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-website_update_status-caption field-caption-tv">Website Update Status</dt>
					<dd id="translational_r_d_content_table-website_update_status-<%%VALUE(id)%%>" class="translational_r_d_content_table-website_update_status"><%%SELECT%%><%%VALUE(website_update_status)%%><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-created_by-caption field-caption-tv">Created By</dt>
					<dd id="translational_r_d_content_table-created_by-<%%VALUE(id)%%>" class="translational_r_d_content_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="translational_r_d_content_table-last_updated_by-caption field-caption-tv">Last updated By</dt>
					<dd id="translational_r_d_content_table-last_updated_by-<%%VALUE(id)%%>" class="translational_r_d_content_table-last_updated_by"><%%SELECT%%><%%VALUE(last_updated_by)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
