		<td colspan="20" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="travel_local_commute_table-id-caption field-caption-tv">ID</dt>
					<dd id="travel_local_commute_table-id-<%%VALUE(id)%%>" class="travel_local_commute_table-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-username-caption field-caption-tv">Username</dt>
					<dd id="travel_local_commute_table-username-<%%VALUE(id)%%>" class="travel_local_commute_table-username"><%%SELECT%%><%%VALUE(username)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-first_name-caption field-caption-tv">First name</dt>
					<dd id="travel_local_commute_table-first_name-<%%VALUE(id)%%>" class="travel_local_commute_table-first_name"><%%SELECT%%><%%VALUE(first_name)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-last_name-caption field-caption-tv">Last name</dt>
					<dd id="travel_local_commute_table-last_name-<%%VALUE(id)%%>" class="travel_local_commute_table-last_name"><%%SELECT%%><%%VALUE(last_name)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-age-caption field-caption-tv">Age</dt>
					<dd id="travel_local_commute_table-age-<%%VALUE(id)%%>" class="travel_local_commute_table-age"><%%SELECT%%><%%VALUE(age)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-gender-caption field-caption-tv">Gender</dt>
					<dd id="travel_local_commute_table-gender-<%%VALUE(id)%%>" class="travel_local_commute_table-gender"><%%SELECT%%><%%VALUE(gender)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-mobile_number-caption field-caption-tv">Mobile number</dt>
					<dd id="travel_local_commute_table-mobile_number-<%%VALUE(id)%%>" class="travel_local_commute_table-mobile_number"><%%SELECT%%><%%VALUE(mobile_number)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-local_commute_type-caption field-caption-tv">Local Commute Type</dt>
					<dd id="travel_local_commute_table-local_commute_type-<%%VALUE(id)%%>" class="travel_local_commute_table-local_commute_type"><%%SELECT%%><%%VALUE(local_commute_type)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-from_place-caption field-caption-tv">From Place</dt>
					<dd id="travel_local_commute_table-from_place-<%%VALUE(id)%%>" class="travel_local_commute_table-from_place"><%%SELECT%%><%%VALUE(from_place)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-to_place-caption field-caption-tv">To Place</dt>
					<dd id="travel_local_commute_table-to_place-<%%VALUE(id)%%>" class="travel_local_commute_table-to_place"><%%SELECT%%><%%VALUE(to_place)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="travel_local_commute_table-description-caption field-caption-tv">Description</dt>
					<dd id="travel_local_commute_table-description-<%%VALUE(id)%%>" class="travel_local_commute_table-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-approval_status-caption field-caption-tv">Approval Status</dt>
					<dd id="travel_local_commute_table-approval_status-<%%VALUE(id)%%>" class="travel_local_commute_table-approval_status"><%%SELECT%%><%%VALUE(approval_status)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-approval_remarks-caption field-caption-tv">Approval remarks</dt>
					<dd id="travel_local_commute_table-approval_remarks-<%%VALUE(id)%%>" class="travel_local_commute_table-approval_remarks"><%%SELECT%%><%%VALUE(approval_remarks)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="travel_local_commute_table-created_by-<%%VALUE(id)%%>" class="travel_local_commute_table-created_by"><%%SELECT%%><%%VALUE(created_by)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-approved_by-caption field-caption-tv">Approved by</dt>
					<dd id="travel_local_commute_table-approved_by-<%%VALUE(id)%%>" class="travel_local_commute_table-approved_by"><%%SELECT%%><%%VALUE(approved_by)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="travel_local_commute_table-created_at-<%%VALUE(id)%%>" class="travel_local_commute_table-created_at"><%%SELECT%%><%%VALUE(created_at)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-approved_at-caption field-caption-tv">Approved at</dt>
					<dd id="travel_local_commute_table-approved_at-<%%VALUE(id)%%>" class="travel_local_commute_table-approved_at"><%%SELECT%%><%%VALUE(approved_at)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="travel_local_commute_table-created_by_username-<%%VALUE(id)%%>" class="travel_local_commute_table-created_by_username"><%%SELECT%%><%%VALUE(created_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="travel_local_commute_table-last_updated_by_username-<%%VALUE(id)%%>" class="travel_local_commute_table-last_updated_by_username"><%%SELECT%%><%%VALUE(last_updated_by_username)%%><%%ENDSELECT%%></dd>

					<dt class="travel_local_commute_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="travel_local_commute_table-last_updated_at-<%%VALUE(id)%%>" class="travel_local_commute_table-last_updated_at"><%%SELECT%%><%%VALUE(last_updated_at)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
