		<td colspan="21" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="travel_stay_table-id-caption field-caption-tv">ID</dt>
					<dd id="travel_stay_table-id-<%%VALUE(id)%%>" class="travel_stay_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="travel_stay_table-username-caption field-caption-tv">Username</dt>
					<dd id="travel_stay_table-username-<%%VALUE(id)%%>" class="travel_stay_table-username text-bold"><%%VALUE(username)%%></dd>

					<dt class="travel_stay_table-first_name-caption field-caption-tv">First name</dt>
					<dd id="travel_stay_table-first_name-<%%VALUE(id)%%>" class="travel_stay_table-first_name text-bold"><%%VALUE(first_name)%%></dd>

					<dt class="travel_stay_table-last_name-caption field-caption-tv">Last name</dt>
					<dd id="travel_stay_table-last_name-<%%VALUE(id)%%>" class="travel_stay_table-last_name text-bold"><%%VALUE(last_name)%%></dd>

					<dt class="travel_stay_table-age-caption field-caption-tv">Age</dt>
					<dd id="travel_stay_table-age-<%%VALUE(id)%%>" class="travel_stay_table-age text-bold"><%%VALUE(age)%%></dd>

					<dt class="travel_stay_table-gender-caption field-caption-tv">Gender</dt>
					<dd id="travel_stay_table-gender-<%%VALUE(id)%%>" class="travel_stay_table-gender text-bold"><%%VALUE(gender)%%></dd>

					<dt class="travel_stay_table-mobile_number-caption field-caption-tv">Mobile number</dt>
					<dd id="travel_stay_table-mobile_number-<%%VALUE(id)%%>" class="travel_stay_table-mobile_number text-bold"><%%VALUE(mobile_number)%%></dd>

					<dt class="travel_stay_table-hotel_name-caption field-caption-tv">Hotel name</dt>
					<dd id="travel_stay_table-hotel_name-<%%VALUE(id)%%>" class="travel_stay_table-hotel_name text-bold"><%%VALUE(hotel_name)%%></dd>

					<dt class="travel_stay_table-hotel_address-caption field-caption-tv">Hotel address</dt>
					<dd id="travel_stay_table-hotel_address-<%%VALUE(id)%%>" class="travel_stay_table-hotel_address text-bold"><%%VALUE(hotel_address)%%></dd>

					<dt class="travel_stay_table-checkin_date-caption field-caption-tv">Checkin date</dt>
					<dd id="travel_stay_table-checkin_date-<%%VALUE(id)%%>" class="travel_stay_table-checkin_date text-bold"><%%VALUE(checkin_date)%%></dd>

					<dt class="travel_stay_table-checkout_date-caption field-caption-tv">Checkout date</dt>
					<dd id="travel_stay_table-checkout_date-<%%VALUE(id)%%>" class="travel_stay_table-checkout_date text-bold"><%%VALUE(checkout_date)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="travel_stay_table-room_preferance-caption field-caption-tv">Room preferance</dt>
					<dd id="travel_stay_table-room_preferance-<%%VALUE(id)%%>" class="travel_stay_table-room_preferance text-bold"><%%VALUE(room_preferance)%%></dd>

					<dt class="travel_stay_table-remarks-caption field-caption-tv">Remarks</dt>
					<dd id="travel_stay_table-remarks-<%%VALUE(id)%%>" class="travel_stay_table-remarks text-bold"><%%VALUE(remarks)%%></dd>

					<dt class="travel_stay_table-approval_status-caption field-caption-tv">Approval Status</dt>
					<dd id="travel_stay_table-approval_status-<%%VALUE(id)%%>" class="travel_stay_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="travel_stay_table-approval_remarks-caption field-caption-tv">Approval remarks</dt>
					<dd id="travel_stay_table-approval_remarks-<%%VALUE(id)%%>" class="travel_stay_table-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></dd>

					<dt class="travel_stay_table-approved_by-caption field-caption-tv">Approved By</dt>
					<dd id="travel_stay_table-approved_by-<%%VALUE(id)%%>" class="travel_stay_table-approved_by text-bold"><%%VALUE(approved_by)%%></dd>

					<dt class="travel_stay_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="travel_stay_table-created_by-<%%VALUE(id)%%>" class="travel_stay_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="travel_stay_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="travel_stay_table-created_at-<%%VALUE(id)%%>" class="travel_stay_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="travel_stay_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="travel_stay_table-last_updated_at-<%%VALUE(id)%%>" class="travel_stay_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="travel_stay_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="travel_stay_table-created_by_username-<%%VALUE(id)%%>" class="travel_stay_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="travel_stay_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="travel_stay_table-last_updated_by_username-<%%VALUE(id)%%>" class="travel_stay_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
