		<td colspan="20" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="travel_local_commute_table-id-caption field-caption-tv">ID</dt>
					<dd id="travel_local_commute_table-id-<%%VALUE(id)%%>" class="travel_local_commute_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="travel_local_commute_table-username-caption field-caption-tv">Username</dt>
					<dd id="travel_local_commute_table-username-<%%VALUE(id)%%>" class="travel_local_commute_table-username text-bold"><%%VALUE(username)%%></dd>

					<dt class="travel_local_commute_table-first_name-caption field-caption-tv">First name</dt>
					<dd id="travel_local_commute_table-first_name-<%%VALUE(id)%%>" class="travel_local_commute_table-first_name text-bold"><%%VALUE(first_name)%%></dd>

					<dt class="travel_local_commute_table-last_name-caption field-caption-tv">Last name</dt>
					<dd id="travel_local_commute_table-last_name-<%%VALUE(id)%%>" class="travel_local_commute_table-last_name text-bold"><%%VALUE(last_name)%%></dd>

					<dt class="travel_local_commute_table-age-caption field-caption-tv">Age</dt>
					<dd id="travel_local_commute_table-age-<%%VALUE(id)%%>" class="travel_local_commute_table-age text-bold"><%%VALUE(age)%%></dd>

					<dt class="travel_local_commute_table-gender-caption field-caption-tv">Gender</dt>
					<dd id="travel_local_commute_table-gender-<%%VALUE(id)%%>" class="travel_local_commute_table-gender text-bold"><%%VALUE(gender)%%></dd>

					<dt class="travel_local_commute_table-mobile_number-caption field-caption-tv">Mobile number</dt>
					<dd id="travel_local_commute_table-mobile_number-<%%VALUE(id)%%>" class="travel_local_commute_table-mobile_number text-bold"><%%VALUE(mobile_number)%%></dd>

					<dt class="travel_local_commute_table-local_commute_type-caption field-caption-tv">Local Commute Type</dt>
					<dd id="travel_local_commute_table-local_commute_type-<%%VALUE(id)%%>" class="travel_local_commute_table-local_commute_type text-bold"><%%VALUE(local_commute_type)%%></dd>

					<dt class="travel_local_commute_table-from_place-caption field-caption-tv">From Place</dt>
					<dd id="travel_local_commute_table-from_place-<%%VALUE(id)%%>" class="travel_local_commute_table-from_place text-bold"><%%VALUE(from_place)%%></dd>

					<dt class="travel_local_commute_table-to_place-caption field-caption-tv">To Place</dt>
					<dd id="travel_local_commute_table-to_place-<%%VALUE(id)%%>" class="travel_local_commute_table-to_place text-bold"><%%VALUE(to_place)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="travel_local_commute_table-description-caption field-caption-tv">Description</dt>
					<dd id="travel_local_commute_table-description-<%%VALUE(id)%%>" class="travel_local_commute_table-description text-bold"><%%VALUE(description)%%></dd>

					<dt class="travel_local_commute_table-approval_status-caption field-caption-tv">Approval Status</dt>
					<dd id="travel_local_commute_table-approval_status-<%%VALUE(id)%%>" class="travel_local_commute_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

					<dt class="travel_local_commute_table-approval_remarks-caption field-caption-tv">Approval remarks</dt>
					<dd id="travel_local_commute_table-approval_remarks-<%%VALUE(id)%%>" class="travel_local_commute_table-approval_remarks text-bold"><%%VALUE(approval_remarks)%%></dd>

					<dt class="travel_local_commute_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="travel_local_commute_table-created_by-<%%VALUE(id)%%>" class="travel_local_commute_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="travel_local_commute_table-approved_by-caption field-caption-tv">Approved by</dt>
					<dd id="travel_local_commute_table-approved_by-<%%VALUE(id)%%>" class="travel_local_commute_table-approved_by text-bold"><%%VALUE(approved_by)%%></dd>

					<dt class="travel_local_commute_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="travel_local_commute_table-created_at-<%%VALUE(id)%%>" class="travel_local_commute_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="travel_local_commute_table-approved_at-caption field-caption-tv">Approved at</dt>
					<dd id="travel_local_commute_table-approved_at-<%%VALUE(id)%%>" class="travel_local_commute_table-approved_at text-bold"><%%VALUE(approved_at)%%></dd>

					<dt class="travel_local_commute_table-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="travel_local_commute_table-created_by_username-<%%VALUE(id)%%>" class="travel_local_commute_table-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="travel_local_commute_table-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="travel_local_commute_table-last_updated_by_username-<%%VALUE(id)%%>" class="travel_local_commute_table-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

					<dt class="travel_local_commute_table-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="travel_local_commute_table-last_updated_at-<%%VALUE(id)%%>" class="travel_local_commute_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
