<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Travel details -->
		<div class="form-group travel_hotel_table-travel_details" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Travel details</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="travel_details-readonly<%%RND1%%>"><%%COMBOTEXT(travel_details)%%></span></div>
			</div>
		</div>
		<!-- Field: Hotel name -->
		<div class="form-group travel_hotel_table-hotel_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Hotel name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(hotel_name)%%></div>
			</div>
		</div>
		<!-- Field: Destination city -->
		<div class="form-group travel_hotel_table-destination_city" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Destination city</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(destination_city)%%></div>
			</div>
		</div>
		<!-- Field: Checkin date -->
		<div class="form-group travel_hotel_table-checkin_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Checkin date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(checkin_date)%%></div>
			</div>
		</div>
		<!-- Field: Checkout date -->
		<div class="form-group travel_hotel_table-checkout_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Checkout date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(checkout_date)%%></div>
			</div>
		</div>
		<!-- Field: Room preferance -->
		<div class="form-group travel_hotel_table-room_preferance" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Room preferance</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(room_preferance)%%></div>
			</div>
		</div>
		<!-- Field: Remarks -->
		<div class="form-group travel_hotel_table-remarks" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Remarks</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(remarks)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
