<!-- To change the layout of the detail view form, we recommend using JS code in hooks/vikas_startup_applications_table-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="vikas_startup_applications_table_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="vikas_startup_applications_table_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="vikas_startup_applications_table_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Startup name -->
				<div class="form-group vikas_startup_applications_table-startup_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="startup_name">Startup name</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="startup_name" id="startup_name" value="<%%VALUE(startup_name)%%>">
					</div>
				</div>

				<!-- Field: Email -->
				<div class="form-group vikas_startup_applications_table-email">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email">Email</label>
					<div class="col-lg-9">
						<div class="input-group">
							<input maxlength="255" type="text" class="form-control" name="email" id="email" value="<%%VALUE(email)%%>">
							<span class="input-group-btn">
								<button id="email-link" class="btn btn-default" type="button" title="<%%VALUE(email)%%>" onclick="if(this.title) window.open(`mailto:${this.title}`, '_blank')"><i class="glyphicon glyphicon-envelope"></i></button>
							</span>
						</div>
					</div>
				</div>

				<!-- Field: Incorporation date -->
				<div class="form-group vikas_startup_applications_table-incorporation_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="incorporation_date-dd">Incorporation date</label>
					<div class="col-lg-9">
						<%%COMBO(incorporation_date)%%>
					</div>
				</div>

				<!-- Field: Website URL (in any) -->
				<div class="form-group vikas_startup_applications_table-website_url">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="website_url">Website URL (in any)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="website_url" id="website_url" value="<%%VALUE(website_url)%%>">
					</div>
				</div>

				<!-- Field: Physical address -->
				<div class="form-group vikas_startup_applications_table-physical_address">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="physical_address">Physical address</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="physical_address" id="physical_address" value="<%%VALUE(physical_address)%%>">
					</div>
				</div>

				<!-- Field: Primary contact name -->
				<div class="form-group vikas_startup_applications_table-primary_contact_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="primary_contact_name">Primary contact name</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="primary_contact_name" id="primary_contact_name" value="<%%VALUE(primary_contact_name)%%>">
					</div>
				</div>

				<!-- Field: Primary Contact Email -->
				<div class="form-group vikas_startup_applications_table-email_1">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email_1">Primary Contact Email</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="email_1" id="email_1" value="<%%VALUE(email_1)%%>">
					</div>
				</div>

				<!-- Field: Mobile number -->
				<div class="form-group vikas_startup_applications_table-mobile_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="mobile_number">Mobile number</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="mobile_number" id="mobile_number" value="<%%VALUE(mobile_number)%%>">
					</div>
				</div>

				<!-- Field: Name(s) of Founders(s) -->
				<div class="form-group vikas_startup_applications_table-name_of_founders">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="name_of_founders">Name(s) of Founders(s)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="name_of_founders" id="name_of_founders" value="<%%VALUE(name_of_founders)%%>">
					</div>
				</div>

				<!-- Field: Founder(s) Mobile Number(s) -->
				<div class="form-group vikas_startup_applications_table-number_of_founders">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="number_of_founders">Founder(s) Mobile Number(s)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="number_of_founders" id="number_of_founders" value="<%%VALUE(number_of_founders)%%>">
					</div>
				</div>

				<!-- Field: Founders(s) Email Address(es) -->
				<div class="form-group vikas_startup_applications_table-email_of_founders">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="email_of_founders">Founders(s) Email Address(es)</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="email_of_founders" id="email_of_founders" value="<%%VALUE(email_of_founders)%%>">
					</div>
				</div>

				<!-- Field: Business Sector/Industry -->
				<div class="form-group vikas_startup_applications_table-business_sector">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="business_sector">Business Sector/Industry</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="business_sector" id="business_sector" value="<%%VALUE(business_sector)%%>">
					</div>
				</div>

				<!-- Field: Number of employees -->
				<div class="form-group vikas_startup_applications_table-number_of_employees">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="number_of_employees">Number of employees</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="number_of_employees" id="number_of_employees" value="<%%VALUE(number_of_employees)%%>">
					</div>
				</div>

				<!-- Field: Brief Description of Product/Service -->
				<div class="form-group vikas_startup_applications_table-brief_description_of_service">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="brief_description_of_service">Brief Description of Product/Service</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="brief_description_of_service" id="brief_description_of_service" rows=" 5"><%%VALUE(brief_description_of_service)%%></textarea>
					</div>
				</div>

				<!-- Field: Preferred Mode of Participation: (Please select one) -->
				<div class="form-group vikas_startup_applications_table-mode_of_incubation">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="mode_of_incubation">Preferred Mode of Participation: (Please select one)</label>
					<div class="col-lg-9">
						<%%COMBO(mode_of_incubation)%%>
					</div>
				</div>

				<!-- Field: Type of Workspace Desired -->
				<div class="form-group vikas_startup_applications_table-type_of_workspace_desired">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="type_of_workspace_desired">Type of Workspace Desired</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="type_of_workspace_desired" id="type_of_workspace_desired" rows=" 5"><%%VALUE(type_of_workspace_desired)%%></textarea>
					</div>
				</div>

				<!-- Field: Key areas of support -->
				<div class="form-group vikas_startup_applications_table-key_areas_of_support">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="key_areas_of_support">Key areas of support</label>
					<div class="col-lg-9">
						<textarea maxlength="65500" class="form-control" name="key_areas_of_support" id="key_areas_of_support" rows=" 5"><%%VALUE(key_areas_of_support)%%></textarea>
					</div>
				</div>

				<!-- Field: Declaration form link -->
				<div class="form-group vikas_startup_applications_table-declaration_form_link">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="declaration_form_link">Declaration form link</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="declaration_form_link" id="declaration_form_link" value="<%%VALUE(declaration_form_link)%%>">
					</div>
				</div>

				<!-- Field: Is your start up DPIIT registered -->
				<div class="form-group vikas_startup_applications_table-is_your_start_up_dpiit_registered">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="is_your_start_up_dpiit_registered">Is your start up DPIIT registered</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="is_your_start_up_dpiit_registered" id="is_your_start_up_dpiit_registered" value="<%%VALUE(is_your_start_up_dpiit_registered)%%>">
					</div>
				</div>

				<!-- Field: Incubation status -->
				<div class="form-group vikas_startup_applications_table-incubation_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="incubation_status">Incubation status</label>
					<div class="col-lg-9">
						<%%COMBO(incubation_status)%%>
					</div>
				</div>

				<!-- Field: Datetime -->
				<div class="form-group vikas_startup_applications_table-datetime">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="datetime">Datetime</label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input maxlength="22" type="text" class="form-control" name="datetime" id="datetime" value="<%%VALUE(datetime)%%>"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: Created By Username -->
				<div class="form-group vikas_startup_applications_table-created_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Created By Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="created_by_username"><%%VALUE(created_by_username)%%></div>
					</div>
				</div>

				<!-- Field: Last Updated by Username -->
				<div class="form-group vikas_startup_applications_table-last_updated_by_username">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Last Updated by Username</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="last_updated_by_username"><%%VALUE(last_updated_by_username)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2 dv-action-buttons" id="vikas_startup_applications_table_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#vikas_startup_applications_table_dv_container-loading').addClass('hidden');
			$j('#vikas_startup_applications_table_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('vikas_startup_applications_table', 'startup_name');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			vikas_startup_applications_tableUniqueFields.forEach(fieldName => enforce_uniqueness('vikas_startup_applications_table', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=vikas_startup_applications_table&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=vikas_startup_applications_table&id=<%%URLVALUE(id)%%>');
					}
				);
			}
		});

		var vikas_startup_applications_tableUniqueFields = [
		];
	</script>