<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Employee Details -->
		<div class="form-group work_from_home_table-emp_lookup" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Employee Details</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="emp_lookup<%%RND1%%>"><%%COMBOTEXT(emp_lookup)%%></span></div>
			</div>
		</div>
		<!-- Field: Purpose work from home -->
		<div class="form-group work_from_home_table-work_from_home_purpose" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Purpose work from home</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(work_from_home_purpose)%%></div>
			</div>
		</div>
		<!-- Field: From date -->
		<div class="form-group work_from_home_table-from_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">From date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(from_date)%%></div>
			</div>
		</div>
		<!-- Field: To date -->
		<div class="form-group work_from_home_table-to_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">To date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(to_date)%%></div>
			</div>
		</div>
		<!-- Field: Approved by -->
		<div class="form-group work_from_home_table-approved_by" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approved by</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="approved_by<%%RND1%%>"><%%COMBOTEXT(approved_by)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
