		<td colspan="14" class="row">
			<div id="work_from_home_tasks_app-id-<%%VALUE(id)%%>" class="work_from_home_tasks_app-id col-sm-12 h5 text-bold"><%%VALUE(id)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="work_from_home_tasks_app-approval_from-caption field-caption-tv">Approval From</dt>
					<dd id="work_from_home_tasks_app-approval_from-<%%VALUE(id)%%>" class="work_from_home_tasks_app-approval_from text-bold"><%%VALUE(approval_from)%%></dd>

					<dt class="work_from_home_tasks_app-work_from_home_details-caption field-caption-tv">Work From Home Details</dt>
					<dd id="work_from_home_tasks_app-work_from_home_details-<%%VALUE(id)%%>" class="work_from_home_tasks_app-work_from_home_details text-bold"><%%VALUE(work_from_home_details)%%></dd>

					<dt class="work_from_home_tasks_app-day-caption field-caption-tv">Day</dt>
					<dd id="work_from_home_tasks_app-day-<%%VALUE(id)%%>" class="work_from_home_tasks_app-day text-bold"><%%VALUE(day)%%></dd>

					<dt class="work_from_home_tasks_app-hour_from-caption field-caption-tv">Hour From</dt>
					<dd id="work_from_home_tasks_app-hour_from-<%%VALUE(id)%%>" class="work_from_home_tasks_app-hour_from text-bold"><%%VALUE(hour_from)%%></dd>

					<dt class="work_from_home_tasks_app-hour_to-caption field-caption-tv">Hour To</dt>
					<dd id="work_from_home_tasks_app-hour_to-<%%VALUE(id)%%>" class="work_from_home_tasks_app-hour_to text-bold"><%%VALUE(hour_to)%%></dd>

					<dt class="work_from_home_tasks_app-activity_undertaken-caption field-caption-tv">Activity Undertaken</dt>
					<dd id="work_from_home_tasks_app-activity_undertaken-<%%VALUE(id)%%>" class="work_from_home_tasks_app-activity_undertaken text-bold"><%%VALUE(activity_undertaken)%%></dd>

					<dt class="work_from_home_tasks_app-approval_status-caption field-caption-tv">Approval Status</dt>
					<dd id="work_from_home_tasks_app-approval_status-<%%VALUE(id)%%>" class="work_from_home_tasks_app-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="work_from_home_tasks_app-created_by-caption field-caption-tv">Created By</dt>
					<dd id="work_from_home_tasks_app-created_by-<%%VALUE(id)%%>" class="work_from_home_tasks_app-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="work_from_home_tasks_app-created_at-caption field-caption-tv">Created At</dt>
					<dd id="work_from_home_tasks_app-created_at-<%%VALUE(id)%%>" class="work_from_home_tasks_app-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="work_from_home_tasks_app-last_updated_by-caption field-caption-tv">Last Updated By</dt>
					<dd id="work_from_home_tasks_app-last_updated_by-<%%VALUE(id)%%>" class="work_from_home_tasks_app-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="work_from_home_tasks_app-last_updated_at-caption field-caption-tv">Last Updated At</dt>
					<dd id="work_from_home_tasks_app-last_updated_at-<%%VALUE(id)%%>" class="work_from_home_tasks_app-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

					<dt class="work_from_home_tasks_app-created_by_username-caption field-caption-tv">Created By Username</dt>
					<dd id="work_from_home_tasks_app-created_by_username-<%%VALUE(id)%%>" class="work_from_home_tasks_app-created_by_username text-bold"><%%VALUE(created_by_username)%%></dd>

					<dt class="work_from_home_tasks_app-last_updated_by_username-caption field-caption-tv">Last Updated by Username</dt>
					<dd id="work_from_home_tasks_app-last_updated_by_username-<%%VALUE(id)%%>" class="work_from_home_tasks_app-last_updated_by_username text-bold"><%%VALUE(last_updated_by_username)%%></dd>

				</dl>
			</div>
		</td>
