		<td colspan="9" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="work_from_home_table-id-caption field-caption-tv">ID</dt>
					<dd id="work_from_home_table-id-<%%VALUE(id)%%>" class="work_from_home_table-id text-right text-bold"><%%VALUE(id)%%></dd>

					<dt class="work_from_home_table-work_from_home_purpose-caption field-caption-tv">Purpose work from home</dt>
					<dd id="work_from_home_table-work_from_home_purpose-<%%VALUE(id)%%>" class="work_from_home_table-work_from_home_purpose text-bold"><%%VALUE(work_from_home_purpose)%%></dd>

					<dt class="work_from_home_table-from_date-caption field-caption-tv">From date</dt>
					<dd id="work_from_home_table-from_date-<%%VALUE(id)%%>" class="work_from_home_table-from_date text-bold"><%%VALUE(from_date)%%></dd>

					<dt class="work_from_home_table-to_date-caption field-caption-tv">To date</dt>
					<dd id="work_from_home_table-to_date-<%%VALUE(id)%%>" class="work_from_home_table-to_date text-bold"><%%VALUE(to_date)%%></dd>

					<dt class="work_from_home_table-approval_status-caption field-caption-tv">Approval status</dt>
					<dd id="work_from_home_table-approval_status-<%%VALUE(id)%%>" class="work_from_home_table-approval_status text-bold"><%%VALUE(approval_status)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="work_from_home_table-created_by-caption field-caption-tv">Created by</dt>
					<dd id="work_from_home_table-created_by-<%%VALUE(id)%%>" class="work_from_home_table-created_by text-bold"><%%VALUE(created_by)%%></dd>

					<dt class="work_from_home_table-created_at-caption field-caption-tv">Created at</dt>
					<dd id="work_from_home_table-created_at-<%%VALUE(id)%%>" class="work_from_home_table-created_at text-bold"><%%VALUE(created_at)%%></dd>

					<dt class="work_from_home_table-last_updated_by-caption field-caption-tv">Last updated by</dt>
					<dd id="work_from_home_table-last_updated_by-<%%VALUE(id)%%>" class="work_from_home_table-last_updated_by text-bold"><%%VALUE(last_updated_by)%%></dd>

					<dt class="work_from_home_table-last_updated_at-caption field-caption-tv">Last updated at</dt>
					<dd id="work_from_home_table-last_updated_at-<%%VALUE(id)%%>" class="work_from_home_table-last_updated_at text-bold"><%%VALUE(last_updated_at)%%></dd>

				</dl>
			</div>
		</td>
